
<script>
    function readURL(input) {
       

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                console.log('link: ' + e.target.result);
                $('#previewImage')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    $(".modal").modal({ backdrop: "static" });
</script>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="glyphicon glyphicon-plus" style="font-size: 18px;color: #e9edf0;"></i> Thêm mới hợp đồng</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addformhd" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions7">
            <div class="form-body">
                <!--<div class="row">-->
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Số hợp đồng</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Contract_Code" name="Contract_Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Số sổ lao động</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.LaborBook_Code" name="LaborBook_Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-tint"></i> Mức bảo hiểm</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Insuarance" name="Insuarance" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left" style="border:none"><i class="glyphicon glyphicon-time"></i> Ngày thanh toán</label>
                        <div class="bs-component col-md-8">
                            <div class="input-group date pick-date" data-date="2017-01-01T00:00:00Z" id="datetimepicker14">
                                <input type="text" class="form-control" ng-model="model.Dates_of_pay" name="Dates_of_pay"  style="border-top-right-radius: 0px !important;border-bottom-right-radius:0px !important" />
                                <span class="input-group-addon cursor" style="border-top-right-radius: 10px !important;border-bottom-right-radius:10px !important">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                        <script>
                            $('#datetimepicker14').datetimepicker({
                            });
                        </script>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Nơi làm việc</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.Place_Work" name="Place_Work" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Thời gian làm việc</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Exp_time_work" name="Exp_time_work" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-warning-sign"></i> Bậc lương</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Salary_Ratio" name="Salary_Ratio" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Thanh toán</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.Payment" name="Payment" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-tint"></i> Loại hợp đồng</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.Contract_Type" name="Contract_Type" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Nội dung công việc</label>
                        <div class="col-md-8">
                            <textarea rows="3" type="text" class="form-control"ng-model="model.Work_Content" name="Work_Content" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Thỏa thuận khác</label>
                        <div class="col-md-8">
                            <textarea rows="3 " type="text" class="form-control" ng-model="model.Other_Agree" name="Other_Agree" />
                        </div>
                    </div>


                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-warning-sign"></i> Người ký</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Signer_Id" name="Signer_Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Lương</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Salary" name="Salary" />
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-md-4 text-left" style="border:none"><i class="glyphicon glyphicon-time"></i> Thời gian bắt đầu</label>
                        <div class="bs-component col-md-8">
                            <div class="input-group date pick-date" data-date="2018-01-01T00:00:00Z" id="datetimepicker15">
                                <input type="text" class="form-control" ng-model="model.Start_Time" name="Start_Time"  style="border-top-right-radius: 0px !important;border-bottom-right-radius:0px !important" />
                                <span class="input-group-addon cursor" style="border-top-right-radius: 10px !important;border-bottom-right-radius:10px !important">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                        <script>
                            $('#datetimepicker15').datetimepicker();
                        </script>

                    </div>
                    <div class="form-group" >
                        <label class="control-label col-md-4 text-left" style="border:none"><i class="glyphicon glyphicon-time"></i> Thời gian kết thúc</label>
                        <div class="bs-component col-md-8">
                            <div class="input-group date pick-date" data-date="2018-01-01T00:00:00Z" id="datetimepicker16">
                                <input type="text" class="form-control" ng-model="model.End_Time" name="End_Time"  style="border-top-right-radius: 0px !important;border-bottom-right-radius:0px !important" />
                                <span class="input-group-addon cursor" style="border-top-right-radius: 10px !important;border-bottom-right-radius:10px !important">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                        <script>
                            $('#datetimepicker16').datetimepicker();
                        </script>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-warning-sign"></i> Phụ cấp</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.Allowance" name="Allowance" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Tiền thưởng</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Bonus" name="Bonus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Công cụ làm việc</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.Tools_Work" name="Tools_Work" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Kiểu tiền</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"  ng-model="model.Type_Money" name="Type_Money" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-floppy-open"></i> Tải lên</label>
                        <div class="col-md-8">
                            <input type="file" id="file" class="filestyle" accept=".png, .jpg, .jpeg, .gif, .bmp, .docx, .pdf, .xlsk" files-input ng-model="model.File" name="File" onchange="readURL(this);">
                            <script>
                                $(":file").filestyle({ buttonName: "btn btn-primary" });
                            </script>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Thông tin bảo hiểm</label>
                        <div class="col-md-8">
                            <textarea rows="3" type="text" class="form-control"  ng-model="model.Info_Insuarance" name="Info_Insuarance" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> Thông tin hợp đồng</label>
                        <div class="col-md-8">
                            <textarea rows="3" type="text" class="form-control" ng-model="model.Info_Contract" name="Info_Contract" />
                        </div>
                    </div>



                </div>

            </div>
        </form>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="form-group" style="text-align:right; margin-right: 16px;">
            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submitHD()"><i class="fa fa-edit"></i>Save</button>
            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-trash-o"></i>Hủy</button>
        </div>
    </div>

    </div>
