<div class="modal-header black" style="background: rgb(241, 241, 241);">
    <span class="modal-title fas fa-users fs15">&nbsp;&nbsp;Danh sách thành viên</span>
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post">
            <div class="form-body pb25 pt5">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th class="text-center">TT</th>
                                    <th class="text-center ">Thành viên</th>
                                    <th class="text-center">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listMember">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center">
                                        <b>{{x.GivenName}}</b><br />
                                    </td>
                                    <td class="text-center">
                                        <span ng-class="{'text-success':x.Active,'text-danger':!x.Active}">{{x.Active?'Đang sử dụng':'Không hoạt động'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
