@using ESEIM.Utils
@{
    //ViewData["Title"] = "Access Denied";
    ViewData["Title"] = "Truy cập không được phép";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .dashboard-stat2 {
        border-radius: 5px !important;
    }

    .app-content {
        width: 100%
    }

    .content-wrapper {
        height: 100%
    }
    .inner {
        width: 50%;
        margin: 0 auto;
        padding: 10px;
    }
</style>
<div style="height: 100%; width: 100%;">
    <div class="inner text-center" style="margin-top: 20%;">
        <span style="color:white; font-size:25px; background-color: red; padding: 30px; border-radius: 10px; font-weight: bold;">
            <i class="fa fa-exclamation-circle"></i> Không có quyền truy cập
        </span>
    </div>
</div>
