@model IdentityDemo.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<link href="~/lib/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/admin/site/login.css" rel="stylesheet" />
<link href="~/css/admin/site/helper.css" rel="stylesheet" />
<link href="~/lib/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/swork.ico" />
<div class="row" style="text-align:center">
    <div class="col-md-3 login_panel" style="margin-top:180px; padding-top:5px;">
        <h4 style="color:aliceblue">@ViewData["Title"]</h4>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email" class="pull-left" style="color:aliceblue; font-weight:300"></label>
                <input asp-for="Email" placeholder="Nhập email..." class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div style="margin-top:5px">
                <button type="submit" class="btn btn-login mb30 fs11">Gửi yêu cầu</button>
            </div>
        </form>
    </div>
        
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
