@*@page
@model ResetPasswordConfirmationModel*@
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    @*Your password has been reset. Please <a asp-page="Admin/Account/Login">click here to log in</a>.*@
    Your password has been reset. Please <a href="/Admin/Account/Login" class="forget-password fs11">click here to log in</a>
</p>
