@*@page*@
@model Localization.StarterWeb.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<link href="~/lib/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/admin/site/login.css" rel="stylesheet" />
<link href="~/css/admin/site/helper.css" rel="stylesheet" />
<link href="~/lib/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/swork.ico" />
<div class="row" style="text-align:center;">
    <div class="col-md-4 login_panel" style="margin-top:150px; padding-top:5px;">
        <form method="post">
            <h4 style="color:aliceblue">Reset your password</h4>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email" style="color:aliceblue; font-weight:300" class="pull-left"></label>
                <input asp-for="Email" placeholder="Email..." class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" style="color:aliceblue; font-weight:300" class="pull-left"></label>
                <input asp-for="Password" placeholder="Password..." class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" style="color:aliceblue; font-weight:300" class="pull-left"></label>
                <input asp-for="ConfirmPassword" placeholder="Confirm password..." class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-login mb30 fs11" style="padding-left:20px; padding-right:20px;">Reset</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
