@using Microsoft.AspNetCore.Http.Features
@{
    ViewData["Title"] = "Đăng ký lịch làm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section plugin_script{
    <script src="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet">
    <link href="~/lib/assets/global/plugins/fullcalendar-3.9.0/material-calender.min.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/front-end/calendarRegistration/controller.js" type="text/javascript"></script>