<div ng-controller="tabAttribute">
    <div class="table-toolbar hidden">
        <div class="row">
            <form name="addform" method="post" ng-validate="validationAttributeOptions">
                <div class="col-md-4">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label require">{{'MPAS_CURD_LBL_MPA_CODE' | translate}}</label>
                            <input class="form-control" name="Code" ng-model="model.Code" placeholder="{{'MPAS_CURD_LBL_MPA_CODE' | translate}}..." ng-disabled="isEditAttribute" />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.Code=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pl-0">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label require">{{'MPAS_CURD_LBL_MPA_NAME' | translate}}</label>
                            <input class="form-control" name="Name" ng-model="model.Name" placeholder="{{'MPAS_CURD_LBL_MPA_NAME' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.Name=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MPAS_CURD_LBL_MPA_DESCRIPTION' | translate}}</label>
                            <input class="form-control" name="Note" ng-model="model.Description" placeholder="{{'MPAS_CURD_LBL_MPA_DESCRIPTION' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.Note=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center pr10" ng-hide="isEditAttribute">
                            <a ng-disabled="ParentCode==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                        <div class="text-center pr10" ng-hide="!isEditAttribute">
                            <a ng-disabled="ParentCode==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                        <div class="text-center" ng-hide="!isEditAttribute">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttribute"></table>
</div>