<style>
    .nav-tabs {
        height: 36px;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #3c8dbc;
            color: #efecec;
            height: 35px;
        }
</style>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel1()"></span>
    <h3 class="modal-title" id="modal-title"><i class="fa fa-plus"> </i> {{'RMVTC_CURD_TITLE_ADD_TATBLE_SERVICE' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">

    <div class="portlet-body form">
        <form name="addform" id="form1" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">

                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-book"></i> {{'RMVTC_CURD_TXT_CODE_TABLE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.table_code" name="table_code_he" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-book"></i> {{'RMVTC_CURD_TXT_TABLE_NAME' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  ng-model="model.table_name" name="table_name" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-calendar"></i>{{'RMVTC_CURD_TXT_BEGIN_TIME_APPLY' | translate}}</label>
                            <div class="col-md-8">
                                <div class="bs-component">
                                    <div class="input-group date pick-date">
                                        <input class="form-control" data-val="true" name="NextTimeCheck" type="text" ng-model="model.begin_time_apply" id="datetimepicker2">
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.begin_time_apply = undefined" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                                <script>

                                        $('#datetimepicker2').datetimepicker({ pickTime: false, format: 'DD/MM/YYYY' });
                                </script>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-calendar"></i> {{'RMVTC_CURD_LBL_END_TIME_APPLY' | translate}}</label>
                            <div class="col-md-8">
                                <div class="bs-component">
                                    <div class="input-group date pick-date">
                                        <input class="form-control" data-val="true" name="NextTimeCheck" type="text" ng-model="model.end_time_apply" id="datetimepicker3">
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.end_time_apply = undefined" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                                <script>

                                    $('#datetimepicker3').datetimepicker({ pickTime: false, format: 'DD/MM/YYYY' });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-exclamation" aria-hidden="true"></i>&nbsp;{{'RMVTC_CURD_LBL_STATUS' | translate}}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select ng-model="model.status" class="" style="width: 100%;">
                                        <ui-select-match placeholder="{{'RMVTC_CURD_TXT_STATUS' | translate}}...">{{$select.selected.value}}</ui-select-match>
                                        <ui-select-choices repeat="x.status1 as x in names1 | filter:$select.value">
                                            {{x.value}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.status = ''" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-user"></i> {{'RMVTC_CURD_LBL_APPROVER_ID' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  ng-model="model.appover_id" name="appover_id" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-sticky-note"></i> {{'RMVTC_CURD_LBL_NOTE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.note" name="note_he" />
                            </div>

                        </div>

                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="padding-top:10px;padding-right:15px">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submit()">{{'COM_BTN_ADD' | translate}}</button>
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel1()"> {{'COM_CONFIRM_CANCEL' | translate}}</button>
    </div>

</div>
