<div class="portlet-body">
    <div class="table-toolbar">
        <div class="row">

        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label>{{'RMVTC_CURD_LBL_CODE_NAME_TABLE' | translate}}</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date" id="">
                            <input type="text" class="form-control" ng-model="model.Key" name="service_name" />

                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Key = undefined" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top:26px">
                <button class="btn btn-primary" style=" border-radius:5px !important;" ng-click="reload()"><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}} </button>
            </div>
            <div class="col-md-5" style="padding-top:26px">
                <div class="btn-group pull-right actions">
                    <a class="btn btn-danger" ng-click="add()" title="Thêm mới"><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</a>
                    <!--<a class="btn btn-circle btn-icon-only btn-default" ng-click="edit()" title="Sửa" style="background: #5b8ed0; color: white;"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="deleteChecked()" style="background: #ec4e56; color: white;"><i class="fa fa-lock"></i></a>
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="reload()" title="Refresh data"><i class="fa fa-refresh"></i></a>-->
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" style="padding:10px; background:white">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblResourceData" style="width:100%"></table>
    </div>
</div>

