@using ESEIM.Utils
@{
    ViewData["Title"] = "Danh mục kế hoạch công việc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/admin/vcWorkPlan/controller.js" type="text/javascript"></script>