<form method="post" name="forms.advancedForm" class="form-horizontal" ng-validate="validationOptionsAdvanced">
    <div class="form-body">
        <h4 class="form-section fw600 text-center">
            <!--<span class="pull-left">
                <i class="fas fa-user-plus"></i> Thông tin bổ sung
            </span>-->
            <span class="pull-right" style="padding: 0px 10px 0px 0px;">
                <a ng-click="openMap()" title="Bản đồ" class="btn btn-circle btn-icon-only btn-round-red">
                    <i class="fas fa-map-marker-alt fs15"></i>
                </a>
            </span>
            <b style="font-size:x-large">Đăng ký thông tin bổ sung</b>
        </h4>
        <div class="row">
            <style>
                .tags {
                    height: 70px !important;
                    max-height: 70px;
                }
            </style>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kỹ năng chính</label>
                    <tags-input add-on-enter="true"  use-strings="true"   placeholder="Kỹ năng chính" ng-model="modelInfoMore.MainSkill" ></tags-input>
                </div>
                <div class="form-group">
                    <label class="control-label require">Thời gian thực tập(Nhập bằng chữ)</label>
                    <input type="text" name="MainPracticeTime" class="form-control" placeholder="Thời gian thực tập..." ng-model="modelInfoMore.MainPracticeTime">
                </div>
                <div class="form-group">
                    <label>Thông tin laptop</label>
                    <textarea type="text" name="LaptopInfo" class="form-control" ng-model="modelInfoMore.LaptopInfo" placeholder="Thông tin cấu hình laptop đang sử dụng..."></textarea>
                </div>
                <div class="form-group">
                    <label>Khả năng</label>
                    <div class="form-group br4" style="border: 1px solid #d4d4d4;padding: 8px;">
                        <div class="col-md-6 row" ng-repeat="x in listSkill">
                            <label class="mt-checkbox mt-checkbox-outline fs12 fw600" style="margin: 0px 0px 5px 15px!important ;">
                                <input type="checkbox" ng-model="x.Check"> {{x.Name}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kỹ năng phụ</label>
                    <tags-input add-on-enter="true" use-strings="true" min-length="0" placeholder="Kỹ năng phụ" ng-model="modelInfoMore.SubSkill" ></tags-input>
                </div>
                <div class="form-group">
                    <label>Nơi làm việc</label>
                    <input type="text" name="workplace" class="form-control" placeholder="Nơi làm việc..." ng-model="modelInfoMore.WorkPlace">
                </div>
                <div class="form-group">
                    <label>Thông tin điện thoại</label>
                    <textarea type="text" name="SmartphoneInfo" class="form-control" ng-model="modelInfoMore.SmartphoneInfo" placeholder="Thông tin cấu hình điện thoại đang sử dụng..."></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label require">Lương mong muốn</label>
                    <input ng-model="modelInfoMore.SalaryHope" class="form-control" name="SalaryHope" placeholder="Nhập mức lương mong muốn..." num-thousand='true' awnum num-int='21'>
                </div>
                <div class="form-group">
                    <label class="control-label require">Ngày bắt đầu làm</label>
                    <div class='input-group date' id="can-join-date" data-provide="datepicker">
                        <input ng-model="modelInfoMore.CanJoinDate" type='text' class="form-control" name="CanJoinDate" placeholder="Ngày bắt đầu làm việc" />
                        <span class="input-group-addon" style="border: 1px solid #ccc; border-left: 0px">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Vị trí ứng tuyển</label>
                    <input ng-model="modelInfoMore.LanguageUse" class="form-control" name="LanguageUse" placeholder="Vị trí ứng tuyển..">
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn-group pull-right actions row mt10">
                    <div class="text-center pr10">
                        <div class="btn-group pull-right actions">
                            <a ng-click="submitNextTab(2)" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">Lưu lại</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


