<style>
    .node {
        height: 50px;
        width: 50px;
        font-size: 27px;
        font-weight: bold;
        color: white;
        border-width: 7px;
        /* border: solid; */
        border-radius: 30px;
        padding-top: 5px;
        margin-left: -26px;
        margin-top: -10px;
        background: bisque;
    }

    .text-node {
        font-size: 12px !important;
        font-weight: bold;
    }

    .next_icon {
        font-size: 40px;
        color: #817aec;
        margin-top: 12px;
        /*margin-left: 30px;*/
    }

    .scroll_right {
        overflow-x: scroll;
        height: 100px;
        overflow-y: hidden;
    }

    .width_165 {
        width: 165px;
    }

    .icon {
        font-size: 45px;
        margin-top: 10px;
    }

    .check {
        background: #03bb03 !important;
    }

    .pause {
        background: #e6ad0c !important;
    }

    .waitting {
        background: #676363 !important;
    }

    .text_check {
        color: #03bb03 !important;
    }

    .text_pause {
        color: #e6ad0c !important;
    }

    .border_bottom {
        border-bottom: groove;
        margin-bottom: 0px !important;
    }
    .style_icon {
        width: 8%;
        float: left;
    }
    .style_content {
        width: 95%;
        float: right;
    }
    .float_left_30 {
        width: 30%;
        float: left;
    }
    .right_25 {
        width: 25%;
    }
    .right_30 {
        width: 30%;
    }
    .style_time {
        background: #f70909;
        border-radius: 5px;
        padding-left: 10px;
        color: white;
        font-weight: bold !important;
        padding-right: 10px;
    }
    style_time_status {
        padding-left: 10px;
        font-weight: bold;
    }
    .font_size_7 {
        font-size: 7px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title text-limit" id="modal-title"> {{'ASSET_INVENTORY_TITLE_FORLOW_STATUS' | translate}}</span>
</div>
<div class="modal-body userFormAreaHeader form-horizontal" style="height:650px;">
    <div class="portlet-body form">
        <!--<div class="col-lg-12 pt25 scroll_right">
            <div class="btn-group" ng-repeat="x in listStatusObj">
                <div class="width_165">
                    <div class="text-center" style="float:left; width:125px;">
                        <i class="fas fa-check-circle icon check" ng-if="x.Status == 'DONE'"></i>
                        <i class="far fa-pause-circle icon pause" ng-if="x.Status == 'PAUSE'"></i>
                        <i class="fas fa-hourglass-half icon waitting" ng-if="x.Status == ''"></i>
                        <p class="text-underline pt3 text-node check" ng-if="x.Status == 'DONE'">{{x.ActName}}</p>
                        <p class="text-underline pt3 text-node pause" ng-if="x.Status == 'PAUSE'">{{x.ActName}}</p>
                        <p class="text-underline pt3 text-node waitting" ng-if="x.Status == ''">{{x.ActName}}</p>
                    </div>
                    <div class="" style="float:right; width:40px;">
                        <span ng-if="$index<(listStatusObj.length-1)">
                            <i class="fas fa-long-arrow-alt-right next_icon" ng-if="x.Status != '' && x.Status != 'PAUSE'"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-md-12 pt25 pr20 pl30" style="">
            <div class="col-md-12">
                <div class="row ml-0 mr-0" ng-repeat="x in listStatusObj">
                    <div class="form-group mr-0 ml-0" style="margin-bottom:0px !important; ">
                        <div class="style_icon">
                            <label class="node text-center check" ng-if="x.Status == 'STATUS_SUCCESS_ACT'">{{$index + 1}}</label>
                            <label class="node text-center pause" ng-if="x.Status == 'STATUS_EDIT_ACT'">{{$index + 1}}</label>
                            <label class="node text-center waitting" ng-if="x.Status == ''">{{$index + 1}}</label>
                        </div>
                        <div class="form-group style_content pt5">
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;{{'ASSET_INVENTORY_LBL_ACTIVITY' | translate}}: {{x.ActName}}</label>
                            </div>
                            <div class="row">
                                <label class="float_left_30 bold text_check" ng-if="x.Status == 'STATUS_SUCCESS_ACT'"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'ASSET_INVENTORY_ASSET_STATUS' | translate}}: {{x.StatusName}}</label>
                                <label class="float_left_30 bold text_pause" ng-if="x.Status == 'STATUS_EDIT_ACT'"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'ASSET_INVENTORY_ASSET_STATUS' | translate}}: {{x.StatusName}}</label>
                                <label class="float_left_30 bold " ng-if="x.Status == ''"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'ASSET_INVENTORY_ASSET_STATUS' | translate}}: </label>
                                <label class="style_time_status bold">{{'ASSET_INVENTORY_LBL_UPDATE_END' | translate}}: {{x.UpdatedTime}}</label>
                            </div>
                            <div class="row">
                                <label class="float_left_30 bold"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;{{'ASSET_INVENTORY_LBL_TIME' | translate}}: {{x.LimitTime}},</label>
                                <label class=" style_time bold" ng-if="x.Status == 'STATUS_EDIT_ACT'">{{'ASSET_INVENTORY_LBL_TIME_LIMIT'|translate}}: &nbsp;{{x.LimitTimePre}} &nbsp;{{x.Unit}}</label>
                            </div>
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;{{'ASSET_INVENTORY_LBL_DEPART' | translate}}: {{x.Department}}</label>
                            </div>
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;{{'ASSET_INVENTORY_LBL_EMPLOYE' | translate}}: {{x.Employe}}</label>
                            </div>
                            <label class="bold" style="margin-left: 18%; margin-bottom: 0px;" ng-if="$index < (listStatusObj.length-1)">________________________________________________________________________</label>
                        </div>
                    </div>
                    <!--<div class="form-group mr-0 ml-0" ng-if="$index == (listStatusObj.length-1)">
                        <div class="style_icon">
                            <label class="node text-center check" ng-if="x.Status == 'DONE'">{{x.Priority}}</label>
                            <label class="node text-center pause" ng-if="x.Status == 'PAUSE'">{{x.Priority}}</label>
                            <label class="node text-center waitting" ng-if="x.Status == ''">{{x.Priority}}</label>
                        </div>
                        <div class="form-group style_content pt5">
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;Hoạt động: </label>
                            </div>
                            <div class="row">
                                <label class="float_left_30 bold text_check" ng-if="x.Status == 'DONE'"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;Trạng thái: </label>
                                <label class="float_left_30 bold text_pause" ng-if="x.Status == 'PAUSE'"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;Trạng thái: </label>
                                <label class="float_left_30 bold " ng-if="x.Status == ''"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;Trạng thái: </label>
                                <label class="right_30 style_time_status bold">Cập nhật cuối: </label>
                            </div>
                            <div class="row">
                                <label class="float_left_30 bold"><i class="fas fa-circle font_size_7"></i>&nbsp;&nbsp;Thời gian: </label>
                                <label class="right_25 style_time bold">Thời gian còn lại: </label>
                            </div>
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;Bộ phận: </label>
                            </div>
                            <div class="row">
                                <i class="fas fa-circle font_size_7"></i>
                                <label class="bold">&nbsp;Nhân sự: </label>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
