<div ng-controller="file">
    <div class="table-toolbar">
        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="mt-action-5">
                <!--<div class="col-md-3">
                    <div class="form-group mr5">
                        <label class="control-label">Tiêu đề</label>
                        <input ng-model="model.Title" class="form-control" type="text" placeholder="Tiêu đề..." />
                    </div>
                </div>-->
                <div class="col-md-3  form-group mr5">
                    <label class="control-label">{{'SUP_CURD_TAB_FILE_LBL_FROMDATE' | translate}}</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control input-date" ng-model="model.FromDate" placeholder="{{'SUP_CURD_TAB_FILE_TXT_FROMDATE' | translate}}..." id='FromDate' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3  form-group mr5">
                    <label class="control-label">{{'SUP_CURD_TAB_FILE_LBL_TODATA' | translate}}</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control input-date" ng-model="model.ToDate" placeholder="{{'SUP_CURD_TAB_FILE_TXT_TODATE' | translate}}..." id='ToDate' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 pull-right actions " style="margin-right:-7px">
                    <a ng-disabled="ProductID==''" ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom   pull-right" style="width:40px !important; height:40px !important">
                        <span><i class="fa fa-plus fs12" style="width:30px !important; height:30px !important; margin-top:5px"></i></span>
                    </a>
                    <a ng-disabled="ProductID==''" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom  pull-right " style="width:40px !important; height:40px !important">
                        <span><i class="fa fa-search" style="width:30px !important; height:30px !important; margin-top:5px"></i></span>
                    </a>
                </div>

            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>