<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'HR_HR_MAN_LIST_ADDRESS' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <table class="table table-bordered" id="tblFileRequest">
            <thead>
                <tr>
                    <th class="col-md-2 text-center fw600 text-underline">{{'HR_HR_MAN_INDEX' | translate}}</th>
                    <th class="col-md-10 text-center fw600 text-underline">{{'HR_HR_MAN_ADDRESS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listAddress">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center"><p>{{x.Address}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>