@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Nhân sự";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

    var session = HttpContextAccessor.HttpContext.GetSessionUser();

    bool hasPermissionHrInsert = session.HasPermission(CommonUtil.Controller_HREmployee, CommonUtil.Action_Insert);
    bool hasPermissionHrUpdate = session.HasPermission(CommonUtil.Controller_HREmployee, CommonUtil.Action_Update);
    bool hasPermissionHrDelete = session.HasPermission(CommonUtil.Controller_HREmployee, CommonUtil.Action_Delete);
}

@section plugin_script {
    <script src="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/lib/assets/global/plugins/tinymce/config.tinymce.js"></script>
    <script src="~/lib/assets/global/plugins/angulerjs-scroll/angular-scroll.js"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/angulerjs-taginput/ng-tags-input.min.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script>
    var PERMISSION_HR= {
        Insert: @(hasPermissionHrInsert ? "true" : "false"),
        Update: @(hasPermissionHrUpdate ? "true" : "false"),
        Delete: @(hasPermissionHrDelete ? "true" : "false"),
    };
</script>
<script src="~/views/admin/hrEmployee/controller.js" type="text/javascript"></script>
