
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


@*@section  breadcrumbs{

        <div class="breadcrumbs">
            <h1>Quản lý ứng dụng</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>
                    <a href="#">Tài nguyên</a>
                </li>
                <li class="active">Quản lý ứng dụng</li>
            </ol>
        </div>

    }*@
<style>
    thead {
        background: black;
        color: white;
    }
</style>
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/admin/RMSettingOnOff/controller.js" type="text/javascript"></script>
