<style>
    .app-content{
        width: 100%;
    }
</style>
<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;">{{'COM_MENU_CUSTOMER' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="EDMSCustomer#">{{'CUS_LINK_CUS' | translate}}</a>
                </li>
            </ul>
            <div class="btn-group pt5 pb-1 pull-right actions d-flex">
                <div class="pr-2" ng-show="!isSearch" ng-click="showSearch()">
                    <button class="btn gold-custom br4">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH'| translate}}
                    </button>
                </div>
                <div class="pr-2">
                    <button class="btn green-custom br4" ng-click="add()">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD'| translate}}
                    </button>
                </div>
                <div class="">
                    <button class="btn red-custom br4" ng-click="addCardJob()">
                        <i class="fa fa-trello"></i>
                        {{'COM_BTN_ADD_CAR'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_CUSCODE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.CustomerCode" class="form-control" type="text" placeholder="{{'CUS_CURD_TXT_SEARCH_CUSCODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerCode='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_CUSNAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.CustomerName" class="form-control" type="text" placeholder="{{'CUS_CURD_TXT_SEARCH_CUSNAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerName='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_CUSMOBIEPHONE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.CustomerPhone" class="form-control" type="text" placeholder="{{'CUS_CURD_TXT_SEARCH_CUSMOBIEPHONE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerPhone='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_CUSEMAIL' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.CustomerEmail" class="form-control" type="text" placeholder="{{'CUS_CURD_TXT_SEARCH_CUSEMAIL' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerEmail='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_CUSGROUP' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.CustomerGroup" theme="bootstrap">
                            <ui-select-match placeholder="{{'CUS_CURD_COMBO_SEARCH_CUSGROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in CustomerGroup | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerGroup='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm"></i>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_STATUS' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.CustomerActivityStatus" theme="bootstrap">
                            <ui-select-match placeholder="{{'CUS_CURD_COMBO_SEARCH_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in CustomerStatusData | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerActivityStatus='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'CUS_CURD_LBL_SEARCH_ADDRESS' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Address" id="Address" class="form-control" type="text" placeholder="{{'CUS_CURD_TXT_SEARCH_ADDRESS' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Address='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center pr10">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblDataIndex"></table>
