<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-edit"></i>
    <span class="modal-title" id="modal-title">{{'FEA_TITLE_INFOR_LOG' | translate}}</span>
</div>
<div class="modal-body h-400 p-0" id="modal-body">
    <div ng-jsoneditor="onLoad" ng-model="obj.data" options="obj.options" class="h-400"></div>
    <!--<table class="table table-striped table-bordered table-hover hidden">
        <thead>
            <tr>
                <th style="width:5% !important">STT</th>
                <th style="width:50% !important">Nội dung</th>
                <th style="width:10% !important">Người tạo</th>
                <th style="width:15% !important">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in logs">
                <td>{{$index+1}}</td>
                <td><textarea rows="5" style="width:100% !important">{{x.Body}}</textarea></td>
                <td>{{x.CreatedBy}}</td>
                <td>{{x.CreatedTime}}</td>
            </tr>
        </tbody>
    </table>-->
</div>
