@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Thuộc tính sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    bool hasPermissionMaterialProductsGroupInsert = session.HasPermission(CommonUtil.Controller_MaterialProductGroup, CommonUtil.Action_Insert);
    bool hasPermissionMaterialProductsGroupUpdate = session.HasPermission(CommonUtil.Controller_MaterialProductGroup, CommonUtil.Action_Update);
    bool hasPermissionMaterialProductsGroupDelete = session.HasPermission(CommonUtil.Controller_MaterialProductGroup, CommonUtil.Action_Delete);
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script>
    var PERMISSION_MATERIAL_PRODUCT_GROUP = {
        Insert: @(hasPermissionMaterialProductsGroupInsert ? "true" : "false"),
        Update: @(hasPermissionMaterialProductsGroupUpdate ? "true" : "false"),
        Delete: @(hasPermissionMaterialProductsGroupDelete ? "true" : "false"),
    };
</script>
<script src="~/views/admin/materialProductAttributeMain/controller.js" type="text/javascript"></script>
