@using ESEIM.Utils
@{
    ViewData["Title"] = "Giải trí";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_style{
    <link href="/lib/game/css/reset.css" rel="stylesheet" />
    <link href="/lib/game/css/main.css" rel="stylesheet" />
}
@section plugin_script{
    <script type="text/javascript" src="/lib/game/js/createjs-2014.12.12.min.js"></script>
    <script type="text/javascript" src="/lib/game/js/ctl_utils.js"></script>
    <script type="text/javascript" src="/lib/game/js/sprite_lib.js"></script>
    <script type="text/javascript" src="/lib/game/js/settings.js"></script>
    <script type="text/javascript" src="/lib/game/js/CLang.js"></script>
    <script type="text/javascript" src="/lib/game/js/CPreloader.js"></script>
    <script type="text/javascript" src="/lib/game/js/CMain.js"></script>
    <script type="text/javascript" src="/lib/game/js/CTextButton.js"></script>
    <script type="text/javascript" src="/lib/game/js/CToggle.js"></script>
    <script type="text/javascript" src="/lib/game/js/CGfxButton.js"></script>
    <script type="text/javascript" src="/lib/game/js/CMenu.js"></script>
    <script type="text/javascript" src="/lib/game/js/CGame.js"></script>
    <script type="text/javascript" src="/lib/game/js/CVector2.js"></script>
    <script type="text/javascript" src="/lib/game/js/CFormatText.js"></script>
    <script type="text/javascript" src="/lib/game/js/CInterface.js"></script>
    <script type="text/javascript" src="/lib/game/js/CHelpPanel.js"></script>
    <script type="text/javascript" src="/lib/game/js/CEndPanel.js"></script>
    <script type="text/javascript" src="/lib/game/js/CWheel.js"></script>
    <script type="text/javascript" src="/lib/game/js/CLeds.js"></script>
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/rotation/controller.js" type="text/javascript"></script>
