<style>
    .flex-container {
        padding: 15px;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .selected {
        background: #308cea !important;
        font-weight: bold !important;
    }


    .flex-item {
        background: #9e8b73;
        width: 50px;
        border-radius: 4px;
        height: 50px;
        margin: 5px;
        line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

        .flex-item:hover {
            background: #53afe8;
        }

    .flex-box {
        padding: 15px;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .item-box {
        /*width: 50px;
        height: 50px;*/
        margin: 5px;
        line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

        .item-box :hover {
            background: #53afe8;
        }

    .item-box-text, .item-box-text:hover {
        background: none !important;
        position: absolute;
        top: 18px;
        left: 30%;
        right: auto;
        color: white;
        font-size: 14px;
    }

    #inforWareHouse {
        max-height: 320px;
        height: 290px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

        #inforWareHouse .header {
            background: #9e8b73;
            height: 40px;
            margin-left: 0;
            margin-right: 0;
            border-bottom: solid 3px #0082c4;
            color: #ffffff;
            padding: 5px;
            font-size: 18px;
            font-weight: bold;
        }

    .box-push {
        padding: 5px;
        margin-bottom: 5px;
        color: #fff;
        background: #b88b50;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <img src="../../../images/wareHouse/orderStore.png" height="30" width="30" />
    <!--<i class="fas fa-store" style="padding-top:10px;font-size:20px"></i>-->
    <span class="modal-title" id="modal-title">{{'MIS_TITLE_SORT_WAREHOUSE_IMPORT_BILL' | translate}} cho sản phẩm <span class="text-danger">{{model.ProductName}}</span></span>
</div>
<div id="modal-body">
    <div class="portlet-body form">
        <form name="addform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="require">{{'MIS_CURD_LBL_LINE_CODE' | translate}}</label>
                            <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.LineCode" theme="bootstrap" ng-change="changeSelect('LINE',model.LineCode)">
                                <ui-select-match placeholder="{{'MIS_LIST_COL_CHOSE_LINE_CODE' | translate}}">{{$select.selected.LineCode}}</ui-select-match>
                                <ui-select-choices repeat="x.LineCode as x in listLine | filter: $select.search">
                                    {{x.LineCode}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0">
                        <div class="form-group">
                            <label class="require">{{'MIS_CURD_LBL_RACK_CODE' | translate}}</label>
                            <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.RackCode" theme="bootstrap" ng-change="changeSelect('RACK',model.RackCode)">
                                <ui-select-match placeholder="{{'MIS_CURD_TXT_RACK_CODE' | translate}}">{{$select.selected.RackName}}</ui-select-match>
                                <ui-select-choices repeat="x.RackCode as x in listRack | filter: $select.search">
                                    {{x.RackName}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0">
                        <div class="table-toolbar pb15">
                            <label class="require">{{'MIS_CURD_LBL_SHELF_POSITION' | translate}}</label>
                            <input class="form-control" ng-model="model.RackPosition" placeholder="{{'MIS_CURD_LBL_RACK_POSITION' | translate}}..." />
                        </div>
                    </div>
                    <div class="col-md-3 pl-0">
                        <div class="form-group">
                            <label class="control-label">{{'MIS_LIST_ROLL_BOX' | translate}}</label>
                            <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.ProductCoil" theme="bootstrap" on-select="changeCoil($item)">
                                <ui-select-match placeholder="{{'MIS_TXT_SELECT_ROLL_BOX' | translate}}">{{$select.selected.sProductCoil}}</ui-select-match>
                                <ui-select-choices repeat="x.ProductCoil as x in listCoil | filter: $select.search">
                                    {{x.sProductCoil}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-1 pl-0">
                        <div class="table-toolbar pb15">
                            <label class="require">{{'MIS_LBL_SIZE' | translate}}</label>
                            <!--<label class="require">{{'MIS_LIST_COL_QUANTITY' | translate}}</label>-->
                            <input class="form-control" ng-model="model.Quantity" type="number" />
                        </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <div class="text-center pull-left pt20 mr10" ng-click="add()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span class="fs12 fa fa-plus"></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'MIS_CURD_LBL_ODERING_PRODUCT' | translate}}</p>
                        </div>
                        <div class="text-center pull-left pt20" ng-click="orderingProduct()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span class="fs12 fa fa-save"></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'MIS_LIST_ROLL_BOX' | translate}}</label>
                            <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.ProductCoil" theme="bootstrap" on-select="changeCoil($item)">
                                <ui-select-match placeholder="{{'MIS_TXT_SELECT_ROLL_BOX' | translate}}">{{$select.selected.sProductCoil}}</ui-select-match>
                                <ui-select-choices repeat="x.ProductCoil as x in listCoil | filter: $select.search">
                                    {{x.sProductCoil}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblListProduct">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'MIS_LIST_COL_STT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_CODE_PRODUCT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_NAME_PRODUCT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_QUANTITY' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_CREATOR' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_DATE_CREATED' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_ACTION_MIS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="{{x.Id}}" ng-repeat="x in listProducts" ng-click="editItem(x)">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center">{{x.ProductQrCode}}</td>
                                    <td class="text-center">{{x.AttributeName}}</td>
                                    <td class="text-center">{{x.Quantity}}</td>
                                    <td class="text-center">{{x.CreatedBy}}</td>
                                    <td class="text-center">{{x.CreatedTime}}</td>
                                    <td class="text-center">
                                        <button title="Xóa" ng-click="removeItem($index)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45);" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblListProduct">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'MIS_LIST_COL_STT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_CODE_PRODUCT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_NAME_PRODUCT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_LOCATION' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIST_ROLL_BOX' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'KL còn lại' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'MIS_LIST_COL_ACTION_MIS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="{{x.Id}}" ng-repeat="x in model.ListCoil" ng-click="editItem(x)">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{x.ProductQrCode}}</td>
                                    <td class="text-left">{{model.ProductName}}</td>
                                    <td class="text-left">{{x.PositionInStore}}</td>
                                    <td class="text-center">{{x.sProductCoil}}</td>
                                    <td class="text-center">{{x.Remain|number}}</td>
                                    <td class="text-center">
                                        <button title="Xóa" ng-click="removeItem($index)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45);" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

