<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="bold mb-0">{{'VCLC_SOS_TITLE_SOS' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Admin/VCChart">{{'VCLC_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'VCLC_SOS_TITLE_SOS' | translate}}</div>
                </li>
            </ul>
        </div>
        <!--<div class="col-lg-8 text-right">
            <a class="btn btn-accent btnSearch">
                <i class="fa fa-search"></i>Tìm kiếm
            </a>
        </div>-->
    </div>
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <!--<img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />-->
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'VCLC_SOS_CURD_LBL_FROM_DAY' | translate}}</label>
                    <div class="input-group">
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{'VCLC_SOS_CURD_TXT_FROM_DAY' | translate}}..." ng-model="model.FromDate" id="DateFrom">
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'VCLC_SOS_CURD_LBL_TO_DAY' | translate}}</label>
                    <div class='input-group '>
                        <input type='text' autocomplete="off" class="form-control " ng-model="model.ToDate" placeholder="{{'VCLC_SOS_CURD_TXT_TODAY' | translate}}..." id='DateTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-3" style="padding-top:23px">
                    <div class="btn-group">
                        <a class="btn btn-accent" ng-click="reload()">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </a>
                    </div>
                </div>-->
                <div class="col-md-3">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center">
                            <a ng-click="reload()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger">{{'VCLC_SOS_MSG_TIP' | translate}}</span>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
