
<script>
    function readURL(input) {
        //alert('fine');
        if (input.files && input.files[0]) {
            debugger
            var reader = new FileReader();

            reader.onloadend = function (e) {
               
                console.log('link: ' + input.files[0].name);
                $('#Image')
                    .attr('value', input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
    span.buttonText {
        font-size: 10px;
    }

    .form .form-bordered .form-group > div {
        padding: 5px;
    }

    .form .form-bordered .form-group .control-label {
        padding-top: 5px;
    }

    div#modal-body {
        overflow-y: scroll;
        max-height: 95%;
        height: 330px !important;
    }
</style>

<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="glyphicon glyphicon-edit" style="font-size: 18px;color: #e9edf0;"></i> {{'RMJNA_CURD_TITLE_EDIT' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editformFILE" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions1">
            <div class="form-body">
                <!--<div class="row">
    <div class=" col-md-6">-->
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> {{'RMJNA_CURD_LBL_FILE_CODE' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.file_code" name="file_code" placeholder="{{'RMJNA_CURD_TXT_FILE_CODE' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> {{'RMJNA_CURD_LBL_FILE_NAME' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.file_name" name="file_name" placeholder="{{'RMJNA_CURD_TXT_FILE_NAME' | translate}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-tint"></i> {{'RMJNA_CURD_LBL_FILE_TITLE' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"  ng-model="model.file_title" name="file_title" placeholder="{{'RMJNA_CURD_TXT_FILE_TITLE' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-warning-sign"></i> {{'RMJNA_CURD_LBL_FILE_NOTE' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"  ng-model="model.file_note" name="file_note" placeholder="{{'RMJNA_CURD_TXT_FILE_NOTE' | translate}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-file"></i> {{'RMJNA_CURD_LBL_FILE_CAT_CODE' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"  ng-model="model.file_cat_code" name="file_cat_code" placeholder="{{'RMJNA_CURD_TXT_FILE_CAT_CODE' | translate}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-floppy-open"></i>{{'COM_UPLOAD' | translate}}</label>
                    <div class="col-md-8 ">

                        <!--<input id="Image" type="text" class="form-control" value="{{model.file_path}}" />

    <input type="file" id="file" class="filestyle" accept=".png, .jpg, .jpeg, .gif, .bmp, .docx, .pdf, .xlsk" files-input ng-model="model.file_path" name="file_path" onchange="readURL(this);">-->
                        <!--<script>
     $(":file").filestyle({ buttonname: "btn btn-primary" });
    </script>-->
                        <!--<div class="col-md-8 form-col-control" style="border-left:none">-->
                        <input id="Image" type="text" disabled class="form-control" value="{{model.file_path}}" />
                        <div class="input-group input-file">

                            <!--<span class="input-group-addon">-->
                            <a href='javascript:;' style="height: 100px;width: 100px;">
                                <input type="file" id="file" class="form-control" accept=".png, .jpg, .jpeg, .gif, .bmp, .docx, .pdf, .xlsk" files-input ng-model="model.file_path" name="file_path" onchange="readURL(this);" style="    width: 100px;border: none;">
                            </a>
                            <!--</span>-->
                        </div>
                        <!--<input type="file" class="form-control" ng-model="model.Icon" name="Icon" />-->
                        <!--</div>-->

                    </div>

                </div>

              

                <!--</div>

    </div>-->
            </div>
        </form>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="form-group" style="text-align:right; margin-right: 16px;">
            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submitfile()"><i class="fa fa-edit"></i>{{'COM_BTN_SAVE' | translate}}</button>
            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-close"></i>{{'COM_CONFIRM_CANCEL' | translate}}</button>
        </div>
    </div>
</div>
