<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bold mb-0">{{'EDMSSOS_TITLE_SOS' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div href="/EDMSSOS" class="bold">{{'EDMSSOS_TITLE_SOS' | translate}}</div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <!--<div class="btn-group pull-right actions">
                <a class="btn btn-export">
                    <span class=""><i class="glyphicon glyphicon-export"></i> Xuất excel</span>
                </a>
            </div>-->
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-12">
                <h6 class="bold pb10"> {{'EDMSSOS_LBL_COUNT_BOX_REMOVE' | translate}} <span class="text-danger bold">({{countBoxRemove}})</span></h6>
            </div>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>

<div class="col-md-6">
    <div class="col-md-12">
        <div ng-if="IsTranslate" ng-include="'../views/admin/edmsSOS/boxTermite.html'"></div>
    </div>
</div>

<div class="col-md-12 pt15">
    <div class="col-md-12 pl-0">
        <div ng-if="IsTranslate" ng-include="'../views/admin/edmsSOS/floorTempHumidity.html'"></div>
    </div>
</div>

<style>
    .list-body-scroll {
        overflow-x: auto;
        height: 500px;
    }

        .list-body-scroll::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        .list-body-scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .list-body-scroll::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }


    .dataTables_paginate > .pagination > li > a {
        cursor: pointer !important;
        display: inline-block !important;
        height: 25px !important;
        min-width: 25px !important;
        vertical-align: middle !important;
        padding: .5rem !important;
        border-radius: 50% !important;
        text-align: center !important;
        position: relative !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        text-align: center !important;
        /* vertical-align: middle !important; */
        font-size: 0.9rem !important;
        line-height: 1rem !important;
        font-weight: 400 !important;
    }
</style>
