<!--style-->
<style type="text/css">
    .ui-select-match-item {
        background: #fff;
    }

    .ui-select-match-close {
        background-image: none;
    }

    .list-user input {
        border: 0 !important;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title" id="modal-title">{{'ASSET_AG_TITLE_EDIT' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt5">
                <div class="col-lg-8">
                    <div class="input-group">
                        <ui-select tagging ng-model="model.ParentId" theme="bootstrap">
                            <ui-select-match placeholder="{{'ASSET_AG_CURD_TXT_PARENT_ID' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in Types | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ParentId=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'ASSET_AG_CURD_LBL_CODE' | translate}}</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="model.Code" name="Code" placeholder="{{'ASSET_AG_CURD_TXT_CODE' | translate}}..." readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'ASSET_AG_CURD_LBL_NAME' | translate}}</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="model.Name" name="Name" placeholder="{{'ASSET_AG_CURD_TXT_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label">{{'ASSET_AG_CURD_LBL_DESCRIPTON' | translate}}</label>
                    </div>
                    <div class="col-lg-8">
                        <textarea class="form-control" ng-model="model.Description" placeholder="{{'ASSET_AG_CURD_TXT_DESCRIPTON' | translate}}..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right actions d-flex">
        <div class="pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'ASSET_AG_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'ASSET_AG_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
