<style>
    .width_90 {
        width: 90px;
    }
    .tab-content {
        width: 100%;
        min-height: 265px;
        /*overflow-y: scroll;
        overflow-x: hidden;*/
    }
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 15px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <span class="modal-title custom-title " id="modal-title">{{'ASSET_RMR_EDIT' | translate}}</span>
</div>
<div class="modal-body userFormAreaHeader" id="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt10 pl-0 pr-0">
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label bold ">{{'ASSET_RMR_TICKET_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" name="Ticketcode" class="form-control text-box-asset" ng-model="model.TicketCode" placeholder="{{'ASSET_RMR_TICKET_CODE' | translate}}" ng-readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-comment"></i>
                                <label class="control-label require bold">{{'ASSET_RMR_TITLE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" class="form-control text-box-asset" ng-model="model.Title" name="Title" placeholder="{{'ASSET_RMR_TITLE' | translate}}" />
                            </div>
                        </div>
                        <div class="form-group" ng-class=" {'has-error': errorBranch}">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RMR_BRANCH' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Branch" theme="bootstrap" on-select="changleSelect('Branch')">
                                        <ui-select-match placeholder="{{'ASSET_RMR_BRANCH' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListBranch | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorBranch" class="label-color validation-message">
                                    {{'ASSET_RMR_VALIDATE_BRANCH'| translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class=" {'has-error': errorCreateDepart}">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.CreateDepart" theme="bootstrap" on-select="changleSelect('CreateDepart')">
                                        <ui-select-match placeholder="{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListCreateDepart | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorCreateDepart" class="label-color validation-message">
                                    {{'ASSET_RMR_VALIDATE_CRE_DEPART'| translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorUserReq}">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{ 'ASSET_RMR_USER_RQ' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.UserReq" theme="bootstrap" on-select="changleSelect('UserReq')">
                                        <ui-select-match placeholder="{{'ASSET_RMR_USER_RQ' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListCreateBy | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <span ng-show="errorUserReq" class="label-color validation-message">
                                    {{'ASSET_RMR_VALIDATE_USER_RQ' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RMR_TIME_RQ' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class='input-group date' id='reqtime'>
                                    <input type='text' class="form-control input-date" name="ReqTime" ng-model="model.ReqTime" placeholder="{{'ASSET_RMR_TIME_RQ' | translate}}" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': errorObjActCode}">
                            <div class="col-md-4">
                                <i class="fa fa-flag"></i>
                                <label class="control-label require">{{'COM_CURD_LBL_CAT_ACT' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="model.ObjActCode" theme="bootstrap" on-select="changleSelect('ObjActCode')">
                                        <ui-select-match placeholder="{{'COM_CURD_LBL_CAT_ACT' | translate}}">{{$select.selected.CatName}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listCatObjActivity  | filter: $select.search">
                                            {{x.CatName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorObjActCode" class="label-color validation-message">
                                    {{'ASSET_RMR_VALIDATE_CAT_ACT' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                                <label class="control-label">&nbsp;{{'ASSET_RMR_STAT' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0" ng-disable="true">
                                <div class="input-group">
                                    <ui-select ng-model="model.Status" theme="bootstrap" disabled="true">
                                        <ui-select-match placeholder="{{'ASSET_RMR_STAT' | translate}}"><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in ListStatus | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" ng-disabled="true">
                                            <span><img src="https://img.icons8.com/material/18/000000/log.png"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class=" {'has-error': errorTicketType}">
                            <div class="col-md-4">
                                <i class="fas fa-layer-group"></i>
                                <label class="control-label require">&nbsp;{{'ASSET_RMR_TICKET_TYPE' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.TicketType" theme="bootstrap" on-select="changleSelect('TicketType')">
                                        <ui-select-match placeholder="{{'ASSET_RMR_TICKET_TYPE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListTicketType | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorTicketType" class="label-color validation-message">
                                    {{'ASSET_RMR_VALIDATE_TICKET_TYPE'| translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <label class="control-label require"> &nbsp;{{'ASSET_RMR_LOCATION' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <input type="text" class="form-control" ng-model="model.LocationRepair" name="LocationRepair" placeholder="{{'ASSET_RMR_LOCATION' | translate}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-comment"></i>
                                <label class="control-label">&nbsp;{{'ASSET_RMR_DIS' | translate}}</label>
                            </div>
                            <div class="col-md-8 pl-0">
                                <textarea name="Discription" rows="3" class="form-control" ng-model="model.Discription" type="text" placeholder=" {{'ASSET_RMR_DIS' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row ">
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        <label class="control-label require custom-title-code-bold">{{'ASSET_RMR_TICKET_CODE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="Ticketcode" class="form-control text-box-asset" data-ng-model="model.TicketCode" placeholder="{{'ASSET_RMR_TICKET_CODE' | translate}}..." ng-readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-comment"></i>
                                        <label class="control-label require custom-title-code-bold">{{'ASSET_RMR_TITLE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-box-asset" ng-model="model.Title" name="Title" placeholder="{{'ASSET_RMR_TITLE' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                        <label class="control-label">{{'ASSET_RMR_STAT' | translate}}</label>
                                    </div>
                                    <div class="col-md-12" ng-disable="true">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Status" theme="bootstrap" disabled="true">
                                                <ui-select-match placeholder="{{'ASSET_RMR_STAT' | translate}}..."><i class="{{$select.selected.Icon}}"></i>{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in ListStatus | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" ng-disabled="true">
                                                    <span><img src="https://img.icons8.com/material/18/000000/log.png"></span>
                                                </button>

                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" ng-class=" {'has-error': errorCreateDepart}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.CreateDepart" theme="bootstrap" on-select="changleSelect('CreateDepart')">
                                                <ui-select-match placeholder="{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListCreateDepart | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorCreateDepart" class="label-color validation-message">
                                            {{'ASSET_RMR_VALIDATE_CRE_DEPART' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorUserReq}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">{{'ASSET_RMR_USER_RQ' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.UserReq" theme="bootstrap" on-select="changleSelect('UserReq')">
                                                <ui-select-match placeholder="{{'ASSET_RMR_USER_RQ' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListCreateBy | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <span ng-show="errorUserReq" class="label-color validation-message">
                                            {{'ASSET_RMR_VALIDATE_USER_RQ' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">{{'ASSET_RMR_BRANCH' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.Branch" theme="bootstrap" on-select="changleSelect('Branch')">
                                                <ui-select-match placeholder="{{'ASSET_RMR_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListBranch | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <span ng-show="errorBranch" class="label-color validation-message">
                                            {{'ASSET_RMR_VALIDATE_BRANCH' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSET_RMR_LOCATION' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" ng-model="model.LocationRepair" name="LocationRepair" placeholder="      {{'ASSET_RMR_LOCATION' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                               
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorTicketType}">
                                    <div class="col-md-12 ">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <label class="control-label require">{{'ASSET_RMR_TICKET_TYPE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12" ng-disable="true">
                                        <div class="input-group">
                                            <ui-select ng-model="model.TicketType" theme="bootstrap" on-select="changleSelect('TicketType')">
                                                <ui-select-match placeholder="{{'ASSET_RMR_TICKET_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in ListTicketType | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorTicketType" class="label-color validation-message">
                                            {{'ASSET_RMR_VALIDATE_TICKET_TYPE' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': errorObjActCode}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">    {{'ASSET_RMR_CAT_ACT' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.ObjActCode" theme="bootstrap" on-select="changleSelect('ObjActCode')">
                                                <ui-select-match placeholder="    {{'ASSET_RMR_CAT_ACT' | translate}}...">{{$select.selected.CatName}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in listCatObjActivity | filter: $select.search">
                                                    {{x.CatName}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-show="errorObjActCode" class="label-color validation-message">
                                            {{'ASSET_RMR_VALIDATE_CAT_ACT' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <label class="control-label"> {{'ASSET_RMR_DIS' | translate}}</label>
                                <textarea name="Discription" rows="5" class="form-control" ng-model="model.Discription" type="text" placeholder=" {{'ASSET_RMR_DIS' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2">
                        <div class="col-md-12 pr-0 pl-0" style="margin-top: 4%">
                            <label class=""> {{'ASSET_RMR_LIST_FILE' | translate}}</label>
                            <div class="col-md-12 boder-box h-100-srcoll">
                                <table class="table table-bordered" id="tblFileRequest">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5 text-center fw600 text-underline">{{'COM_NAME_FILE' | translate}}</th>
                                            <th class="col-md-1 text-center fw600 text-underline">{{'COM_BTN_DELETE' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in model.listFile">
                                            <td class="text-center"><a>{{x.Name}}</a></td>
                                            <td class="text-center">
                                                <i role="button" class="fa fa-minus-circle" title="{{'COM_BTN_DELETE' | translate}}" ng-click="deleteFile(x.Id)" style="color:red !important;font-size: 25px;padding-top:5px"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 pr5" style="margin-top: 6%">
                            <div class="btn-group actions d-flex pull-right col-md-offset-5 pt5">
                                <div class="text-center pr20">
                                    <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="addFile()">
                                        <span><i class="fa fa-upload"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_UPLOAD' | translate}}</p>
                                </div>
                                <div class="btn-group pull-right actions d-flex">
                                    <div class="text-center pr10">
                                        <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                            <span><i class="fa fa-save"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12" style="margin-top:-5px;">
                <uib-tabset active="active">
                    <uib-tab class="mt5" index="1" heading="{{'ASSET_RMR_CURD_ASSET' | translate}}" disable="CheckCode == '' || CheckCode==undefined" ng-click="chkAdd()">
                        <div disable="tests" ng-include="'../views/admin/assetRqMaintenanceRepair/Addtable.html'" ng-class="{'disabled-element' : CheckCode =='' || CheckCode==undefined }"></div>
                    </uib-tab>
                    <uib-tab class="mt5" index="2" heading="{{'COM_FILE' | translate}}" disable="CheckCode == '' || CheckCode==undefined" ng-click="chkAdd()">
                        <div disable="tests" ng-include="'../views/admin/assetRqMaintenanceRepair/file.html'"></div>
                    </uib-tab>
                    <div class="btn-group actions d-flex pull-right">
                        <div class="text-center pr10">
                            <a data-dismiss="modal" ng-click="refresh()" class="btn btn-icon-only btn-circle btn-outline red-custom" style="border-radius: 30px !important;background: #e7505a;">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_DELETE' | translate}}</p>
                        </div>
                        <div class="btn-group pull-right actions d-flex">
                            <div class="text-center pr-0">
                                <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom" style="border-radius: 30px !important;background: #009432;">
                                    <span><i class="fa fa-save"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>



