<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <!--<h1 class="bold mb-0">{{'ASSET_RMR_CURD_LBL_INDEX' | translate}}</h1>-->
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;" href="#">{{'COM_BREAD_CRUMB_ASSET_MAINTENANCE' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="/Admin/AssetRqMaintenanceRepair">{{'ASSET_RMR_CURD_LBL_INDEX' | translate}}</a>
                </li>
            </ul>
            <div class="btn-group actions pt5 pb-1 pull-right d-flex mr5">
                <div class="pr-2" ng-show="!isSearch" ng-click="showSearch()">
                    <button class="btn gold-custom br4">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH'| translate}}
                    </button>
                </div>
                <div class="">
                    <button class="btn green-custom br4" ng-click="add()">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD'| translate}}
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-12 pl-0">
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'ASSET_RMR_TICKET_CODE' | translate}}</label>
                        <div class='input-group '>
                            <input ng-model="modelsearch.TicketCode" class="form-control" type="text" placeholder="{{'ASSET_RMR_TICKET_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reloadTabTicke()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelsearch.TicketCode='';" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0 pr-0">
                        <label class="fw600 text-underline">{{'Từ khóa' | translate}}</label>
                        <div class='input-group '>
                            <input ng-model="modelsearch.Title" class="form-control" type="text" placeholder="{{'Từ khóa' | translate}}.." ng-keydown="($event.keyCode == 13) && reloadNoResetPage()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelsearch.Title='';" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="col-md-6 pl-0">
                            <label class="fw600 text-underline">{{'ASSET_RMR_CURD_FROMDATE' | translate}}</label>
                            <div class='input-group '>
                                <input ng-model="modelsearch.FromDate" class="form-control" type="text" placeholder="{{'ASSET_RMR_CURD_FROMDATE' | translate}}..." id='fromdate' ng-keydown="($event.keyCode == 13) && reloadNoResetPage()" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.FromDate=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 pl-0">
                            <label class="fw600 text-underline">{{'ASSET_RMR_CURD_TODATE' | translate}}</label>
                            <div class='input-group '>
                                <input ng-model="modelsearch.ToDate" class="form-control" type="text" placeholder="{{'ASSET_RMR_CURD_TODATE' | translate}}..." id='todate' ng-keydown="($event.keyCode == 13) && reloadNoResetPage()" />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="modelsearch.ToDate=''" class="btn btn-default no-shadow end-date">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0 pr-0" style="width: 14%;">
                        <label class="fw600 text-underline">{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}</label>
                        <div class='input-group '>
                            <ui-select tagging ng-model="modelsearch.CreateDepart" theme="bootstrap" on-select="changleSelect('Depart')">
                                <ui-select-match placeholder="{{'ASSET_RMR_CRE_DEPART_RQ' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in ListCreateDepart | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelsearch.CreateDepart='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="fw600 text-underline">{{'ASSET_RMR_USER_RQ' | translate}}</label>
                        <div class='input-group '>
                            <ui-select tagging ng-model="modelsearch.UserReq">
                                <ui-select-match placeholder="{{'ASSET_RMR_USER_RQ' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in ListCreateBy | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="modelsearch.UserReq='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 pr-0 pl-0 pt10">
                        <div class="btn-group actions d-flex mr5">
                            <div class="text-center pr10 pl10">
                                <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                    <span><i class="fa fa-search"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-12 margin-top-10">
                    <div class="btn-group actions d-flex mr25">
                        <div class="text-center pr10 pl20">
                            <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center pr10">
                            <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<div class="tabbable">
    <uib-tabset active="active">
        <div ng-include="'../views/admin/assetRqMaintenanceRepair/AssetRMT.html'"></div>
    </uib-tabset>
</div>
