@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Thuộc tính mở rộng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM_ATTR_MANAGER" ng-controller="Ctrl_ESEIM_ATTR_MANAGER">
    <div ng-view></div>
</div>

<script src="~/views/admin/attributeManager/controller.js" type="text/javascript"></script>
