<div ng-controller="contractTabNote">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group mb5">
                <label>{{'CONTRACT_CURD_TAB_NOTE_CURD_TXT_TITLE' | translate}}</label>
                <div class="input-group">
                    <input class="form-control" ng-model="model.Title" name="Title" type="text" placeholder="{{'CONTRACT_CURD_TAB_NOTE_CURD_TXT_TITLE' | translate}}..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Title=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="width: 38%">
            <div class="form-group mb5">
                <label>{{'CONTRACT_CURD_TAB_NOTE_CURD_TXT_NOTE' | translate}}</label>
                <div class="input-group">
                    <input class="form-control" name="Note" ng-model="model.Note" placeholder="{{'CONTRACT_CURD_TAB_NOTE_CURD_TXT_NOTE' | translate}}..."></>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Note=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group pt20 actions d-flex">
                <div class="mr10 pr-0">
                    <button class="btn gold-custom custom-width-button" ng-click="reload()" style="border-radius: 0px !important">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                </div>
                <div class="mr10 pr-0">
                    <button class="btn green-custom custom-width-button" ng-click="add()" style="border-radius: 0px !important">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD' | translate}}
                    </button>
                </div>

                <!--<div class="pr10 text-center">
                    <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="reload()">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                        <span><i class="fa fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>-->
            </div>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataContractNote"></table>
</div>