@using ESEIM.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Thông tin cơ hội";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var session = HttpContextAccessor.HttpContext.GetSessionUser();
    bool hasPermissioOrderRequestInsert = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Insert);
    bool hasPermissionOrderRequestUpdate = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Update);
    bool hasPermissionOrderRequestDelete = session.HasPermission(CommonUtil.Controller_OrderRequestRaw, CommonUtil.Action_Delete);
}
@section plugin_script{
    <script src="~/lib/assets/global/plugins/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/assets/global/plugins/tagsinput/bootstrap-tagsinput-angular.min.js"></script>
}
@section plugin_style{
    <link href="~/lib/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
}
<div id="contentMain" ng-app="App_ESEIM_RQ_RAW" ng-controller="Ctrl_ESEIM_RQ_RAW">
    <div ng-view></div>
</div>
<script>
    var PERMISSION_ORDER_REQUEST = {
        Insert: @(hasPermissioOrderRequestInsert ? "true" : "false"),
        Update: @(hasPermissionOrderRequestUpdate ? "true" : "false"),
        Delete: @(hasPermissionOrderRequestDelete ? "true" : "false"),
    };
</script>
<script src="~/views/admin/orderRequestRaw/controller.js" type="text/javascript"></script>