<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;" href="#">{{'COM_MENU_CUSTOMER' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="/Admin/CustomerReminder">{{'CR_LINK_CR' | translate}}</a>
                </li>
            </ul>
            <div class="pr-0 pull-right" ng-show="!isSearch" ng-click="showSearch()">
                <button class="btn gold-custom br4">
                    <i class="fa fa-search"></i>
                    {{'COM_BTN_SEARCH'| translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CR_LBL_SEACH_FROMDATE'|translate}}</label>
                    <div class="input-group">
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{'CR_TXT_SEACH_FROMDATE'|translate}}..." ng-model="model.FromDate" id="FromTo">
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'CR_LBL_SEACH_TODATE'|translate}}</label>
                    <div class='input-group '>
                        <input type='text' autocomplete="off" class="form-control " ng-model="model.ToDate" placeholder="{{'CR_TXT_SEACH_TODATE'|translate}}.." id='DateTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'CR_LBL_SEACH_CUSCODE'|translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.CustomerId" theme="bootstrap">
                            <ui-select-match placeholder="{{'CR_COMB_SEACH_CUSCODE'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in customerData | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerId=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="reload()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger">{{'CR_LIST_NOTIFICATION' | translate}}</span>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
