<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-qrcode fs15 pt5"></i>
    <span class="modal-title" id="modal-title"> Bar Code</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addformfile" class="form-horizontal">
            <div class="form-body pt5 pb-0">
                <div class="form-group">
                    <div class="img-thumbnail text-center input-unstyled" style="width:100%;">
                        <img class="image-upload" role="button" data-ng-src="data:image/png;base64,{{data}}" ng-class="{ 'opacityQrCode' : data==''}" height="250" width="250" onerror="this.src = '../../../images/default/ic_barcode.png'" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
