<!--<style>
    .modal-footer {
        padding-right: 25px !important;
    }
</style>-->
<!--<div class="modal-header no-color">
    <div class="modal-title black" id="modal-title"> Chi tiết kế hoạch công việc</div>
</div>-->
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-detail"></i>
    <span class="modal-title" id="modal-title">{{'VCMM_TAB_DN_TITLE_DETAIL_DISTRIBUTOR_AGENCY_STORE' | translate}}</span>
</div>
<div class="modal-body mt10" id="modal-body">
    <div class="portlet-body form">

        <div class="clearfix form-group">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped ">
                    <thead class="title" style="background-color:#b0bed9">
                        <tr class="bold">
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_TRADEMARK' | translate}}</th>
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_PRODUCT'|translate}}</th>
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_PURCHASE_PRICE' | translate}}</th>
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_PRICE' | translate}}</th>
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_QUANTITY_CONSUME' | translate}}</th>
                            <th class="text-center col-md-2">{{'VCMM_TAB_DN_LIST_COL_INVENTORY' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in model.ListData">
                            <td class="text-center">
                                <label>{{x.BrandName}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.ProductName}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.BuyCost}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.SaleCost}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.ConsumpMonthly}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.Instock}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <!--<tfoot class="title">
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">{{model.Seq01QtyTotal}}</th>
                            <th class="text-center">{{model.Seq02QtyTotal}}</th>
                            <th class="text-center">{{model.Seq03QtyTotal}}</th>
                            <th class="text-center">{{model.Seq04QtyTotal}}</th>
                            <th class="text-center">{{model.Seq05QtyTotal}}</th>
                            <th class="text-center">{{model.Seq06QtyTotal}}</th>
                            <th class="text-center">{{model.Seq07QtyTotal}}</th>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer pr30" style="margin-top: -40px !important">
    <!--<a data-dismiss="modal" class="btn btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>-->
    <!--<button ng-click="submit()" class="btn blue no-boxshadow mr25" href="javascript:;" style="font-weight:bold;margin-right:25px">
        Chỉnh sửa
    </button>-->
    <div class="btn-group pull-right actions d-flex">
        <div class="pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
    </div>
</div>




<!--Xử lý upload ảnh-->
<!--<div class="col-md-4">
    <div class="form-group">
        <div class="col-md-12" style="margin-top:5px">
            <div class="thumbnail " style="border: 0; box-shadow: none">
                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                <img src="{{model.Pic}}" ng-click="uploadImage()" id="imageId" class="rounded-circle height-150 width-150 cursor-pointer" alt="Card image" />
            </div>
        </div>
    </div>
</div>-->
<!--Xử lý bắt điều kiện người dùng tự tạo-->
<!--<div class="form-group" ng-class="{ 'has-error': errorSex}">
    <div class="col-md-12">
        <i class="fa fa-transgender" aria-hidden="true"></i>
        <label class="control-label require">Giới tính</label>
    </div>
    <div class="col-md-12">
        <div class="input-group">
            <ui-select tagging ng-model="model.Sex" theme="bootstrap" on-select="changleSelect('Sex')">
                <ui-select-match placeholder="Chọn giới tính...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in ListSex | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <span ng-show="errorSex" class="label-color validation-message">
            Chọn giới tính!
        </span>
    </div>
</div>-->
<!--Hiển thị datepicker-->
<!--<div class="form-group" ng-class="{ 'has-error': errorBirthday}">
    <div class="col-md-12">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <label class="control-label require">Ngày sinh</label>
    </div>
    <div class="col-md-12">
        <div class="input-group date" id="birthday">
            <input type="text" class="form-control input-date" ng-model="model.Birthday" ng-readonly="isEnalePatient" name="Birthday" placeholder="Chọn ngày sinh..." ng-change="changleSelect('Birthday')" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        <span ng-show="errorBirthday" class="label-color validation-message">
            Ngày sinh sai định dạng!
        </span>
    </div>
</div>-->
<!--Hiển thị định dạng ngày tháng trên html combobox-->
<!--<div class="input-group">
    <ui-select tagging ng-model="modelSearchParent.Parent" theme="bootstrap" on-select="selectComboboxParent(modelSearchParent.Parent)" ng-disabled="isEnaleComboboxParent">
        <ui-select-match placeholder="Tìm kiếm theo mã, tên, số điện thoại, email, facebook, địa chỉ">{{$select.selected.ParentName}} - {{$select.selected.Birthday | date: 'dd/MM/yyyy'}} - {{$select.selected.Phone}} - {{$select.selected.Email}} - {{$select.selected.Facebook}} - {{$select.selected.Address}}</ui-select-match>
        <ui-select-choices repeat="x in ListParentCombobox | filter: $select.search">
            {{x.ParentCode}} - {{x.ParentName}} - {{x.Birthday | date: 'dd/MM/yyyy'}} - {{x.Phone}} - {{x.Email}} - {{x.Facebook}} - {{x.Address}}
        </ui-select-choices>
    </ui-select>
    <span class="input-group-btn">
        <button type="button" ng-click="deleteComboboxParent()" class="btn btn-default no-shadow" style="">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</div>-->
