<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-detail"></i>
    <span class="modal-title " id="modal-title">{{'MLP_VIEW_LBL_HISTORY_PRODUCT' | translate}}</span>
</div>
<div class="modal-body mt10" id="modal-body">
    <div class="portlet-body form">
        <div class="clearfix form-group">
            <div class="col-md-12">
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblDataHistoryProduct"></table>
            </div>
        </div>

    </div>
</div>
<!--<div class="modal-footer pr30" style="margin-top: -40px !important">
    <a data-dismiss="modal" class="btn btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
</div>-->

