<!--<div class="table-toolbar" ng-show="IsTranslateMaterialProduct">-->
<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class="bold text text-underline" style="color:black;" href="#">{{'COM_BREAD_CRUMB_COMMON_CATE' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class="bold text-underline" style="color:black;" href="MaterialProduct#">{{'MLP_TITLE_CATEGORY' | translate}}</a>
                </li>
            </ul>
            <div class="btn-group pull-right actions pt5 pb-1 d-flex">
                <div class="pr-2" ng-show="!isSearch" ng-click="showSearch()">
                    <button class="btn gold-custom br4">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH'| translate}}
                    </button>
                </div>
                <div class="pr-2" ng-if="PERMISSION_MATERIAL_PRODUCT.Insert">
                    <button class="btn green-custom br4" ng-click="add()">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD'| translate}}
                    </button>
                </div>
                <div class="">
                    <button class="btn red-custom br4" ng-click="add()">
                        <i class="fa fa-file-excel-o"></i>
                        {{'Import excel'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'MLP_CURD_LBL_GROUP_PRODUCT' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Group" theme="bootstrap">
                            <ui-select-match placeholder="{{'MLP_CURD_LBL_GROUP_PRODUCT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in productGroups | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Group=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'MLP_CURD_LBL_CODE_PRODUCT' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Code" class="form-control" type="text" placeholder="{{'MLP_CURD_LBL_CODE_PRODUCT' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Code='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'Catalogue' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Catalogue" theme="bootstrap">
                            <ui-select-match placeholder="{{'Catalogue' | translate}}...">{{$select.selected.Code}} - {{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listCatalogue | filter: $select.search">
                                {{x.Code}} - {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Catalogue=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'MLP_CURD_LBL_NAME_PRODUCT' | translate}}</label>
        <div class="input-group">
            <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'MLP_CURD_LBL_NAME_PRODUCT' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
            <span class="input-group-btn">
                <button type="button" ng-click="model.Name='';" class="btn btn-default no-shadow">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'MLP_CURD_LBL_TYPE_PRODUCT' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Type" theme="bootstrap">
                            <ui-select-match placeholder="{{'MLP_CURD_LBL_TYPE_PRODUCT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in productTypes | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Type=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'MLP_CURD_LBL_SUPPLIES_STATUS' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Status" theme="bootstrap">
                            <ui-select-match placeholder="{{'MLP_CURD_TXT_SUPPLIES_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in StatusData | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-group pt20 d-flex">
                        <div class="text-center pr10">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>
            </div>
        </div>
    </div>
</div>
<label class="text-danger">{{'MLP_MSG_TIP_EDIT' | translate}}</label><br />
<label class="text-danger">{{'MLP_MSG_TIP_VIEW_IMAGE' | translate}}</label>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptionsMaterialProduct"
       dt-columns="dtColumnsMaterialProduct"
       dt-instance="dt.dtInstanceMaterialProduct"
       id="tblDataMaterialProd"></table>

