<div ng-controller="tabAttribute">
    <div class="table-toolbar">
        <div class="row">
            <form name="addform" method="post" ng-validate="validationAttributeOptions">
                <div class="col-md-3">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MLP_CURE_LBL_CODE_ATTRIBUTE' | translate}}</label>
                            <input class="form-control" ng-readonly="isEditAttribute" name="AttributeCode" ng-model="model.AttributeCode" placeholder="{{'MLP_CURE_TXT_CODE_ATTRIBUTE' | translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MLP_CURD_LBL_PROPETIES_NAME' | translate}}</label>
                            <input class="form-control" name="AttributeName" ng-model="model.AttributeName" placeholder="{{'MLP_CURE_TXT_NAME_ATTRIBUTE' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.AttrValue=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MLP_CURD_LBL_PROPETIES_VALUDE' | translate}}</label>
                            <input class="form-control" name="AttributeValue" ng-model="model.AttributeValue" placeholder="{{'MLP_CURD_LBL_PROPETIES_VALUDE' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.AttrValue=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MLP_CURE_TXT_TYPE_VALUE' | translate}}</label>
                            <input class="form-control" name="FieldType" ng-model="model.FieldType" placeholder="{{'MLP_CURE_TXT_TYPE_VALUE' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.AttrValue=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb5">
                        <div class="form-group">
                            <label class="control-label">{{'MLP_CURD_LBL_SUPPLIES_NOTE' | translate}}</label>
                            <input class="form-control" name="Note" ng-model="model.Note" placeholder="{{'MLP_CURE_TXT_NOTE' | translate}}..." />
                            <!--<span class="input-group-btn">
                                <button type="button" ng-click="model.AttrValue=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group pt20 actions d-flex">
                        <div class="text-center pr10" ng-hide="isEditAttribute">
                            <a ng-disabled="ProductID==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                        <div class="text-center pr10" ng-hide="isEditAttribute" ng-if="isShowInheritance">
                            <a ng-disabled="ProductID==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="inheritance()">
                                <span><i class="fa fa-recycle"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_INHERITANCE' | translate}}</p>
                        </div>
                        <div class="text-center pr10" ng-hide="!isEditAttribute">
                            <a ng-disabled="ProductID==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                        <div class="text-center" ng-hide="!isEditAttribute">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttribute"></table>
</div>