@using ESEIM.Utils

@{
    ViewData["Title"] = "Báo cáo thống kê tổng thanh toán đặt hàng NCC";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/reportStaticsPoSupPayment/controller.js" type="text/javascript"></script>