<div class="modal-header black" style="background: rgb(241, 241, 241);">
    <span class="modal-title fas fa-users fs15">&nbsp;&nbsp;{{'STRE_TITTLE_LIST_MEMBER' | translate}} {{date}}</span>
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post">
            <div class="form-body pb25 pt5">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th class="text-center">{{'TT' | translate}}</th>
                                    <th class="text-center col-md-3">{{'STRE_LIST_COL_INFO' | translate}}</th>
                                    <!--<th class="text-center nowrap col-md-1">{{'STRE_LIST_COL_LEVEL' | translate}}</th>-->
                                    <th class="text-center col-md-3">{{'STRE_LIST_COL_DEPARTMENT' | translate}}</th>
                                    <th class="text-center col-md-1">{{'STRE_LIST_COL_TYPE' | translate}}</th>
                                    <th class="text-center col-md-1">{{'STRE_CURD_TAB_LIST_LIST_COL_MORNING' | translate}}</th>
                                    <th class="text-center col-md-1">{{'STRE_CURD_TAB_LIST_LIST_COL_AFTERNOON' | translate}}</th>
                                    <th class="text-center col-md-1">{{'STRE_CURD_TAB_LIST_LIST_COL_EVENING' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listMember">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center">
                                        <b>{{x.GivenName}}</b><br />
                                        <span>{{x.Phone}}</span><br />
                                        <span>{{x.Email}}</span>
                                    </td>
                                    <!--<td class="text-center">
                                        <span ng-if="x.EducationalLevel!=null">
                                            {{x.EducationalLevel}}
                                        </span>
                                        <span class="text-danger" ng-if="x.EducationalLevel==null">
                                            Trống
                                        </span>
                                    </td>-->
                                    <td class="text-center">
                                        <span ng-if="x.Department!=''">
                                            {{x.Department}}
                                        </span>
                                        <span class="text-danger" ng-if="x.Department==''">
                                            {{'STRE_LBL_EMTY' | translate}}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        {{x.TypeWork}}
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-circle btn-icon-only h-25 w25 pn" ng-click="changeStatusFrameTime(x.Id,1)" ng-class="{'green':x.Morning=='True','red':x.Morning=='False'}">
                                            <i class="fa" ng-class="{'fa-check':x.Morning=='True','fa-times':x.Morning=='False'}"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-circle btn-icon-only h-25 w25 pn" ng-click="changeStatusFrameTime(x.Id,2)" ng-class="{'green':x.Afternoon=='True','red':x.Afternoon=='False'}">
                                            <i class="fa" ng-class="{'fa-check':x.Afternoon=='True','fa-times':x.Afternoon=='False'}"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-circle btn-icon-only h-25 w25 pn" ng-click="changeStatusFrameTime(x.Id,3)" ng-class="{'green':x.Evening=='True','red':x.Evening=='False'}">
                                            <i class="fa" ng-class="{'fa-check':x.Evening=='True','fa-times':x.Evening=='False'}"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
