<style>
    /*.modal-header {
        background: #f1f1f1;
        color: black;
    }*/

    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    /*.border-qrcode {
        border-radius: 4px;
        border: 1px solid #ddd;
        height: 245px;
    }*/

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        z-index: 1;
        margin-left: 38px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        overflow:auto;
        max-height: 105px;
        height: 95px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-body {
        overflow: auto;
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        z-index:1;
        margin-left: 36px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    #tblFileRequest{
        max-height:60px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title " id="modal-title">Lý do từ chối duyệt<span class="text-success">{{model.RqTicketCode}}</span></span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="reasonform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row pb20">
                    <div class="col-md-12 form-group">
                        <label class="require">Lý do từ chối duyệt</label>
                        <input ng-model="model.ReasonReject" name="ReasonReject" placeholder="Nhập lý do từ chối duyệt" class="form-control" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="submit()" class="btn btn-red mr5" href="javascript:;">
        <i class="fas fa-save"></i> {{'COM_BTN_SAVE' | translate}}
    </button>
</div>

