<div ng-controller="assetTabMaintenanceHistory">
    <div class="row">
        <form name="addformTabProduct" class="form-horizontal" method="post" ng-validate="validationOptionsTabProduct">
            <div class="row col-md-9 pr-0" style="margin-top:-8px">
                <div class="col-md-3">
                    <label class="control-label  fs9 bold" style="font-size:11px !important">{{'ASSET_MSG_CATEGORY' | translate}}</label> 
                    <div class="input-group">
                        <ui-select ng-disabled="isAdd==false" ng-model="model.ProductCode" theme="bootstrap">
                            <ui-select-match placeholder="{{'ASSET_MSG_CATEGORY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in products | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-disabled="isAdd==false" type="button" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>   
                <div class="col-md-3">
                    <label class="control-label  fs9 bold" style="font-size:11px !important">{{'ASSET_MSG_TYPE' | translate}}</label>
                    <div class="input-group">
                        <ui-select ng-disabled="isAdd==false" ng-model="model.ProductCode" theme="bootstrap">
                            <ui-select-match placeholder="{{'ASSET_MSG_TYPE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in products | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-disabled="isAdd==false" type="button"  class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: -12px;">
                    <label class="control-label fs9 bold" style="font-size:11px !important">{{'ASSET_MSG_FROMDATE' | translate}}</label>
                    <div class="input-group">
                        <div class='input-group date' id='date-InsurranceDuration'>
                            <input type='text' class="form-control input-date" placeholder="{{'ASSET_MSG_FROMDATE' | translate}}" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label  fs9 bold" style="font-size:11px !important">{{'ASSET_MSG_TODATE' | translate}}</label>
                    <div class="input-group">
                        <div class='input-group date' id='date-InsurranceDuration'>
                            <input type='text' class="form-control input-date" placeholder="{{'ASSET_MSG_TODATE' | translate}}..." />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-md-3 pt5">
                <div class="btn-group pt5 actions d-flex flr">
                    <div class="text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataProductDetail"></table>
</div>