<style>
    .width_90 {
        width: 90px;
    }

    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .nav .nav-item .nav-link {
        display: block;
        font-size: 12px;
    }

    .tab-content {
        width: 100%;
        min-height: 200px;
    }

    @-webkit-keyframes showTooltip {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes showTooltip {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes showTooltip {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .form-item {
        position: relative;
    }

    .message-error:after {
        content: attr(data-tooltip);
        position: absolute;
        top: 0;
        left: 10%;
        display: none;
        padding: 1em 2em;
        color: white;
    }

    .message-error:hover:after {
        display: block;
        -webkit-animation: showTooltip 0.35s ease-in-out;
        -moz-animation: showTooltip 0.35s ease-in-out;
        animation: showTooltip 0.35s ease-in-out;
    }

    .message-error:after {
        background: #c8fbfb;
        border-radius: 5px;
        color: #000000;
        z-index: 99999;
        margin-top: 0px;
        margin-left: 225px;
        border: 1px solid #d4d4d4;
        width: 200px !important;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title" id="modal-title">{{'ASSET_TITLE_EDIT_ASSET' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addForm" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row mt-action-5">
                    <div class="col-lg-9 pr-0 pl-0">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-group"></i>
                                    <label class="control-label bold">{{'ASSET_CURD_LBL_ASSET_GROUP' | translate}}</label>
                                </div>
                                <!--<div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.AssetGroup" theme="bootstrap">
                                            <ui-select-match placeholder="{{'ASSET_CURD_COMBO_ASSET_GROUP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in AssetGroup | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.AssetGroup='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>-->
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.AssetGroup" theme="bootstrap">
                                            <ui-select-match class="text-box-asset" placeholder="{{'ASSET_CURD_COMBO_ASSET_GROUP' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x  in AssetGroup | filter: $select.search">
                                                <div style="padding-left: {{30 * x.Level}}px">
                                                    <i ng-show="x.HasChild" class="fa fa-folder-open icon-state-warning"></i>
                                                    <i ng-show="!x.HasChild" class="fa fa-folder text-info"></i>
                                                    {{x.Title}}
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.AssetGroup=''" class="btn btn-default no-shadow" style="">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-barcode"></i>
                                    <label class="control-label require custom-title-code-bold">{{'ASSET_CURD_LBL_ASSET_CODE' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class='input-group '>
                                        <input class="form-control br4 text-box-asset" name="AssetCode" data-ng-model="model.AssetCode" type="text" placeholder="{{'ASSET_CURD_TXT_ASSET_CODE' | translate}}..." ng-change="changeQRCode()" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': errorSupplierCode}">
                                <div class="col-md-4">
                                    <i class="fa fa-user"></i>
                                    <label class="control-label ">{{'ASSET_CURD_LBL_SUPPILER_CODE' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.SupplierCode" theme="bootstrap" on-select="changleSelect('SupplierCode')">
                                            <ui-select-match name="SupplierCode" placeholder="{{'ASSET_CURD_COMBO_SUPPILER_CODE' | translate}}...">{{$select.selected.SupName}}</ui-select-match>
                                            <ui-select-choices repeat="x.SupCode as x in SupplierData | filter: $select.search">
                                                {{x.SupName}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.SupplierCode='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorSupplierCode" class="label-color validation-message">
                                        {{'ASSET_CURD_VALIDATE_SUPPILER_CODE' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                                <div class="col-md-4">
                                    <i class="far fa-building"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_BRANCH' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Branch" theme="bootstrap" on-select="changleSelect('Branch')">
                                            <ui-select-match placeholder="{{'ASSET_CURD_CBB_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.Branch='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorBranch" class="label-color validation-message">
                                        {{'ASSET_VLD_BRANCH_NOT_NULL' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': errorDepartment}">
                                <div class="col-md-4">
                                    <i class="fa fa-th-list"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_DEPARTMENT' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Department" theme="bootstrap" on-select="changleSelect('Department')">
                                            <ui-select-match placeholder="{{'ASSET_CURD_TXT_DEPARTMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in listDepartment | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.Department='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorDepartment" class="label-color validation-message">
                                        {{'ASSET_VLD_DEPARTMENT_NOT_NULL' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-money"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_COST' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <!--<div class="input-group">
                                        <input class="form-control text-danger" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" name="AssetCost" ng-model="model.Cost" placeholder="{{'ASSET_CURD_TXT_COST' | translate}}..." num-thousand='true' awnum num-int='21' />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.Cost='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>-->
                                    <div class="col-md-9 p-0">
                                        <input class="form-control text-danger" style="font-weight:bold;" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" name="AssetCost" ng-model="model.Cost" placeholder="{{'ASSET_CURD_LBL_COST' | translate}}..." num-thousand='true' awnum num-int='21' />
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Currency" theme="bootstrap">
                                                    <ui-select-match placeholder="{{'ASSET_CURD_COMBO_CURRENCY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in Currency | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-server"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_CURRENCY' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Currency" theme="bootstrap">
                                            <ui-select-match placeholder="{{'ASSET_CURD_COMBO_CURRENCY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in Currency | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.Currency='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-calendar"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_BUYED_TIME' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <input type='text' class="form-control input-date" ng-model="model.sBuyedTime" placeholder="{{'ASSET_CURD_TXT_BUYED_TIME' | translate}}..." id='datefrom' />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.sBuyedTime='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-calendar"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_EXPIRED_DATE' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <input type='text' class="form-control input-date" ng-model="model.sExpiredDate" placeholder="{{'ASSET_CURD_TXT_EXPIRED_DATE' | translate}}..." id='dateto' />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.sExpiredDate='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-sort-numeric-down"></i>
                                    <label class="control-label">{{'ASSET_TOTAL' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <input type='number' class="form-control" ng-model="model.QuantityTotal" placeholder="{{'ASSET_TOTAL' | translate}}..." readonly/>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.QuantityTotal='';" class="btn btn-default no-shadow" disabled="disabled">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-image"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_IMAGES' | translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group input-file">
                                        <i class="fa fa-upload"></i>
                                        <input class="form-control inputFile pl30" placeholder="" style="border-top-left-radius: 4px !important;height: 33px;border-bottom-left-radius: 4px !important;">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                                            <input class="form-control" id="FileInput" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display:none" type="file" accept="image/*">
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-tag"></i>
                                    <label class="control-label bold">{{'ASSET_CURD_LBL_ASSET_TYPE' | translate}}</label>
                                </div>
                                <!--<div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.AssetType" theme="bootstrap">
                                            <ui-select-match placeholder="{{'ASSET_CURD_COMBO_ASSET_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in AssetType | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.AssetType='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>-->
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.AssetType" theme="bootstrap">
                                            <ui-select-match class="text-box-asset" placeholder="{{'ASSET_CURD_COMBO_ASSET_TYPE' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x  in AssetType | filter: $select.search">
                                                <div style="padding-left: {{30 * x.Level}}px">
                                                    <i ng-show="x.HasChild" class="fa fa-folder-open icon-state-warning"></i>
                                                    <i ng-show="!x.HasChild" class="fa fa-folder text-info"></i>
                                                    {{x.Title}}
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.AssetType=''" class="btn btn-default no-shadow" style="">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-user"></i>
                                    <label class="control-label require custom-title-code-bold ">{{'ASSET_CURD_LBL_ASSET_NAME' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group form-item message-error" data-tooltip="{{model.AssetName}}">
                                        <input class="form-control br4 text-box-asset" name="AssetName" ng-model="model.AssetName" type="text" placeholder="{{'ASSET_CURD_TXT_ASSET_NAME' | translate}}..." />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fas fa-map-marked-alt"></i>
                                    <label class="control-label">&nbsp;&nbsp;{{'ASSET_CURD_LBL_CHOOSE_MAP' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <div class="input-group" ng-click="openMap()">
                                            <!--<i style="z-index:10" class="fa fa-map-marker"></i>-->
                                            <input class="form-control" ng-model="model.LocationGps" type="text" placeholder="{{'ASSET_CURD_CBB_CHOOSE_MAP' | translate}}..." onkeypress="return false;" onkeydown="return false;" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;" />
                                        </div>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.LocationGps='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fas fa-map-pin"></i>
                                    <label class="control-label">&nbsp;&nbsp;{{'PRICE_AREA_ASSET' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="model.LocationText" id="address" placeholder="{{'PRICE_AREA_ASSET' | translate}}..." />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.LocationText='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-map-marker"></i>
                                    <label class="control-label">&nbsp;&nbsp;{{'ASSET_CURD_LBL_ASSET_LOCATION' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group form-item message-error" data-tooltip="{{model.LocationSet}}">
                                        <input class="form-control" type="text" ng-model="model.LocationSet" placeholder="{{'ASSET_CURD_TXT_ASSET_LOCATION' | translate}}..." />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.LocationSet='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': errorUserResponsible}">
                                <div class="col-md-4">
                                    <i class="fa fa-user"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_PERSION_MANAGER' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.UserResponsible" theme="bootstrap" on-select="changleSelect('UserResponsible')">
                                            <ui-select-match placeholder="{{'ASSET_CURD_CBB_PERSION_MANAGER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in ListPerson | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.UserResponsible='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorUserResponsible" class="label-color validation-message">
                                        {{'ASSET_VLD_PERSION_MANAGER_NOT_NULL' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': errorStatus}">
                                <div class="col-md-4">
                                    <i class="fa fa-flag"></i>
                                    <label class="control-label require">{{'ASSET_CURD_LBL_STATUS' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <div class="input-group">
                                        <ui-select tagging ng-model="model.Status" theme="bootstrap" on-select="changleSelect('Status')">
                                            <ui-select-match placeholder="{{'ASSET_CURD_TXT_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                                {{x.Name}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span ng-show="errorStatus" class="label-color validation-message">
                                        {{'ASSET_CURD_VALIDATE_STATUS' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <i class="fa fa-comment"></i>
                                    <label class="control-label">{{'ASSET_CURD_LBL_DESCRIPTION' | translate}}</label>
                                </div>
                                <div class="col-md-8 pl-0">
                                    <textarea rows="4" class="form-control" ng-model="model.Description" placeholder="{{'ASSET_CURD_TXT_DESCRIPTION' | translate}}..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="form-group">
                                <div class="fileupload-new thumbnail pb-0" style="border:0; box-shadow: none;background:none; margin-bottom: 0px;">
                                    <input id="file" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                    <img id="picture" ng-click="loadImage()" class="img-circle h-150 w150 br-n" onerror="this.src='/uploads/images/no-image.png'" ng-src="{{model.PathIMG==null ? '/uploads/images/no-image.png' : model.PathIMG}}" role="button" />
                                </div>
                            </div>
                            <div class="col-md-12 text-center fs10 pl-0 pr-0 pt-0">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <label class="control-label bold ">&nbsp;{{'ASSET_CURD_LBL_IMAGES' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-0 pl10 pt20">
                                <div class="border-qrcode text-center">
                                    <qrcode size="80" data="{{model.AssetCode}}"></qrcode>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-group actions d-flex pt30" style="margin-left: 88px;">
                                <div class="text-center pl10" ng-click="printQRCode()">
                                    <a class="btn btn-icon-only btn-circle btn-outline blue-custom">
                                        <span><i class="fa fa-print"></i></span>
                                    </a>
                                    <p class="text-underline mb-0 fs9  pt3">{{'ASSET_CURD_LBL_PRINT' | translate}}</p>
                                </div>
                                <div class="text-center pl10" ng-click="submit()">
                                    <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-12" style="text-align:right">
                        <button ng-click="submit()" class="btn btn-red bold">
                            <i class="fa fa-plus mr5 "></i>
                            Thêm mới
                        </button>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="btn-group actions d-flex pull-right">
                        <div class="text-center pl10" ng-click="printQRCode()">
                            <a class="btn btn-icon-only btn-circle btn-outline blue-custom">
                                <span><i class="fa fa-print"></i></span>
                            </a>
                            <p class="text-underline mb-0 fs9  pt3">{{'ASSET_CURD_LBL_PRINT' | translate}}</p>
                        </div>
                        <div class="text-center pl10" ng-click="submit()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>-->
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 ">
                <uib-tabset active="active">
                    <uib-tab class="mt5" index="2" heading="{{'ASSET_CURD_LBL_CMSET' | translate}}" disable="Object.ContractCode == ''" ng-click="chkContract()">
                        <div disable="tests" ng-include="'../views/admin/asset/tabAttribute.html'"></div>
                    </uib-tab>
                    <uib-tab class="mt5" index="1" heading="{{'ASSET_CURD_LBL_DOCUMENT ' | translate}}" disable="Object.ContractCode == ''" ng-click="chkContract()">
                        <div disable="tests" ng-include="'../views/admin/asset/file.html'"></div>
                    </uib-tab>
                    <!--<uib-tab class="mt5" index="3" heading="{{'ASSET_HITORY_SCBD' | translate}}" disable="Object.ContractCode == ''" ng-click="chkContract()">
                        <div ng-include="'../views/admin/asset/assetTabMaintenanceHistory.html'"></div>
                    </uib-tab>-->
                    <!--<uib-tab class="mt5" index="4" heading="{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_LBL_ATTR_NAME ' | translate}}" disable="Object.ContractCode == ''" ng-click="chkContract()">
                        <div disable="tests" ng-include="'../views/admin/asset/assetTabHistoryRun.html'"></div>
                    </uib-tab>-->
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
