<style>
    @media(max-width:992px) {
        .modal-50 {
            width: 50% !important;
        }
    }

    @media(min-width:992px) and (max-width:1200px) {
        .modal-50 {
            width: 45% !important;
        }
    }

    @media(min-width:1201px) and (max-width:1500px) {
        .modal-50 {
            width: 38% !important;
        }
    }

    @media(min-width:1501px) {
        .modal-50 {
            width: 30% !important;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'ADM_RESOURCE_CURD_TITLE_ADD_RESOURCE' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require custom-title-code-bold">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control custom-title-code-bold" ng-model="model.ResourceCode" name="ResourceCode" placeholder="{{'ADM_RESOURCE_CURD_TXT_RESOURCE_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require custom-title-code-bold">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control custom-title-code-bold" ng-model="model.Title" name="Title" placeholder="{{'ADM_RESOURCE_CURD_TXT_RESOURCE_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-globe-americas" aria-hidden="true"></i>
                        <label class="control-label require">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_API' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Api" name="Api" placeholder="{{'ADM_RESOURCE_CURD_TXT_RESOURCE_API' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-folder-open" aria-hidden="true"></i>
                        <label class="control-label require">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_URL' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Path" name="Path" placeholder="{{'ADM_RESOURCE_CURD_TXT_RESOURCE_URL' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_DESCRIPTION' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Description" name="Description" placeholder="{{'ADM_RESOURCE_CURD_TXT_RESOURCE_DESCRIPTION' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-mail-reply" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_TYPE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="model.Style" name="Style">
                            <option value="">--- {{'ADM_RESOURCE_CURD_COMBO_RESOURCE_TYPE' | translate}} ---</option>
                            <option value="VIEW">VIEW</option>
                            <option value="ACCESS">ACCESS</option>
                            <option value="ACTION">ACTION</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-globe-americas" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_RESOURCE_CURD_LBL_RESOURCE_SCOPE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Scope" ng-value="false" ng-checked="true" value="false"> {{'ADM_RESOURCE_CURD_RADIO_RESOURCE_PUBLISH' | translate}}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Scope" ng-value="true" value="true"> {{'ADM_RESOURCE_CURD_RADIO_RESOURCE_PRIVATE' | translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <label class="control-label ">{{"ADM_RESOURCE_CURD_LBL_RESOURCE_STATUS" | translate}}</label>
                    </div>
                    <div class="col-md-8" ng-init="model.Status = true">
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Status" ng-value="true" ng-checked="true" value="true"> {{"ADM_RESOURCE_CURD_LBL_RESOURCE_ACTIVE" | translate}}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Status" ng-value="false" value="false"> {{"ADM_RESOURCE_CURD_LBL_RESOURCE_INACTIVE" | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer mr25">
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()" href="javascript:;">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>

