<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 20px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }
    .text-box-important {
        background-color: #27ae60 !important;
        color: #fcfdfd !important;
        font-weight: bold;
    }
</style>

<div class="modal-body userFormAreaHeader" id="modal-body">

    <div class="row pt5" ng-controller="addheader">
        <form name="addheader" class="form-horizontal " method="post" ng-validate="validationOptionsAttr">
            <div class="form-body pt-0 pl-0 pr-0">
                <div class="table-toolbar table_body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label require bold">{{'CAT_LBL_ACTIVITY_PROPERTIES_CODE'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="AttrCode" class="form-control" data-ng-model="modelAttr.AttrCode" placeholder="{{'CAT_LBL_ACTIVITY_PROPERTIES_CODE'|translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-0 pr-0">
                        <div class="form-group ">
                            <div class="col-md-12">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                                <label class="control-label require bold">{{'CAT_LBL_ACTIVITY_PROPERTIES_NAME'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="modelAttr.AttrName" name="AttrName" placeholder="{{'CAT_LBL_ACTIVITY_PROPERTIES_NAME'|translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class=" {'has-error': errorAttrDataType}">
                            <div class="col-md-12">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                                <label class="control-label require bold">{{'CAT_LBL_ACTIVITY_DATA_TYPE'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <ui-select tagging ng-model="modelAttr.AttrDataType" theme="bootstrap" on-select="changleSelect('AttrDataType')">
                                        <ui-select-match placeholder="{{'CAT_LBL_ACTIVITY_DATA_TYPE'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListATTRTYPE | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorAttrDataType" class="label-color validation-message">
                                    {{'CAT_VALIDATE_ACTIVITY_DATA_TYPE'|translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pl-0">
                        <div class="form-group" ng-class=" {'has-error': errorAttrUnit}">
                            <div class="col-md-12">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                                <label class="control-label require bold">{{'CAT_LBL_ACTIVITY_DVT'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <ui-select tagging ng-model="modelAttr.AttrUnit" theme="bootstrap" on-select="changleSelect('AttrUnit')">
                                        <ui-select-match placeholder="{{'CAT_LBL_ACTIVITY_DVT'|translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat=" x.Code as x in ListATTRUNIT | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="errorAttrUnit" class="label-color validation-message">
                                    {{'CAT_VLD_ACTIVITY_DVT'|translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <label class="control-label bold">{{'CAT_LBL_ACTIVITY_GC'|translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <textarea name="Note" rows="2" class="form-control" ng-model="modelAttr.Note" type="text" placeholder="{{'CAT_LBL_ACTIVITY_GC'|translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pull-right actions d-flex mt25 ml15" style="margin-left: -15px !important; margin-right: -10px;">
                            <div class="text-center ">
                                <a ng-click="addattr()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs9 mb8 pt5">{{'COM_BTN_ADD' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <table class="table dataTable table-hover table-striped"
                   datatable
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblDataAttr"></table>
        </div>
    </div>

</div>
