<script>
    function readURL2(input) {
        //alert('fine');
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                console.log('link: ' + e.target.result);
                $('#previewImage2')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title">{{'RMVBC_TITLE_INFORMATION' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal form-bordered" method="post">
            <div class="form-body">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group" hidden>
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-user"></i>{{'RMVBC_CURD_LBL_ID' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="{{'RMVBC_CURD_TXT_ID' | translate}}" ng-model="model.Id" name="FullName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-user"></i>{{'RMVBC_CURD_LBL_FIRST_NAME' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.FirstName" name="FirstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-user"></i>{{'RMVBC_CURD_LBL_LAST_NAME' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.LastName" name="LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_PHONE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.Phone" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-time"></i>{{'RMVBC_CURD_LBL_CREATE_DATE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.CreateDate" name="CreateDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fa fa-info-circle fa-2x center-icon-popup" aria-hidden="true"></i>   {{'RMVBC_CURD_LBL_AVATAR' | translate}}</label>
                            <div class="col-md-8">
                                <img id="previewImage2" src="{{model.Profile_picture}}" class="img-responsive img-thumbnail" style="width: 200px; margin-top: 10px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_EMAIL' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" placeholder="" ng-model="model.Email" name="Phone" />
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-6">
                       
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-time"></i>{{'RMVBC_CURD_LBL_UPDATE_DATE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.UpdateDate" name="UpdateDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_BALANCE_CREDIT' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" placeholder="" ng-model="model.Balance_credit" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_TOTAL_TRIP' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" placeholder="" ng-model="model.Total_trip" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_SOCIAL_ID' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.Social_Id" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-phone"></i>{{'RMVBC_CURD_LBL_ACTIVATED' | translate}}</label>
                            <div class="col-md-8 form-col-control" style="border-left:none">
                                <div class="bs-component ">
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" disabled ng-model="model.Active" value="1">
                                            {{'RMVBC_CURD_LBL_AT_ACTIVE' | translate}}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" disabled ng-model="model.Active" value="0">
                                            {{'RMVBC_CURD_LBL_AT_NO_ACTIVE' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-danger" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
</div>
