
<style>
    .nav-tabs {
        height: 36px;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #3c8dbc;
            color: #efecec;
            height: 35px;
        }

  


</style>
<script>

    $('#datetimepicker2').datetimepicker();
</script>

<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="fa fa-edit"></i> {{'RMVBC_TITLE_EDIT' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-scroll"></i> {{'RMVBC_CURD_LBL_TITLE_CHK' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.title_chk" name="FirstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-scroll"></i> {{'RMVBC_CURD_LBL_BOOK_CHK_CODE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.book_chk_code" name="LastName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-truck"></i> {{'RMVBC_CURD_EDIT_LICENSE_PLATE' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" disabled class="form-control" ng-model="model.License_plate" name="LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-folder"></i> {{'RMVBC_CURD_LBL_BLOCK_ID' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.block_id" name="LastName" />
                            </div>
                        </div>

                    </div>
                    <div class=" col-md-6" style="padding-left:0">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="padding-left:0"><i class="fas fa-warehouse"></i> {{'RMVBC_CURD_LBL_NUM_CHK' | translate}}</label>
                            <div class="col-md-8">
                                <input type="tel" class="form-control"  ng-model="model.num_chk" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="padding-left:0;padding-right:0"><i class="fas fa-warehouse"></i> {{'RMVBC_CURD_LBL_CHK_NEXT_CHK_TIME' | translate}}</label>
                            <div class="col-md-8">
                                <div class="bs-component">
                                    <div class="input-group date pick-date">
                                        <input class="form-control" data-val="true" name="NextTimeCheck" type="text" ng-model="model.next_chk_time" id="datetimepicker2">
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.next_chk_time = undefined" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                                <script>
                                    $('#datetimepicker2').datetimepicker({ pickTime: false, format: 'DD/MM/YYYY' });

                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="padding-left:0"><i class="glyphicon glyphicon-user"></i> {{'RMVBC_CURD_LBL_APPROVER_ID' | translate}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.approver_id" name="LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="padding-left:0"><i class="fas fa-exclamation"></i> {{'RMVBC_CURD_LBL_ADD_STATUS' | translate}}</label>
                            <div class="col-md-8 form-col-control" style="border-left:none;padding-left:0">
                                <div class="bs-component ">
                                    <div class="col-md-6"style="padding-left:0;padding-right:0">
                                        <label>
                                            <input type="radio" ng-model="model.status" value="1">
                                            {{'RMVBC_CURD_LBL_ADD_ST_UNFINISHED' | translate}}
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" ng-model="model.status" value="2">
                                            {{'RMVBC_CURD_LBL_ADD_ST_FINISH' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="padding-left:0"><i class="fas fa-sticky-note"></i> {{'RMVBC_CURD_LBL_NOTE' | translate}}</label>
                            <div class="col-md-8 form-col-control" style="border-left:none">
                                <textarea rows="3" class="form-control" ng-model="model.note" name="LastName">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div class="row" style="padding-top: 10px;">
            <div class="form-group" style="text-align:right; margin-right: 16px;">
                <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submit()"><i class="fa fa-edit"></i>{{'RMVBC_BTN_SAVE' | translate}}</button>
                <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-close"></i>{{'COM_BTN_CANCEL' | translate}}</button>
            </div>
        </div>

        <div class="row" style="height:10px;">
           
        </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#dichvubaohanh" style=" height: 35px;  border-top-left-radius: 10px; border-top-right-radius: 10px;" data-toggle="tab">{{'RMVBC_TAB_WARRANTY_SERVICE' | translate}}</a></li>
        <li><a href="#vattuthaythe" data-toggle="tab" style=" border-top-left-radius: 10px; border-top-right-radius: 10px; height: 35px;">{{'RMVBC_TAB_REPLACEMENT_MATERIALS' | translate}}</a></li>
    </ul>
    <div class="tab-content" style="font-size:13px;padding: 19px;">
        <div id="dichvubaohanh" class="tab-pane fade in active ">
            <div class="row" id="tableServices" >
                <div class="col-md-3" style="padding-bottom:10px" >
                    <input type="text" class="form-control" placeholder="&#x1F50D; {{'RMVBC_TAB_WS_KEY' | translate}}" ng-model="model.Key" name="Name" ng-change="reload()" />
                </div>
                <div class="col-md-3">
                   
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3" style="padding-bottom:10px">
                    <div class="btn-group pull-right actions">
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="addServices()" title="{{'RMVBC_TAB_WS_TITLE_ADD' | translate}}" style="background: #5b8ed0; color: white;"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="deleteChecked()" style="background: #ec4e56; color: white;"><i class="fa fa-remove"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="reload()" title="Refresh data"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <table class="table dataTable  table-hover table-striped"
                       datatable
                       dt-options="dtOptions1"
                       dt-columns="dtColumns1"
                       dt-instance="dtInstance1"
                       id="tblData_1"></table>
            </div>
           
            <div class="row" id="add" hidden>
                <div class="portlet-body form">
                    <form name="formdichvu" id="form1" class="form-horizontal form-bordered" method="post" ng-validate="validationOptions">
                        <div class="form-body">
                            <div class="row" style="font-size:14px;">
                                <div class="col-md-6" style="width: 50%; padding-left:0px;">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 text-left"><i class="fa fa-user" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_DRIVER_NAME' | translate}}</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  ng-model="model.Displayname" name="customer_code" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_LICENSE_PLATES' | translate}}</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  ng-model="model.License_plate" name="customer_code" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_NAME_CAR' | translate}}</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  ng-model="model.Name_car" name="customer_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_NUM_SEAT' | translate}}</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control"  ng-model="model.Num_seat" name="customer_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_COMPANY' | translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <ui-select ng-model="model.Id_company" class="" style="width: 100%;">
                                                    <ui-select-match placeholder="{{'RMVBC_TAB_WS_TXT_ADD_COMPANY' | translate}}">{{$select.selected.Name_company}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Id as x in treeData | filter:$select.value">
                                                        {{x.Name_company}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Id_company = undefined" class="btn btn-default no-shadow">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_TYPE_SEAT' | translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <ui-select ng-model="model.Type_seat" class="" style="width: 100%;">
                                                    <ui-select-match placeholder="{{'RMVBC_TAB_WS_TXT_ADD_TYPE_SEAT' | translate}}">{{$select.selected.value}}</ui-select-match>
                                                    <ui-select-choices repeat="x.type as x in typeS | filter:$select.value">
                                                        {{x.value}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Type_seat = undefined" class="btn btn-default no-shadow">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6" style="width: 50%">
                                    <div class="form-group">
                                        <div class="col-md-4 form-col-label text-right" style="border-left:none">
                                            <i class="sprite-image-16x16" style="font-size: 18px;color: #417976;"></i>
                                            <label class="control-label" for="Status">  {{'RMVBC_TAB_WS_LBL_ADD_AVATAR' | translate}}</label>
                                        </div>
                                        <div class="col-md-8 form-col-control" style="border-left:none">
                                            <div>
                                                <div class="fileupload-new thumbnail mb5" style="width:49% !important;margin:auto; float:left">
                                                    <img id="Image" ng-src='{{model.avatar}}' src="/images/default/no_image.png" style="height:120px; width:145px" />
                                                </div>
                                                <div class="fileupload-new thumbnail mb5" style="width:49% !important;margin:auto; margin-left:1%;  float:left">
                                                    <img id="Image" ng-src='{{model.avatar}}' src="/images/default/no_image.png" style="height:120px; width:145px" />
                                                </div>
                                            </div>
                                            <input type="file" id="file" class="form-control" accept=".png, .jpg, .jpeg, .gif, .bmp" files-input ng-model="model.avatar" name="avatar" onchange="readURL(this);">
                                            <!--<script>
                                                $(":file").filestyle({ buttonName: "btn btn-primary" });
                                            </script>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_WS_LBL_ADD_TYPE_CAR'|translate}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <ui-select ng-model="model.Type_car" class="" style="width: 100%;">
                                                    <ui-select-match placeholder="{{'RMVBC_TAB_WS_TXT_ADD_TYPE_CAR'|translate}}">{{$select.selected.value}}</ui-select-match>
                                                    <ui-select-choices repeat="x.type as x in typeC | filter:$select.value">
                                                        {{x.value}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Type_car = undefined" class="btn btn-default no-shadow">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="padding-top: 20px;">
                        <div class="form-group" style="text-align:right; margin-right: 16px;">
                            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submit()"><i class="fa fa-edit"></i>{{'RMVBC_BTN_SAVE'| translate}}</button>
                            <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-close"></i>{{'COM_BTN_CANCEL' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="vattuthaythe" class="tab-pane fade ">

            <div class="row">
                <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
                    <div class="form-body">
                        <div class="row" style="font-size:14px;">
                            <div class="col-md-6" style="width: 50%; padding-left:0px;">
                                <div class="form-group">
                                    <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_DRIVER_NAME' | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"  ng-model="model.Displayname" name="customer_code" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_LICENSE_PLATES' | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control"  ng-model="model.License_plate" name="customer_code" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_NAME_CAR' | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="model.Name_car" name="customer_name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 text-left"><i class="fas fa-truck" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_NUM_SEAT' | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="model.Num_seat" name="customer_name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_COMPANY' | translate}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Id_company" class="" style="width: 100%;">
                                                <ui-select-match placeholder="{{'RMVBC_TAB_RM_TXT_COMPANY' | translate}}">{{$select.selected.Name_company}}</ui-select-match>
                                                <ui-select-choices repeat="x.Id as x in treeData | filter:$select.value">
                                                    {{x.Name_company}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Id_company = undefined" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_TYPE_SEAT' | translate}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Type_seat" class="" style="width: 100%;">
                                                <ui-select-match placeholder="{{'RMVBC_TAB_RM_TXT_TYPE_SEAT' | translate}}">{{$select.selected.value}}</ui-select-match>
                                                <ui-select-choices repeat="x.type as x in typeS | filter:$select.value">
                                                    {{x.value}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Type_seat = undefined" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6" style="width: 50%">
                                <div class="form-group">
                                    <div class="col-md-4 form-col-label text-right" style="border-left:none">
                                        <i class="sprite-image-16x16" style="font-size: 18px;color: #417976;"></i>
                                        <label class="control-label" for="Status">  {{'RMVBC_TAB_RM_LBL_AVATAR' | translate}}</label>
                                    </div>
                                    <div class="col-md-8 form-col-control style=" border-left:none"" style="border-left:none">
                                        <div>
                                            <div class="fileupload-new thumbnail mb5" style="width:49% !important;margin:auto; float:left">
                                                <img id="Image" ng-src='{{model.avatar}}' src="/images/default/no_image.png" style="height:120px; width:145px" />
                                            </div>
                                            <div class="fileupload-new thumbnail mb5" style="width:49% !important;margin:auto; margin-left:1%;  float:left">
                                                <img id="Image" ng-src='{{model.avatar}}' src="/images/default/no_image.png" style="height:120px; width:145px" />
                                            </div>
                                        </div>
                                        <input type="file" id="file" class="form-control" accept=".png, .jpg, .jpeg, .gif, .bmp" files-input ng-model="model.avatar" name="avatar" onchange="readURL(this);">
                                        <!--<script>
                                            $(":file").filestyle({ buttonName: "btn btn-primary" });
                                        </script>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 text-right">
                                        <label><i class="fa fa-server" style="font-size: 18px;color: #417976;"></i>  {{'RMVBC_TAB_RM_LBL_TYPE_CAR' | translate}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Type_car" class="" style="width: 100%;">
                                                <ui-select-match placeholder="{{'RMVBC_TAB_RM_TXT_TYPE_CAR' | translate}}">{{$select.selected.value}}</ui-select-match>
                                                <ui-select-choices repeat="x.type as x in typeC | filter:$select.value">
                                                    {{x.value}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Type_car = undefined" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
