<link href="../../css/message-box/style.css" rel="stylesheet" />
<style>
    .titleTable {
        height: 35px;
        text-align: center;
        border: 1px solid #d2d2d2;
        font-weight: bold;
        font-size: 12px;
    }

    .cssContent {
        height: 35px;
        text-align: center;
        border: 1px solid #d2d2d2;
        font-size: 12px;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-list" style="padding-top:8px"></i>
    <span class="modal-title" id="modal-title"> {{'Chọn việc kế thừa' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post">
            <div class="form-body pt5">
                <div class="form-group">
                    <div class="col-md-10" style="padding-left: 0px;">
                        <label class="text-underline">{{'Việc kế thừa' | translate}}</label>
                        <div class="input-group">
                            <ui-select tagging ng-model="model.CardCode" theme="bootstrap">
                                <ui-select-match placeholder="{{'Việc kế thừa' | translate}}...">#{{$select.selected.CardCode}}: {{$select.selected.CardName}}</ui-select-match>
                                <ui-select-choices repeat="x.CardCode as x in listCardInScope | filter: $select.search">
                                    #{{x.CardCode}}: {{x.CardName}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-2 pt20">
                        <div class="btn-group actions d-flex">
                            <div class="text-center">
                                <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                    <span><i class="fa fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
