<link href="../../../css/admin/cardJob/team.css" rel="stylesheet" />
<div class="modal-header no-color">
    <div class="col-md-12 p0">
        <div class="col-md-11 p0">
            <input class="board-title form-control" ng-model="model.TeamName" placeholder="{{'CJ_CURD_TXT_TEAM_NAME' | translate}}" autofocus />
        </div>
        <div class="col-md-1 p0 text-right">
            <i class="fa fa-times close-icon cursor" title="Close" ng-click="cancel()"></i>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="col-md-12 mt5 p0">
        <ui-select id="LeaderSelect" tagging ng-model="model.Leader" on-select="leaderSelect(model.Leader)" theme="bootstrap">
            <ui-select-match placeholder="{{'CJ_CURD_TXT_LEADER' | translate}}...">{{$select.selected.GivenName}}</ui-select-match>
            <ui-select-choices style="height: auto" repeat="x.Id as x in listLeader | filter: $select.search">
                {{x.GivenName}}
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-12 mt5 p0">
        <ui-select ng-model="model.Member" multiple theme="bootstrap" class="" style="width: 100%;">
            <ui-select-match placeholder="{{'CJ_CURD_TXT_MEMBER' | translate}}...">{{$item.GivenName}}</ui-select-match>
            <ui-select-choices repeat="x in listUser | filter:$select.search">
                {{x.GivenName}}
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 p0 mt10 text-right">
        <button class="btn green" ng-click="submit()">{{'COM_BTN_ADD_TEAM' | translate}}</button>
    </div>
</div>