<style>
    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }
</style>
<div class="modal-header" style="background-color: #f1f1f1">
    <img class="icon-remove" title="Đóng" src="/images/default/close.png" ng-click="cancel()" />
    <span class="modal-title board-title black" id="modal-title">{{'CJ_BTN_ADD_BOARD' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body">
        <form name="editForm" class="form-horizontal" method="post" ng-validate="validationOptionsBoard">
            <div class="form-body pb-0 pt5">
                <div class="form-group">
                    <div class="col-md-12">
                        <table cols="6" class="_3dz6 uiGrid _51mz" alignh="center" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr class="_51mx">
                                    <td role="button" tabindex="0" class="_3dz9_51m-hCent" ng-repeat="x in listColor" ng-click="selectColor(x.Id)">
                                        <div class="_3dza">
                                            <div aria-label="Candy" class="_6kld" style="background-color:{{x.BackgroundColor}};background-image:{{x.BackgroundImage}}">
                                                <span class="check-color" ng-show="x.Check">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label require">{{'CJ_LBL_BOARD_NAME' | translate}}</label>
                        <input class="board-title form-control" name="BoardName" ng-model="model.BoardName" placeholder="{{'CJ_LBL_BOARD_NAME' | translate}}" autofocus />
                    </div>
                </div>
                <div class="col-md-6 pr-3">
                    <div class="form-group">
                        <label class="control-label">{{'CJ_LBL_BRANCH' | translate}}</label>
                        <ui-select tagging ng-model="model.Branch" theme="bootstrap" on-select="changeSelect('Branch')">
                            <ui-select-match placeholder="{{'CJ_TXT_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="errorBranch" class="label-color validation-message">
                            {{'Chi nhánh không được bỏ trống' | translate}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 pl-3">
                    <div class="form-group">
                        <label class="control-label">{{'CJ_CURD_BTN_DEPARTMENT' | translate}}</label>
                        <ui-select tagging ng-model="model.Department" theme="bootstrap" on-select="changeSelect('Department')">
                            <ui-select-match placeholder="{{'CJ_CURD_BTN_DEPARTMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listDepartment | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="errorDepartment" class="label-color validation-message">
                            {{'CJ_VALIDATE_DEPARTMENT' | translate}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">{{'CJ_LBL_BOARD_TYPE' | translate}}</label>
                        <ui-select tagging ng-model="model.BoardType" theme="bootstrap">
                            <ui-select-match placeholder="{{'CJ_LBL_BOARD_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in boardType | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">{{'CJ_LBL_START_TIME' | translate}}</label>
                        <div class="input-group date" id="boardStart">
                            <input ng-model="model.BeginTimeView" class="form-control " placeholder="{{'CJ_LBL_START_TIME' | translate}}..." />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">{{'CJ_LBL_END_TIME' | translate}}</label>
                        <div class="input-group date" id="boardDueDate">
                            <input ng-model="model.DeadLineView" class="form-control " placeholder="{{'CJ_LBL_END_TIME' | translate}}..." />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="submit()" class="btn btn-green mr5" href="javascript:;">
        {{'COM_BTN_SAVE' | translate}}
    </button>
</div>

