<div class="board-detail-search">
    <div class="col-lg-9" ng-show="!SearchAdvMode">
        <div class="col-md-3 pt-2 pr-0">
            <div class="input-group">
                <ui-select tagging ng-model="searchObj.BranchId" theme="bootstrap" on-select="search()">
                    <ui-select-match placeholder="{{'CJ_TXT_BRANCH_UNIT' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="searchObj.BranchId=''; searchInTab(5)" class="btn btn-default no-shadow start-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3 pr-0" ng-class="{'pt-2' : !isTabSumary }">
            <div class="input-group" ng-show="!isTabSumary">
                <ui-select tagging ng-model="searchObj.ObjTypeCode" theme="bootstrap" on-select="objTypeChange(searchObj.ObjTypeCode)" ng-disabled="true">
                    <ui-select-match placeholder="{{'CJ_CURD_LBL_SEARCH_OBJ_DEPENDENCY' | translate}}..."><p class="bold">{{$select.selected.Name}}</p></ui-select-match>
                    <ui-select-choices repeat="x.Code as x in objTypeJC | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-6 pr-0" ng-class="{'pt-2' : !isTabSumary }">
            <div class="input-group" ng-show="!isTabSumary">
                <ui-select tagging ng-model="searchObj.Object" theme="bootstrap" on-select="search()">
                    <ui-select-match placeholder="{{'CJ_CURD_TXT_SEARCH_OBJ_CODE' | translate}}..."><p class="bold">{{$select.selected.Name}}</p></ui-select-match>
                    <ui-select-choices repeat="x.Code as x in listObjWithType | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="searchObj.Object=''; searchInTab(5)" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="pr-0 pb-1" ng-class="{'col-md-6 pt-1': !isTabSumary, 'col-md-5 pt-2' : isTabSumary }">
            <input class="form-control" ng-model="searchObj.CardName" placeholder="{{'CJ_TXT_SEARCH_CARD_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && search()" />
        </div>
        <div class="pr-0 " ng-class="{'pt-1 col-md-3': !isTabSumary, 'col-md-2 pt-2' : isTabSumary }">
            <div class="input-group date" id="FromDate">
                <input class="form-control" ng-model="searchObj.FromDate" placeholder="{{'CJ_TXT_SEARCH_FROM_DATE' | translate}}..." ng-change="search()" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="pr-0" ng-class="{'pt-1 col-md-3': !isTabSumary, 'col-md-2 pt-2' : isTabSumary }">
            <div class="input-group date" id="ToDate">
                <input class="form-control" ng-model="searchObj.ToDate" placeholder="{{'CJ_TXT_SEARCH_TO_DATE' | translate}}..." ng-change="search()" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12" ng-show="SearchAdvMode" style="margin-bottom: -20px;">
        <div class="portlet light bordered input-search mt5 p10">
            <div class="portlet-body">
                <div class="row">
                    <div class="pr-0 pb-1 col-md-4 pt-2">
                        <input class="form-control" ng-model="searchAdv.CardName" placeholder="{{'CJ_TXT_SEARCH_CARD_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && searchAdvantage()" />
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Status" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_CURD_TXT_SEARCH_STATUS' | translate}}..."><b>{{$select.selected.Value}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in CardStatus | filter: $select.search">
                                    {{x.Value}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Status=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.BranchId" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_TXT_BRANCH_UNIT' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.BranchId=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.BoardCode" theme="bootstrap" on-select="boardSelect(searchAdv.BoardCode)">
                                <ui-select-match placeholder="{{'CJ_TXT_BOARD' | translate}}..."><b>{{$select.selected.BoardName}}</b></ui-select-match>
                                <ui-select-choices repeat="x.BoardCode as x in listBoards | filter: $select.search">
                                    {{x.BoardName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.BoardCode=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2" style="width: 14%;">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.ListCode" theme="bootstrap" ng-click="listSelect(searchAdv.BoardCode)">
                                <ui-select-match placeholder="{{'CJ_TXT_LIST' | translate}}..."><b>{{$select.selected.ListName}}</b></ui-select-match>
                                <ui-select-choices repeat="x.ListCode as x in Lists | filter: $select.search">
                                    {{x.ListName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.ListCode=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <i style="margin-top:25px !important; margin-right:15px !important; font-size:25px" ng-click="SearchAdv()" class="fas fa-angle-up pull-right h28 w28 close-input-search" role="button" title="Ẩn tìm kiếm"></i>
                </div>
                <div class="row">
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Project" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_LBL_PROJECT' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listProject | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Project=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Customer" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_CURD_BTN_CUSTOMER' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listCustomer | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Customer=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Contract" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_LBL_CONTRACT' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listContract | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Contract=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Supplier" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_CURD_BTN_SUPPLIER' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in getListSupplier | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Supplier=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="pr-0 col-md-2 pt-2">
                        <div class="input-group date" id="FromDateAdv">
                            <input class="form-control" ng-model="searchAdv.FromDate" placeholder="{{'CJ_TXT_SEARCH_FROM_DATE' | translate}}..." />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="pr-3 col-md-2 pt-2">
                        <div class="input-group date" id="ToDateAdv">
                            <input class="form-control" ng-model="searchAdv.ToDate" placeholder="{{'CJ_TXT_SEARCH_TO_DATE' | translate}}..." />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="pr-0 pb-1 col-md-4 pt-2">
                        <input class="form-control" ng-model="searchAdv.CardName" placeholder="{{'CJ_TXT_SEARCH_CARD_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && searchAdvantage()" />
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Status" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_CURD_TXT_SEARCH_STATUS' | translate}}..."><b>{{$select.selected.Value}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in CardStatus | filter: $select.search">
                                    {{x.Value}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Status=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>-->
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Department" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_BTN_DEPARTMENT' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listDepartment | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Department=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.UserId" theme="bootstrap" on-select="selectUser($item)">
                                <ui-select-match placeholder="{{'CJ_CURD_BTN_MEMBER' | translate}}..."><b>{{$select.selected.GivenName}}</b></ui-select-match>
                                <ui-select-choices repeat="x.UserId as x in listUser | filter: $select.search">
                                    {{x.GivenName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.UserId=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 pt-2 pr-0">
                        <div class="input-group">
                            <ui-select tagging ng-model="searchAdv.Group" theme="bootstrap">
                                <ui-select-match placeholder="{{'CJ_CURD_TXT_TEAM' | translate}}..."><b>{{$select.selected.Name}}</b></ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listGroupUser | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="searchAdv.Group=''" class="btn btn-default no-shadow start-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="btn-group actions d-flex pull-left pt-1 ml-1">
                        <div class="text-center pl-1" style="padding-top:2px;">
                            <a data-dismiss="modal" ng-click="searchAdvantage()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pr-0 pt-1" ng-show="!SearchAdvMode">
        <div class="btn-group actions d-flex pull-left">
            <div class="text-center pr-1" style="padding-top:3px;">
                <a ng-click="addNewCard()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                    <span><i class="fa fa-trello"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_TRANS_WORK' | translate}}</p>
            </div>
            <div class="text-center pr-1" ng-if="ViewMode == 0" ng-click="gridCard(1)">
                <a>
                    <img src="/images/cardJob/board.png" />
                </a>
                <p class="text-underline fs9 mb5">{{'CJ_BTN_LIST' | translate}}</p>
            </div>
            <div class="text-center pr-1" ng-if="ViewMode == 1" ng-click="gridCard(0)">
                <a>
                    <img src="/images/cardJob/list.png" />
                </a>
                <p class="text-underline fs9 mb5">{{'CJ_BTN_BOARD' | translate}}</p>
            </div>
            <div class="text-center" style="padding-top:2px;">
                <a ng-click="showGantt()" class="btn btn-icon-only btn-circle btn-outline green-custom" style="border-radius:50% !important; background:green;">
                    <span><i class="fa fa-line-chart"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_CHART_PROGRESS' | translate}}</p>
            </div>
            <div class="text-center" style="padding-top:2px;">
                <a ng-click="showSchedule()" class="btn btn-icon-only btn-circle btn-outline green-custom" style="border-radius:50% !important; background:green;">
                    <span><i class="fa fa-calendar-check-o"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3"> {{'CJ_BTN_CALENDAR' | translate}}</p>
            </div>
            <div class="text-center pl-1" style="padding-top:2px;">
                <a data-dismiss="modal" ng-click="SearchAdv()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                    <span><i class="fa fa-search"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="board-detail-header">
    <div class="col-md-12 p0">
        <div class="col-md-8">
            <div class="board" ng-if="show.board && boardCode != null">
                <a class="black bold fs18">{{modelDetail.BoardName}}</a>
                <span class="badge-customer badge-customer-success">{{modelDetail.Completed}}%</span>
            </div>
        </div>
    </div>
</div>
<div class="board-detail-body" style="height:{{ViewMode == 0 ? '90%':''}};">
    <style>
        .nav-tabs .nav-link, .nav-tabs a {
            background: #428bca;
            transition: 0.1s;
            background-size: 200% auto;
            border-top-left-radius: 6px !important;
            border-top-right-radius: 6px !important;
            font-size: 12px;
            color: white;
            padding: 8px;
            bottom: -2px;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: white !important;
            font-weight: 300;
            background: #3d9c4d;
            font-size: 12px;
            padding: 10px;
            bottom: 2px;
        }
    </style>
    <uib-tabset ng-show="!SearchAdvMode">
        <uib-tab class="mt5 text-underline ml-2" index="4" heading="{{'CJ_TAB_ALL' | translate}}" ng-click="searchInTab(5)"></uib-tab>
        <uib-tab class="mt5 text-underline" index="0" heading="{{'CJ_TAB_PENDING' | translate}}" ng-click="searchInTab(1)"></uib-tab>
        <uib-tab class="mt5 text-underline" index="1" heading="{{'CJ_TAB_CREATED' | translate}}" ng-click="searchInTab(2)"></uib-tab>
        <uib-tab class="mt5 text-underline" index="2" heading="{{'CJ_TAB_SUCCESS' | translate}}" ng-click="searchInTab(3)"></uib-tab>
        <uib-tab class="mt5 text-underline" index="3" heading="{{'CJ_TAB_CANCLED' | translate}}" ng-click="searchInTab(4)"></uib-tab>
        <uib-tab class="mt5 text-underline" index="6" heading="{{'CJ_TAB_STATUS_TRASH' | translate}}" ng-click="searchInTab(6)"></uib-tab>
    </uib-tabset>
    <div ng-if="ViewMode == 0" class="list-card h100">
        <div class="h100" style="overflow: auto;width:100%;position:relative">
            <ul ui-sortable="sortableOptions" ng-model="lists" id="BoardDetailMain">
                <!--start card-->
                <li class="card col-md-2 p0 list" id="{{list.ListCode}}" ng-repeat="list in lists">
                    <div class="col-md-12 p5 task-board" style="{{list.Background}}">
                        <div class="col-md-11 p0 card-header">
                            <div class="col-xs-1 p0">
                                <i class="fas fa-sun" style="color: {{list.Status=='0' ? '#d35400':list.Status=='1' ? '#f1c40f' :'#2ecc71'}};"></i>
                            </div>
                            <div class="col-xs-10 pl5 pr5">
                                <div class="list-header-target" ng-mouseup="editingListTitle(list.ListID)" ng-show="!acticeDrag"></div>
                                <input id="listName_{{list.ListID}}" data-currentvalue="{{list.ListName }}" class="category-title" value="{{list.ListName.length > 25 ? list.ListName.substr(0, 25) + '...' : list.ListName}}" ng-blur="updateListName(list.ListID)" />

                            </div>
                            <span class="percent-list white" style="font-family:serif">{{list.Completed}}%</span><br />
                        </div>
                        <div class="col-md-1 text-right p0">
                            <div class="col-md-12 p0">
                                <div class="col-md-1 pull-right dropdown">
                                    <a class="white" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-toggle scrollbar-sm mh-450 of-y-a mrn5">
                                        <li class="dropdown-header text-center pt10 fs14">
                                            <label class="gray">{{'CJ_CURD_LBL_CHANGE_STATUS' | translate}}</label>
                                        </li>
                                        <li ng-class="{true: 'active'}[list.Status == 1]"><a class="bold" ng-click="changeListStatus(list.ListID, 1)">{{'CJ_CURD_BTN_CHANGE_STATUS_INITILIZE' | translate}}</a></li>
                                        <li ng-class="{true: 'active'}[list.Status == 2]"><a class="bold" ng-click="changeListStatus(list.ListID, 2)">{{'CJ_CURD_BTN_CHANGE_STATUS_ACTION' | translate}}</a></li>
                                        <li ng-class="{true: 'active'}[list.Status == 0]"><a class="bold" ng-click="changeListStatus(list.ListID, 0)">{{'CJ_CURD_BTN_CHANGE_STATUS_LATE' | translate}}</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header text-center pt10 fs14">
                                            <label class="gray">{{'CJ_CURD_LBL_SORT_LIST_BY_STATUS' | translate}}</label>
                                        </li>
                                        <li><a class="bold" ng-click="sortListByStatus(0)">{{'CJ_CURD_BTN_SORT_BY_LATE_STATUS' | translate}}</a></li>
                                        <li><a class="bold" ng-click="sortListByStatus(1)">{{'CJ_CURD_BTN_SORT_BY_ACTION_STATUS' | translate}}</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="bold" ng-click="changeListHeaderBackground(list.ListID)">{{'CJ_CURD_BTN_CHANGE_HEADER_BACKGROUND' | translate}}</a></li>
                                        <li><a class="bold" ng-click="changeListWeightNum(list.ListID,list.WeightNum)">{{'CJ_LBL_WEIGH_NUM' | translate}} <span class="text-danger">{{list.WeightNum}}%</span></a></li>
                                        <li><a class="bold" ng-click="changeListBeginTime(list.ListID,list.BeginTime)">{{'CJ_LBL_START_TIME' | translate}}&nbsp;<span class="text-danger">{{list.BeginTime | date:'dd/MM/yyyy' }}</span></a></li>
                                        <li><a class="bold" ng-click="changeDeadLine(list.ListID,list.Deadline)">{{'CJ_LBL_DEADLINE' | translate}}&nbsp;<span class="text-danger">{{list.Deadline | date:'dd/MM/yyyy' }}</span></a></li>
                                        <li class="divider"></li>
                                        <li><a class="bold" ng-click="deleteList(list.ListID)">{{'CJ_CURD_BTN_DELETE_LIST' | translate}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pl10 pr-0 list-body">
                        <ul class="tag-content pr10 " ui-sortable="sortableCard" ng-model="list.ListCard">
                            <li class="col-md-12 p0 task-card" id="{{card.CardCode}}" style="min-height: 0px !important" ng-repeat="card in list.ListCard">
                                <div class="tag-item col-md-12 mt5" role="button">
                                    <div class="row">
                                        <b class="pull-left pl15">
                                            <span>#{{card.CardCode}}</span><br />
                                            <a class="text-danger fs8 cardDetailLine" ng-click="cardChangeDeadLine(card.CardCode,list.ListCode)"><u>H/C:{{card.Deadline | date:'dd/MM/yyyy'}}</u></a>
                                        </b>
                                        <div class="btn-group pull-right actions d-flex">
                                            <div class="text-center pr5">
                                                <a class="btn btn-icon-only btn-circle btn-outline green-custom w30 h-30 pt5" ng-click="cardMember(card.CardCode)">
                                                    <span><i class="fa fa-users fs10"></i></span>
                                                </a>
                                                <p class="text-underline fs8 mb5">{{'CJ_BTN_GROUP' | translate}}</p>
                                            </div>
                                            <div class="text-center pr5">
                                                <a class="btn btn-icon-only btn-circle btn-outline blue-custom w30 h-30 pt5" ng-click="cardGroupUser(card.CardCode)">
                                                    <span><i class="fas fa-warehouse fs10"></i></span>
                                                </a>
                                                <p class="text-underline fs8 mb5">{{'CJ_BTN_DEPARTMENT' | translate}}</p>
                                            </div>
                                            <div class="text-center pr5">
                                                <a class="btn btn-icon-only btn-circle btn-outline green-custom w30 h-30 pt5" ng-click="cardRelative(card.CardCode)">
                                                    <span><i class="fas fa-link fs10"></i></span>
                                                </a>
                                                <p class="text-underline fs8 mb5">{{'CJ_BTN_RELATIVE'| translate}}</p>
                                            </div>
                                            <div class="text-center pr5">
                                                <a class="btn btn-icon-only btn-circle btn-outline purple-custom   w30 h-30 pt5" ng-click="cardProgress(card.CardCode)">
                                                    <span><i class="fas fa-percent fs10"></i></span>
                                                </a>
                                                <p class="text-underline fs8 mb5">{{'CJ_BTN_PROGRESS' | translate}}</p>
                                            </div>
                                            <div class="text-center pr20">
                                                <a class="btn btn-icon-only btn-circle btn-outline red-custom w30 h-30 pt5" ng-click="cardDetail(card.CardCode)">
                                                    <span><i class="fa fa-edit fs10"></i></span>
                                                </a>
                                                <p class="text-underline fs8 mb5">{{'CJ_BTN_UPDATE'| translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" style="color: #000 !important;" ng-model="card.CardName" ng-blur="cardName(card.CardID,card.CardName)" ng-keydown="($event.keyCode == 13) && cardName(card.CardID,card.CardName)" placeholder="{{'CJ_CURD_TXT_CARD_NAME' | translate}}..."></textarea>
                                        </div>
                                    </div>
                                    <style>
                                        .ui-select-bootstrap-height .ui-select-toggle {
                                            border-bottom-right-radius: 4px !important;
                                            border-top-right-radius: 4px !important;
                                            height: 31px;
                                            padding-top: 5px !important;
                                        }
                                    </style>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="fw600 text-underline text-primary">{{'CJ_CURD_LBL_SEARCH_STATUS' | translate}}:</span>&nbsp;<a class="badge-customer badge-customer-success" ng-class="{'text-danger': card.Status==''}">{{card.Status=='' ? 'Đang chờ':card.Status }} ({{card.CountCheckListDone==undefined ?'0':card.CountCheckListDone}}/{{card.CountCheckList ==undefined ?'0':card.CountCheckList}})</a>
                                        </div>
                                        <div class="col-md-7">
                                            <span class="fw600">{{'CJ_CURD_LBL_COST' | translate}}:</span>&nbsp;<b ng-class="{'text-danger':card.Cost==0,'text-success':card.Cost!=0}">{{card.Cost | number: 2}}</b>&nbsp;<b class="fs7 text-success">{{card.CurrencyValue}}</b>
                                        </div>
                                        <div class="col-md-5">
                                            <span class="fw600">{{'CJ_LBL_PROGRESS' | translate}}:&nbsp;<b class="text-success">{{card.Completed}}%</b></span>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="showTask">
                                        <div class="col-md-6">
                                            <label class="mb-0">{{'CJ_CURD_LBL_SEARCH_FROM_DATE' | translate}}</label>
                                            <div class="input-group date startDate">
                                                <input ng-model="card.BeginTime" class="form-control h-30 fs10" type="text" placeholder="Bắt đầu..." ng-change="cardChangeBeginTime(card.CardCode,card.BeginTime)" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar fs11"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="mb-0">{{'CJ_CURD_LBL_SEARCH_TO_DATE' | translate}}</label>
                                            <div class="input-group date endDate">
                                                <input ng-model="card.EndTime" class="form-control h-30 fs10" type="text" placeholder="Kết thúc..." ng-change="cardChangeEndTime(card.CardCode,card.EndTime)" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar fs11"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="showTask">
                                        <div class="col-md-6">
                                            <label class="mb-0">{{'CJ_CURD_LBL_QUANTITATIVE' | translate}}</label>
                                            <input ng-model="card.Quantitative" class="form-control h-30" placeholder="{{'CJ_CURD_LBL_QUANTITATIVE' | translate}}..." type="text" num-thousand='true' awnum num-int='21' ng-blur="cardQuantitative(card.CardCode,card.Quantitative)" ng-keydown="($event.keyCode == 13) && CardQuantitative(card.CardCode,card.Quantitative)" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="mb-0">{{'CJ_LBL_UNIT' | translate}}</label>
                                            <ui-select class="h-30 ui-select-bootstrap-height" ng-model="card.Unit" theme="bootstrap" ng-change="cardUnit(card.CardCode,card.Unit)">
                                                <ui-select-match placeholder="{{'CJ_LBL_UNIT' | translate}}...">{{$select.selected.Value}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listUnit | filter: $select.search">
                                                    {{x.Value}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pr30">
                                            <div class="w35 pull-right">
                                                <label class="custom-switch">
                                                    <input type="checkbox" ng-init="$scope.showTask=false" ng-click="showTask ? showTask=false : showTask=true">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-12 pr10 p0 pt5 pb10" id="bottom_{{list.ListCode}}">
                        </div>
                    </div>

                    <div class="col-md-12 p5 new-tag">
                        <div ng-if="showAddCard != list.ListCode">
                            <div class="pl5">
                                <a class="btn btn-icon-only btn-circle btn-outline green-custom w30 h-30 pt5" ng-click="openAddCard(list.ListCode)">
                                    <span><i class="fa fa-plus fs10"></i></span>
                                </a>
                                <p class="text-underline fs8 mb5">{{'COM_BTN_CARD_JOB' | translate}}</p>
                            </div>
                        </div>
                        <div class="list-footer" ng-if="showAddCard == list.ListCode">
                            <div class="btn-group actions d-flex mr25">
                                <div class="text-center">
                                    <a ng-click="addCard(list.ListCode)" class="btn btn-icon-only btn-circle w30 h-30 pt5 btn-outline green-custom">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs8 mb5">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                                <div class="pl20">
                                    <a data-dismiss="modal" ng-click="closeAddCard(list.ListCode)" class="btn btn-icon-only btn-circle w30 h-30 pt5 btn-outline red-custom">
                                        <span><i class="glyphicon glyphicon-remove"></i></span>
                                    </a>
                                    <p class="text-underline fs8 mb5">{{'COM_BTN_CANCEL' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--end card-->
                <!--add list-->
                <li class="text-center d-inline-block float-xs-none align-top" ng-if="show.board">
                    <div class="card list col-md-12 p3" ng-if="showAddList">
                        <div class="col-md-12 p0">
                            <input class="form-control pull-left" ng-model="addlist.ListName" type="text" placeholder="{{'CJ_CURD_TXT_LIST_NAME' | translate}}..." />
                        </div>
                        <div class="col-md-12 p0 text-left" style="margin-top: 3px">
                            <button class="btn green bold" ng-click="addList()">
                                {{'CJ_CURD_BTN_ADD_LIST' | translate}}
                            </button>
                            <button class="btn btn-icon-only" ng-click="openAddList()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <a class="new-category w200 ml10" ng-click="openAddList()" ng-if="!showAddList" style="padding: 10px">
                        <i class="fa fa-plus"></i>
                        {{'CJ_CURD_BTN_OPEN_ADD_LIST' | translate}}
                    </a>
                </li>
            </ul>
            <ul class="list-card-pagination" uib-pagination previous-text="{{'CJ_PAGINATION_BEFORE' | translate}}" next-text="{{'CJ_PAGINATION_AFTER' | translate}}" first-text="{{'CJ_PAGINATION_FIRST' | translate}}" last-text="{{'CJ_PAGINATION_LAST' | translate}}" boundary-links="true" total-items="listAndCard.Total" ng-model="listAndCard.CurrentPage" items-per-page="listAndCard.Length" ng-click="selectPageList()"></ul>
        </div>
    </div>
    <div ng-if="ViewMode == 1" class="container-fluid pr-0" ng-include="'../views/admin/cardJob/grid-card.html'" style="padding-bottom: 50px !important;"></div>
</div>
