<div class="modal-header" style="background-color: #f1f1f1">
    <img class="icon-remove" title="Đóng" src="/images/default/close.png" ng-click="cancel()" />
    <span class="modal-title board-title black" id="modal-title">{{'CJ_CURD_LBL_WEIGHT_NUM' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body">
        <form name="editForm" class="form-horizontal" method="post" ng-validate="validationOptionsWeightNum">
            <div class="form-body pb-0 pt5">
                <div class="form-group">
                    <div class="col-md-12">
                        <input class="form-control" ng-model="model.WeightNum" placeholder="{{'CJ_CURD_LBL_WEIGHT_NUM' | translate}}" name="WeightNum"  num-thousand='true' awnum num-int='21'/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="submit()" class="btn btn-red mr5" href="javascript:;">
        {{'COM_BTN_SAVE' | translate}}
    </button>
</div>

