<div class="modal-header" style="background-color: #f1f1f1">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-calendar fs15 pt10 black"></i>
    <span class="modal-title black" id="modal-title"> {{'CJ_LBL_START_TIME' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post">
            <div class="form-body">
                <div class="form-group">
                    <input type='text' autocomplete="off" class="form-control " ng-model="model.BeginTime" name="BeginTime" placeholder="{{'CJ_LBL_START_TIME' | translate}}..." id="BeginTime" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="submit()" class="btn btn-red mr10" href="javascript:;">
        {{'COM_BTN_SAVE' | translate }}
    </button>
</div>
