<div class="modal-header" style="background-color: #f1f1f1">
    <img class="icon-remove" title="Đóng" src="/images/default/close.png" ng-click="cancel()" />
    <span class="modal-title board-title black" id="modal-title">{{'CJ_LBL_CHANGE_COLOR' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body">
        <form name="editForm" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pb-0 pt5">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="list-color-round" role="button" ng-repeat="x in listColor" style="{{x.Background}}" ng-click="selectColor(x.Id)">
                            <i class="fas fa-check list-color-check" ng-show="x.Check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="submit()" class="btn btn-accent mr5" href="javascript:;">
        {{'COM_BTN_SAVE' | translate}}
    </button>
</div>

