<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title " id="modal-title"> {{'MLP_TITLE_ADD_CHILDREN_PRODUCT' | translate}}</span>
</div>
<div class="row mt10">
    <div class="col-md-12" style="margin-bottom:-20px" ng-init="indextab = 0">
        <uib-tabset active="indextab" class="mb20">
            <uib-tab active="true" index="0" heading="{{'MLP_TAB_CHILDREN_ADD_PRODUCT' | translate}}" ng-click="changeTab(0)">
                <div ng-include="'../views/admin/materialProduct/moreAddC1.html'"></div>
            </uib-tab>
            <uib-tab active="true" index="1" heading=" {{'MLP_TAB_CHILDREN_ADD_PRODUCT' | translate}}" ng-click="changeTab(1)" ng-if="groupCode=='GIAY_DAN_TUONG'">
                <div ng-include="'../views/admin/materialProduct/moreAddC2.html'"></div>
            </uib-tab>
            <uib-tab active="true" index="2" heading=" {{'MLP_TAB_CHILDREN_ADD_PRODUCT' | translate}}" ng-click="changeTab(2)" ng-if="groupCode=='REM'">
                <div ng-include="'../views/admin/materialProduct/moreSimpleOrder.html'"></div>
            </uib-tab>
            <uib-tab active="true" index="3" heading=" {{'MLP_TAB_CHILDREN_ADD_PRODUCT' | translate}}" ng-click="changeTab(3)" ng-if="groupCode=='THAM'">
                <div ng-include="'../views/admin/materialProduct/moreCarpet.html'"></div>
            </uib-tab>
            <uib-tab active="true" index="4" heading=" {{'MLP_TAB_CHILDREN_ADD_PRODUCT' | translate}}" ng-click="changeTab(4)" ng-if="groupCode=='SAN'">
                <div ng-include="'../views/admin/materialProduct/moreFloors.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>