<div class="modal-header" style="background-color:white">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit pt5 fs16 black"></i>
    <span class="modal-title black" id="modal-title">
        {{'Lịch' | translate}}
    </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <style>
            .fc-time {
                display: none;
            }
        </style>
        <div class="calendar-wrap pt10" ng-if="IsTranslate">
            <div id="calendarCard"></div>
        </div>
    </div>
</div>