<div ng-controller="tabAttribute">
    <div class="table-toolbar">
        <div class="row">
            <form name="addform" method="post" ng-validate="validationAttributeOptionsService">
                <div class="col-md-2 form-group">
                    <label class="control-label require">{{'SVC_CURD_TAB_ATTRIBUTE_LBL_CODE' | translate}}</label>
                    <div class="mb5">
                        <input class="form-control" ng-readonly="isEditAttribute" name="AttributeCode" ng-model="model.AttributeCode" placeholder="{{'SVC_CURD_TAB_ATTRIBUTE_TXT_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label class="control-label require">{{'SVC_CURD_TAB_ATTRIBUTE_LBL_NAME' | translate}}</label>
                    <div class="mb5">
                        <input class="form-control" name="AttributeName" ng-model="model.AttributeName" placeholder="{{'SVC_CURD_TAB_ATTRIBUTE_TXT_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label class="control-label require">{{'SVC_CURD_TAB_ATTRIBUTE_LBL_VALUE' | translate}}</label>
                    <div class="mb5">
                        <input class="form-control" style="font-weight:bold" name="AttributeValue" ng-model="model.AttributeValue" placeholder="{{'SVC_CURD_TAB_ATTRIBUTE_TXT_VALUE' | translate}}..." />
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label class="control-label require">{{'SVC_CURD_TAB_ATTRIBUTE_FIELD_TYPE' | translate}}</label>
                    <div class="mb5">
                        <input class="form-control" name="FieldType" ng-model="model.FieldType" placeholder="{{'SVC_CURD_TAB_ATTRIBUTE_FIELD_TYPE' | translate}}..." />
                    </div>
                </div>
                <div class="col-md-2">
                    <label>{{'SVC_CURD_TAB_ATTRIBUTE_LBL_NOTE' | translate}}</label>
                    <div class="form-group mb5">
                        <div class="form-group">
                            <input class="form-control" name="Note" ng-model="model.Note" placeholder="{{'SVC_CURD_TAB_ATTRIBUTE_TXT_NOTE' | translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="top:17px">
                    <div class="btn-group actions d-flex mr25">
                        <div class="text-center" ng-hide="isEditAttribute">
                            <a ng-disabled="ProductID==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                        <div class="text-center" ng-hide="!isEditAttribute">
                            <a ng-disabled="ProductID==''" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                        <div class="text-center" ng-hide="!isEditAttribute">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttribute"></table>
</div>