<div class="modal-header" style="background-color:white">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit pt5 fs16 black"></i>
    <span class="modal-title black" id="modal-title">
        {{'Thẻ việc ngày' | translate}} {{date}}
    </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <table class="table dataTable table-hover"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData"></table>
    </div>
</div>
