<div ng-controller="image">
    <div id="tab_image" class="tab-pane admin-form">
        <div class="row">
            <div class="col-lg-7">
                <div class="fileupload fileupload-new mh15" data-provides="fileupload" id="block-upload-image" style="width: 500px; height: 380px; margin: 0 auto !important;">
                    <div class="form-group">
                        <div class="fileupload-new thumbnail pb-0" style="border:0; box-shadow: none;background:none;">
                            <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                            <!--<img id="imageId" ng-click="loadImage()" style="height: 200px; width: 200px;cursor: pointer" ng-src="{{model.gallery}}" alt="Hình ảnh" />-->
                            <img id="imageId" ng-click="loadImage()" class="h-300 w-450 br-n" onerror="this.src='../../../images/default/uploadimg.png'" ng-src="{{model.gallery==null ? '../../../images/default/uploadimg.png' : model.gallery}}" role="button" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <a ng-click="loadImage()" class="btn btn-primary btn-block fileupload-exists" data-dismiss="fileupload">Chọn ảnh</a>
                        </div>
                        <!--<div class="col-xs-3">
                            <input id="ImageServer" name="ImageServer" type="hidden" value="" />
                            <a href="javascript:void(0);"
                               data-href="#modal-panel-frame"
                               class="btn btn-system btn-block"
                               data-event="popup-modal"
                               data-iframe-href="/assets/vendor/filemanager/dialog.php?type=1&amp;field_id=ImageServer"
                               data-iframe-title="Responsive Filemanager"
                               data-iframe-height="500">
                                Browse server...
                            </a>
                        </div>-->
                    </div>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <i class="far fa-sticky-note" aria-hidden="true"></i>
                    <label class="control-label ">  {{'Image Caption' | translate}} </label>
                    <input type="text" class="form-control" ng-model="model.image_caption" name="Title" placeholder=" {{'Image Caption' | translate}}..." ng-disabled="IsPermission" />
                </div>
                <div class="form-group">
                    <i class="far fa-sticky-note" aria-hidden="true"></i>
                    <label class="control-label ">  {{'Image Credits' | translate}} </label>
                    <input type="text" class="form-control" ng-model="model.image_credits" name="Title" placeholder=" {{'Image Credits' | translate}}..." ng-disabled="IsPermission" />
                </div>
                <div class="form-group">
                    <a ng-click="submit()" class="btn btn-system btn-block fileupload-exists" style="background: #428bca;color: #ffffff;" data-dismiss="fileupload">Lưu lại</a>
                </div>
            </div>
        </div>
    </div>
</div>
