<style>
    .modal-header {
        background: #f1f1f1;
        color: black;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title  " id="modal-title">{{'EDMSM_CURD_TITLE_DETAILS' | translate}} </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12" >
                <div class="col-md-9 pt15">
                    <div class="col-md-2">
                        <img src="{{model.icon}}" class="h-70" />
                    </div>
                    <div class="col-md-10 pt10">
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_STORE_CODE' | translate}}: K01</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_STORE_NAME' | translate}}: {{model.title}}</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_STORE_ADDRESS' | translate}}: Lô 25 (CT9), TTTM Định Công, Quận Hoàng Mai, Hà Nội</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_STORE_MANAGER' | translate}}: Nguyễn Đình Hiệp</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_ROW_CODE' | translate}}: 3</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_SHELF_CODE' | translate}}: 4</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_CONTAINED' | translate}}: 110</span>
                        <span class="col-md-12 bold">{{'EDMSM_CURD_LBL_REMAINING_CAPACITY' | translate}}: 32</span>
                    </div>
                </div>
                <div class="col-md-3 text-center pt15">
                    <img src="../../../images/default/qrCode.png" class="h-100" />
                    <span class="pl15">{{'EDMSM_CURD_LBL_QR_CODE' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
