<!--<script src="../../lib/assets/global/plugins/angularjs-datatable/js/polyline.js"></script>
<link href="../../lib/assets/global/plugins/angularjs-datatable/css/ol.css" rel="stylesheet" />
<script src="../../lib/assets/global/plugins/angularjs-datatable/js/render_view_ol3.js"></script>-->
<style>
    /*.pac-container {
        z-index: 10000 !important;
    }*/
    #startPlace {
        width: 66%;
        top: 13px !important;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
        border: none !important;
    }
    /*#map {
        max-height: 500px;
    }*/
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-map-marker icon-insert"></i>
    <div class="modal-title custom-title" id="modal-title"> {{'CP_CURD_CLICK_SUP_GOOGLEMAP_TITLE' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <input id="startPlace" ng-model="model.Start_name" type="text" class="form-control pac-container">
                <div id="map" class="map" tabindex="0"></div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <!--<a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>-->
    <div class="row">
        <div class="row pull-right">
            <div class="col-md-12" style="top:10px;right:25px;">
                <div class="btn-group pull-right actions d-flex">
                    <div class="text-center pr10">
                        <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-disabled="IsPermission">
                            <span><i class="fa fa-save"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3" style="text-align: center;">{{'COM_BTN_SAVE' | translate}}</p>
                    </div>
                    <div class="pr10">
                        <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom" ng-disabled="IsPermission">
                            <span><i class="glyphicon glyphicon-remove"></i></span>
                        </a>
                        <p class="fs9 mb5 pt3" style="text-align: center;">{{'COM_CONFIRM_CANCEL' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
