<div class="modal-header">
    <img class="icon-remove" title="Đóng" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-map-marker icon-insert"></i>
    <span class="modal-title" id="modal-title">{{'VCMM_CURD_LBL_DETAIL_STATISTICAL_AREA' | translate}}&nbsp;<span>"{{model.AreaName}}"</span></span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="card" style="padding:15px">
                        <div class="card-header pb20">
                            <h4 class="card-title">{{'VCMM_CURD_LBL_TONS' | translate}}</h4>
                            <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                            <!--<div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a title="Tìm kiếm" ng-click="searchDetailTotalCanImp()"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </div>-->
                            <div class="col-md-4 pull-right">
                                <div class="btn-group actions d-flex pull-right">
                                    <div class="text-center">
                                        <a ng-click="searchDetailTotalCanImp()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                            <span><i class="fa fa-search"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body p15">
                                <canvas id="charWorkdetailConsumption" class="chart chart-bar" chart-data="detaiTotalCanImp.data"
                                        chart-labels="detaiTotalCanImp.labels" chart-series="detaiTotalCanImp.series" chart-options="optionsDetaiTotalCanImp"
                                        chart-dataset-override="datasetOverride"></canvas>
                                <div class="text-center">
                                    <h2>
                                        <b>{{'VCMM_CURD_LBL_AVAILABLE_RESERVES' | translate}}</b>
                                        <label class="bold">{{'VCMM_CURD_LBL_IN_MONTH' | translate}}</label>
                                        <label class="bold text-success">{{model.Month}}</label>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
