<!--<style>
    .has-error .form-control {
        border-color: #e73d4a !important;
    }
</style>-->
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'ADM_USER_CURD_TITLE_ADD_USER' | translate}}</span>
</div>
<div class="modal-body userFormAreaHeader pb-0" id="modal-body">
    <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
        <div class="form-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="thumbnail " style="border: 0; box-shadow: none;background:none">
                                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="imageId" ng-click="loadImage()" class="img-circle " style="height: 200px; width: 200px;cursor: pointer" src="/images/default/uploadimg.png" alt="Hình ảnh" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center" style="font-size: 20px;margin-top: -5px;">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <label class="control-label ">{{'ADM_USER_CURD_LBL_AVATAR' | translate}}</label>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-md-12" style="margin-top: -4px;">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_DESCRIBE' | translate}}</label>
                            <input type="text" class="form-control" ng-model="model.Note" name="Note" placeholder="{{'ADM_USER_CURD_TXT_DESCRIBE' | translate}}..." />
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: -4px;">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_EMAIL' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="model.Email" name="Email" placeholder="{{'ADM_USER_CURD_TXT_EMAIL' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorPhoneNumber}">
                        <div class="col-md-12">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_PHONE' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="model.PhoneNumber" name="PhoneNumber" placeholder="{{'ADM_USER_CURD_TXT_PHONE' | translate}}..." ng-change="changleSelect('PhoneNumber')" />
                            <span ng-show="errorPhoneNumber" class="label-color validation-message">
                                {{'ADM_USER_CURD_MSG_ERR_PHONE' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label require">{{'ADM_USER_CURD_LBL_ACCOUNT_NAME' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="model.UserName" name="UserName" placeholder="{{'ADM_USER_CURD_TXT_ACCOUNT_NAME' | translate}}..." autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label require">{{'ADM_USER_CURD_LBL_PASSWORD' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input id="password-field" type="password" ng-model="model.Password" name="Password" class="form-control" placeholder="{{'ADM_USER_CURD_TXT_PASSWORD' | translate}}..." autocomplete="off">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password show-password"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_EMPLOYEE' | translate}}</label>
                            <div class="input-group">
                                <ui-select ng-model="model.EmployeeCode" style="width: 100%;" on-select="selectEmployeeCode($item)">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_LBL_COMBO_EMPLOYEE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listEmployeeCode | filter:$select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.EmployeeCode='';selectEmployeeCode(null)" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label require">{{'ADM_USER_CURD_LBL_NAME' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="model.GivenName" name="GivenName" placeholder="{{'ADM_USER_CURD_TXT_NAME' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_USER_USE_APP' | translate}}</label>
                            <div class="input-group">
                                <ui-select ng-model="model.TypeStaff" on-select="selectTypeStaff(model.TypeStaff)">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_TXT_USER_USE_APP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in TypeStaffData | filter:$select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.TypeStaff=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label ">{{'ADM_USER_CURD_LBL_ACCOUNT_TYPE' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label pl-0">
                                    <input type="radio" ng-model="model.UserType" ng-value="1" value="1"> {{'ADM_USER_CURD_RADIO_MANAGER' | translate}}
                                </label>
                                <label class="form-check-label pl-0">
                                    <input type="radio" ng-model="model.UserType" ng-value="0" ng-checked="true" value="0"> {{'ADM_USER_CURD_RADIO_NORMAL' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">{{'ADM_USER_CURD_LBL_EMPLOYEES_CODE' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="model.EmployeeCode" name="EmployeeCode" placeholder="{{'ADM_USER_CURD_TXT_EMPLOYEES_CODE' | translate}}..." />
                        </div>
                    </div>-->
                </div>
                <div class="col-lg-4 ">
                    <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                        <div class="col-md-12">
                            <label class="control-label" ng-class="{'require':(model.TypeStaff === '' || model.TypeStaff === null )||(model.TypeStaff === 10)}">{{'ADM_USER_CURD_LBL_BRANCH' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group col-md-12">
                                <ui-select ng-model="model.BranchId" class="" style="width: 100%;" ng-required="true" on-select="changleSelect('Branch')">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_COMBO_BRANCH' | translate}}...">{{$select.selected.OrgCode}} - {{$select.selected.OrgName}}</ui-select-match>
                                    <ui-select-choices repeat="x.OrgAddonCode as x in liBranch | filter:$select.search">
                                        {{x.OrgCode}} - {{x.OrgName}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.BranchId=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorBranch" class="label-color validation-message">
                                {{'ADM_USER_CURD_MSG_ERR_BRANCH' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorDepartment}">
                        <div class="col-md-12">
                            <label class="control-label" ng-class="{'require':(model.TypeStaff === '' || model.TypeStaff === null )||(model.TypeStaff === 10)}">{{'ADM_USER_CURD_LBL_DEPARTMENT' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group col-md-12">
                                <ui-select ng-model="model.DepartmentId" class="" style="width: 100%;" ng-required="true" on-select="changleSelect('Department')">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_COMBO_DEPARTMENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in liDepartment | filter:$select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.DepartmentId=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorDepartment" class="label-color validation-message">
                                {{'ADM_USER_CURD_MSG_ERR_DEPARTMENT' | translate}}
                            </span>
                        </div>
                    </div>
                    <!--<div class="form-group" ng-class="{ 'has-error': errorApplicationCode}">
                        <div class="col-md-12">
                            <label class="control-label" ng-class="{'require':(model.TypeStaff === '' || model.TypeStaff === null )||(model.TypeStaff === 10)}">{{'ADM_USER_CURD_LBL_APPLICATION' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group col-md-12">
                                <ui-select ng-model="model.ApplicationCode" class="" style="width: 100%;" ng-required="true" on-select="changleSelect('ApplicationCode')">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_COMBO_APPLICATION' | translate }}...">{{$select.selected.Title}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in listApplication | filter:$select.search">
                                        {{x.Title}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ApplicationCode=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorApplicationCode" class="label-color validation-message">
                                {{'ADM_USER_CURD_MSG_ERR_APPLICATION' | translate}}
                            </span>
                        </div>
                    </div>-->
                    <div class="form-group" ng-class="{ 'has-error': errorRoleId}">
                        <div class="col-md-12">
                            <label class="control-label" ng-class="{'require':(model.TypeStaff === '' || model.TypeStaff === null )||(model.TypeStaff === 10)}">{{'ADM_USER_CURD_LBL_ROLE' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group col-md-12">
                                <ui-select ng-model="model.RoleId" ng-required="true" on-select="changleSelect('RoleId')">
                                    <ui-select-match placeholder="{{'ADM_USER_CURD_COMBO_ROLE' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                    <ui-select-choices repeat="x.Id as x in listRoles | filter:$select.search">
                                        {{x.Title}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.RoleId=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorRoleId" class="label-color validation-message">
                                {{'ADM_USER_CURD_MSG_ERR_ROLE' | translate}}
                            </span>
                        </div>
                    </div>
                    <style>
                        .group-typeWork {
                            padding: 10px;
                            border: 1px solid #d4d4d4;
                            border-radius: 4px;
                            background: #fff;
                            height: 97px;
                            max-height: 97px;
                        }
                    </style>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label ">{{'ADM_USER_CURD_LBL_ACCOUNT_TYPE' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="group-typeWork">
                                <label ng-repeat="x in entities" ng-class=" $index % 2 == 0 ? 'col-md-6' : 'col-md-5'" class="mt-checkbox mt-checkbox-outline fs12" style="margin: 6px 0 0 10px!important;">
                                    <input type="checkbox" ng-model="x.Check"> {{x.Name}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label ">{{'ADM_USER_CURD_LBL_STATUS' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <div class="mt-checkbox-list pt10">
                                <label class="mt-checkbox" style="margin-bottom: 0; width: 30px;display:inline; font-size:13px">
                                    <input type="checkbox" ng-model="model.Active" ng-checked="model.Active"> {{'ADM_USER_CURD_CHECKBOX_ACTIVE' | translate}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-md-12 ">
                            <label class="control-label ">{{'Loại hình' | translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <ui-select ng-model="model.TypeWork" theme="bootstrap">
                                <ui-select-match placeholder="{{'Loại hình' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in typeWork | filter:$select.ContractCode| filter:$select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>-->
                </div>
                <!--<div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-md-4" ng-class="{ 'has-error': errorGroupUserCode}">
                            <label class="control-label require">{{'Nhóm người dùng' | translate}}</label>
                            <ui-select ng-model="model.GroupUserCode" multiple theme="bootstrap" class="h-100 mh-100" ng-change="changleSelect('GroupUserCode')">
                                <ui-select-match placeholder="{{'Chọn nhóm người dùng' | translate}}...">{{$item.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listGroupUser | filter:$select.ContractCode| filter:$select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span ng-show="errorGroupUserCode" class="label-color validation-message">
                                Nhóm người dùng không được để trống
                            </span>
                        </div>
                        <div class="col-md-8" ng-class="{ 'has-error': errorArea}">
                            <label class="control-label require">{{'ADM_USER_CURD_LBL_MANAGEMENT_AREA' | translate}}</label>
                            <ui-select ng-model="model.Area" multiple theme="bootstrap" class="h-100 mh-100" on-select="changleSelect('Area')">
                                <ui-select-match placeholder="{{'ADM_USER_CURD_TXT_MANAGEMENT_AREA' | translate}}...">{{$item.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listArea | filter:$select.ContractCode| filter:$select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span ng-show="errorArea" class="label-color validation-message">
                                Khu vực không được để trống
                            </span>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" style="background-color:transparent">
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()" href="javascript:;">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>