<script>
    $(".modal").modal({ backdrop: "static" });
</script>
<style>
    span.buttonText {
        font-size: 10px;
    }

    .form .form-bordered .form-group > div {
        padding: 5px;
    }

    .form .form-bordered .form-group .control-label {
        padding-top: 5px;
    }

    div#modal-body {
        overflow-y: scroll;
        max-height: 95%;
        height: 600px;
    }
    .modal-dialog.modal-80{
        width:90%;
    }
</style>

<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="glyphicon glyphicon-edit" style="font-size: 18px;color: #e9edf0;"></i> Cập nhật thông tin lệnh điều hướng</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body" >
                <h2 class="text-center" style="font-weight:bold;padding-bottom:10px;"> LỆNH ĐIỀU XE </h2>
                <div class="row">
                    <div class="col-md-4" style="    padding-left: 0px;">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="    padding-right: 0;"><i class="fa fa-truck"></i> Ngày điều xe</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ngay_Dieu_Xe" name="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="    padding-left: 0px;    padding-right: 0px;">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left" style="    padding-left: 0px;"><i class="fa fa-car"></i> Mã theo dõi</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ma_Theo_Doi" name="Code" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="    padding-left: 0px;    padding-right: 13px;">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fa fa-truck"></i> Payment</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Payment" name="Name" />
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="text-left" style="font-weight:bold; padding-top:20px; padding-bottom:20px;padding-left:4px">Phần dành cho Bộ phận điều xe: </h4>
                <div class="row">
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"> <i class="glyphicon glyphicon-user"></i> Số lệnh</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.So_Lenh" name="Generic" placeholder="Tên tài xế" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-home"></i> Tên tài xế</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ten_tai_xe" name="Generic" placeholder="Tên tài xế" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-barcode"></i> Biển số xe</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.So_xe" name="Group" placeholder="Biển số" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-barcode"></i> Mã Romooc </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.So_mooc" name="Origin" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fa fa-map-marker"></i> Nơi lấy</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Noi_lay" name="Year_Manufacture" />
                            </div>
                        </div>
                      
                        <!--<div class="form-group">
            <div class="col-md-4 form-col-label text-left" style="border-left:none">
                <i class="sprite-image-16x16"></i>
                <label class="control-label" for="Status"> Ảnh</label>
            </div>
            <div class="col-md-8 form-col-control">
                <div class="fileupload-new thumbnail mb5">
                    <img id="Image" src="{{model.Image}}" alt="holder" ng-src='{{model.Image}}' style="height:150px; width:150px" />
                </div>
                <input type="file" id="file" class="filestyle" accept=".png, .jpg, .jpeg, .gif, .bmp" files-input ng-model="model.Image" name="Image" onchange="readURL(this);">
                <script>
                    $(":file").filestyle({ buttonName: "btn btn-primary" });
                </script>
            </div>
        </div>-->
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fa fa-map-marker"></i> Nơi hạ</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Noi_ha" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fa fa-map-marker"></i> Nơi xuất phát </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Noi_xuat_phat" name="License_Plate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-gift"></i> Hàng </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Hang" name="License_Plate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-user"></i> Khách hàng</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Khach_hang" name="Owner_Code" />
                            </div>
                        </div>
                       

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-tint"></i> Địa chỉ</label>
                            <div class="col-md-8">
                                <textarea rows="2" class="form-control" ng-model="model.Dia_chi" name="Category"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-tower"></i> Phương án</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Phuong_an" name="Weight_Itself" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-copyright-mark"></i> Ghi chú</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Title" name="Design_Payload" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-copyright-mark"></i> Ký xác nhận</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ky_xac_nhan" name="Payload_Pulled" />
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="text-left" style="font-weight:bold;padding-top:20px; padding-bottom:20px;padding-left:4px">Phần dành cho Kế toán: </h3>
                <div class="row">
                    <div class=" col-md-4">

                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Số cont</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.So_cont" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Ngày giờ đến</label>
                            <div class="col-md-8">
                                <div class="bs-component">
                                    <div class="input-group date pick-date" id="datetimepicker2">
                                        <input class="form-control" data-val="true" name="NextTimeCheck" type="text" ng-model="model.Ngay_gio_den" ">
                                        <span class="input-group-addon cursor">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>

                                </div>
                                <script>
                                    $('#datetimepicker2').datetimepicker();
                                </script>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Ngày giờ đi</label>
                            <div class="col-md-8">
                                <div class="bs-component">
                                    <div class="input-group date pick-date" id="datetimepicker3">
                                        <input class="form-control" data-val="true" name="NextTimeCheck" type="text" ng-model="model.Ngay_gio_di" ">
                                        <span class="input-group-addon cursor">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>

                                </div>
                                <script>
                                    $('#datetimepicker3').datetimepicker();
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Neo mooc</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Neo_mooc" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Vé cổng </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ve_cong" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Cầu đường</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Cau_duong" name="Year_Manufacture" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4">
                       
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Phí ngoài</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Phi_ngoai" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Ghi chú</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ghi_chu" name="Year_Manufacture" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Nâng cont</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Nang_cont" name="Payload_Total" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Hạ cont</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ha_cont" name="Size_Registry" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Kiểm hóa</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Kiem_hoa" name="Size_Use" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Vệ sinh</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Ve_sinh" name="Registry_Duration" />
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Lưu bãi</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Luu_bai" name="Insurrance_Duration" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> PT giao cont</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.PT_giao_cont" name="Note" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Lưu rỗng</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Luu_rong" name="Note" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Chi khác</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Chi_Khac" name="Note" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="glyphicon glyphicon-adjust"></i> Tổng cộng</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Tong_cong" name="Note" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!--<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-danger" href="javascript:;" ng-click="cancel()">
        Đóng
    </a>
    <a ng-click="submit()" class="btn  btn-primary  btn-default" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
</div>-->
<!--<div class="modal-footer" style="margin-top:20px">
    <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submit()"><i class="fa fa-plus"></i> Cập nhật</button>
    <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-trash-o"></i> Đóng</button>
</div>-->
<div class="modal-footer">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important; margin-top:15px;" ng-click="submit()"><i class="fa fa-plus"></i> Cập nhật</button>
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;  margin-top:15px;margin-right:20px;" ng-click="cancel()"><i class="fa fa-trash-o"></i> Đóng</button>
    </div>
</div>
