<div class="portlet-body">
    <div class="table-toolbar">
        <div class="col-md-12" style="padding:0 0 10px">
            <div class="col-md-10" style="padding-left:0">
                <div class="col-md-2" style="height:29px;padding-right:0;padding-left:0">
                    <label>Mã theo dõi/Tên tài xế</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date" id="">
                            <input type="text" class="form-control" ng-model="model.Ma_Theo_Doi" name="Code" placeholder="Nhập mã theo dõi/tên tài xế" />

                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Ma_Theo_Doi = ''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="height:29px;padding-right:0">
                    <label>Mã xe/romooc</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date" id="">
                            <input type="text" class="form-control" ng-model="model.Ma_Remooc" name="Code" placeholder="Nhập số xe/mooc" />

                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Ma_Remooc = ''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="height:29px;padding-right:0">
                    <label>Số cont</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date" id="">
                            <input type="text" class="form-control" ng-model="model.Container_Code" name="Code" placeholder="Nhập số cont" />

                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Container_Code = ''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="padding-right:0">
                    <label> Ngày đi</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date">
                            <input class="form-control" data-val="true" placeholder="Nhập ngày đi từ" name="NextTimeCheck" id="datetimepicker3" type="text" ng-model="model.Ngay_gio_di" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Ngay_gio_di = ''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <script>
                        $('#datetimepicker3').datetimepicker({ pickTime: false, format: 'DD/MM/YYYY' });
                    </script>
                </div>
                <div class="col-md-2" style="padding-right:0">
                    <label> Ngày đến</label>
                    <div class="bs-component">
                        <div class="input-group date pick-date">
                            <input class="form-control" data-val="true" id="datetimepicker2" placeholder="Đến ngày" name="NextTimeCheck" type="text" ng-model="model.Ngay_gio_den" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Ngay_gio_den = ''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>

                    </div>
                    <script>
                        $('#datetimepicker2').datetimepicker({ pickTime: false, format: 'DD/MM/YYYY' });
                    </script>
                </div>
                <div class="col-md-2" style="margin-top:25px">

                    <a class="btn btn-primary" ng-click="reload()"><i class="fa fa-search"></i> Tìm kiếm </a>

                </div>
            </div>          
            <div class="col-md-2 " style="    padding-top: 26px;">
                <a class="btn btn-danger pull-right" ng-click="add()" title="Thêm mới"><i class="fa fa-plus"></i> Thêm mới</a>
            </div>
        </div>
        <div class="col-md-12"  style="padding:0 0 10px">
            <div class="col-md-3 " style="margin-right: 10px;padding-left:0 ">
                <a class="btn btn-success" ng-click="exportData()" title="Export"><i class="fa fa-plus"></i> Tải lịch sử điều động</a>
            </div>
          

        </div>
    </div>
    <div class="col-md-12" style="padding:10px; background:white">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblResourceData" style="width:100%"></table>
    </div>


</div>