<script>
    $(".modal").modal({ backdrop: "static" });

</script>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title">Mức độ ưu tiên</h3>
</div>
<div class="modal-body no-space" id="modal-body">
    <div class="portlet-body form">     
            <div class="form-body"  ng-repeat="x in label">   
                
                    <div class="form-group">
                        <label class="col-md-4">Mã theo dõi <strong style="color:red" >{{x.Ma_Theo_Doi}}</strong> </label>
                        <input id="{{x.Ma_Theo_Doi}}" value="{{x.Ma_Theo_Doi}}" hidden/>
                        <div class="col-md-8">
                            <input type="number" class="form-control"  placeholder="Nhập thứ tự ưu tiên" ng-change="UpdateUuTien({{x.Id}}, $index+1)" ng-model="model.Uu_Tien[$index+1]"/>
                        </div>
                    </div>
               
            </div>
       
    </div>
</div>
<br />
<div class="modal-footer">
    <div class="form-group ">
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important; margin-top:15px;" ng-click="submit()"><i class="fa fa-plus"></i> Tải lệnh</button>
        <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;  margin-top:15px;margin-right:20px;" ng-click="cancel()"><i class="fa fa-close"></i> Đóng</button>

    </div>
 </div>



