<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <h1 class="bold mb-0">{{'VCLC_CHART_TITLE_IMPORT_DATA' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Admin/VCChart">{{'VCLC_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'VCLC_CHART_TITLE_IMPORT_DATA' | translate}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row pb40">
    <div class="col-md-12">
        <div class="card p10">
            <div class="card-header pb20">
                <h4 class="card-title">Tấn</h4>
                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                <!--<div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a title="Tìm kiếm" ng-click="searchLastConsumption()"><i class="fas fa-search"></i></a></li>
                    </ul>
                </div>-->
                <div class="col-md-4 pull-right">
                    <div class="btn-group actions d-flex pull-right">
                        <div class="text-center">
                            <a ng-click="searchLastConsumption()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content" id="barLastConsumption">
                <div class="card-body h-400 p15">
                    <canvas id="bar_lastConsumption" class="chart chart-bar"
                            chart-data="lastConsumption.data" chart-labels="lastConsumption.labels" chart-options="optionsLastConsumption" chart-series="lastConsumption.series" chart-colors="lastConsumption.colours" chart-click="lastConsumptionClick"></canvas>
                    <div class="text-center">
                        <h2>
                            <b>1. Sản lượng tiêu thụ</b>
                            <label class="bold">của</label>
                            <label class="bold text-success">{{lastConsumption.trademark.Name}}</label>
                            <label class="bold" ng-show="lastConsumption.species.Name!=''">
                                chủng loại&nbsp;
                                <label class="bold text-success">{{lastConsumption.species.Name}}</label>
                            </label>
                            <label class="bold">trong tháng</label>
                            <label class="bold text-success">{{lastConsumption.month}}</label>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p10">
            <div class="card-header pb20">
                <!--<div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a title="Tìm kiếm" ng-click="searchLastProportion()"><i class="fas fa-search"></i></a></li>
                    </ul>
                </div>-->
                <div class="col-md-4 pull-right">
                    <div class="btn-group actions d-flex pull-right">
                        <div class="text-center">
                            <a ng-click="searchLastProportion()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content" id="barlastProportion">
                <div class="card-body h-400 p15">
                    <canvas id="bar-lastProportion" class="chart chart-pie"
                            chart-data="lastProportion.data" chart-labels="lastProportion.labels" chart-options="optionsLastProportion" chart-series="lastProportion.series" chart-colors="lastProportion.colours"></canvas>
                    <div class="text-center">
                        <h2>
                            <b>2. Biểu đồ tỷ trọng xi măng</b>
                            <label class="bold" ng-show="lastProportion.store!=''">của</label>
                            <label class="bold text-success" ng-show="lastProportion.store!=''">{{lastProportion.store}}</label>
                            <label class="bold" ng-show="lastProportion.area!=''">
                                vùng
                                <label class="bold text-success">{{lastProportion.area}}</label>
                            </label>
                            <label class="bold">trong tháng</label>
                            <label class="bold text-success">{{lastProportion.month}}</label>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p10">
            <div class="card-header pb20">
                <!--<div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a title="Tìm kiếm" ng-click="searchLastProportionProductGroup()"><i class="fas fa-search"></i></a></li>
                    </ul>
                </div>-->
                <div class="col-md-4 pull-right">
                    <div class="btn-group actions d-flex pull-right">
                        <div class="text-center">
                            <a ng-click="searchLastProportionProductGroup()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content" id="barLastProportionProductGroup">
                <div class="card-body h-400 p15">
                    <canvas id="bar-lastProportionProductGroup" class="chart chart-pie"
                            chart-data="lastProportionProductGroup.data" chart-labels="lastProportionProductGroup.labels" chart-options="optionsLastProportionProductGroup" chart-series="lastProportionProductGroup.series" chart-colors="lastProportionProductGroup.colours"></canvas>
                    <div class="text-center">
                        <h2>
                            <b>3. Biểu đồ tỷ trọng phân khúc Xây đổ & Xây trát của</b>
                            <label class="bold text-success">Bút Sơn</label>
                            <label class="bold" ng-show="lastProportionProductGroup.store!=''">cửa hàng</label>
                            <label class="bold text-success" ng-show="lastProportionProductGroup.store!=''">{{lastProportionProductGroup.store}}</label>
                            <label class="bold" ng-show="lastProportionProductGroup.area!=''">
                                vùng&nbsp;
                                <label class="bold text-success">{{lastProportionProductGroup.area}}</label>
                            </label>
                            <label class="bold">trong tháng</label>
                            <label class="bold text-success">{{lastProportionProductGroup.month}}</label>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

