<style>
    /*.modal-header {
        background: #f1f1f1;
        color: black;
    }*/
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title  " id="modal-title">{{'EDMSWM_TITLE_INFOR' | translate}} </span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12 pl-0">
                <div class="col-md-9 pt15">
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_CODE' | translate}} {{model.WHS_Code}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_NAME' | translate}} {{model.WHS_Name}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_ADDRESS' | translate}} {{model.WHS_ADDR_Text}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_MANAGER_ID' | translate}} {{model.ManagerId}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_FLOOR' | translate}} {{qtyFloor}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_LINE' | translate}} {{qtyLine}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_RACK' | translate}} {{qtyRack}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_NUMBER_TEXT' | translate}} {{qtyBox}}</span>
                    <span class="col-md-12 bold">{{'EDMSWM_CURD_LBL_DWH_CAPACITY' | translate}} {{cntBoxEmty}}</span>
                </div>
                <div class="col-md-3 text-center pt15">
                    <img data-ng-src="data:image/png;base64,{{QR_Code}}" ng-class="QR_Code==''?'opacityQrCode':'' " onerror="this.src='/images/default/qrCode.png'" width="100" height="100" />
                    <!--<img src="../../../images/default/qrCode.png" class="h-100" />-->
                    <span class="pl15 bold">QR Code</span>
                </div>
            </div>
        </div>
    </div>
</div>
