<style>
    /*.modal-header {
        background: #f1f1f1;
        color: black;
    }*/

    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #documentType .tags {
        max-height: 73px;
        height: 73px;
    }

    tags-input .tags {
        max-height: 50px;
        height: 50px;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .border-qrcode {
        border-radius: 4px;
        border: 1px solid #ddd;
        height: auto;
    }

        .border-qrcode .img-thumbnail {
            border: none;
        }

    #box .table_body .file {
        height: 170px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title " id="modal-title">{{'EDMSWM_TITLE_EDIT_LINE' | translate}}</span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="editform" method="post" ng-validate="validationOptions">
            <div class="form-body pt10 pb20">
                <div class="col-md-12">
                    <label class="label-red">{{'EDMSWM_CURD_LBL_QRCODE_LINE' | translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_LINE_CODE' | translate}}</label>
                                    <input ng-model="model.LineCode" name="LineCode" class="form-control" placeholder="{{'EDMSWM_CURD_TXT_LINE_CODE' | translate}}..." readonly />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_L_TEXT' | translate}}</label>
                                    <input ng-model="model.L_Text" name="L_Text"  class="form-control" placeholder="{{'EDMSWM_CURD_TXT_L_TEXT' | translate}}..." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_CNT_RACK' | translate}}</label>
                                    <input type="number"  min="1"  ng-model="model.CNT_Rack" name="CNT_Rack" class="form-control" placeholder="{{'EDMSWM_CURD_TXT_CNT_RACK' | translate}}.." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{'EDMSWM_CURD_LBL_L_POSITION' | translate}}</label>
                                    <input ng-model="model.L_Position" class="form-control" placeholder="{{'EDMSWM_CURD_TXT_L_POSITION' | translate}}.." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_FLOOR_CODE' | translate}}</label>
                                    <ui-select tagging ng-model="model.FloorCode" theme="bootstrap" ng-disabled="true">
                                        <ui-select-match placeholder="{{'EDMSWM_CURD_TXT_FLOOR_CODE' | translate}}">{{$select.selected.FloorName}}</ui-select-match>
                                        <ui-select-choices repeat="x.FloorCode as x in listFloor | filter: $select.search">
                                            {{x.FloorName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{'EDMSWM_CURD_LBL_L_SIZE' | translate}}</label>
                                    <input ng-model="model.L_Size" class="form-control" placeholder="{{'EDMSWM_CURD_TXT_L_SIZE' | translate}}..." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{'EDMSWM_CURD_LBL_L_COLOR' | translate}}</label>
                                    <input ng-model="model.L_Color" class="form-control" placeholder="{{'EDMSWM_CURD_TXT_L_COLOR' | translate}}..." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_L_STATUS' | translate}}</label>
                                    <ui-select tagging ng-model="model.L_Status" theme="bootstrap">
                                        <ui-select-match placeholder="{{'EDMSWM_CURD_TXT_L_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Value as x in StatusLine | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="errorL_Status" class="label-color validation-message">
                                        {{'Trạng thái không được trống' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>{{'EDMSWM_CURD_LBL_NOTE' | translate}}</label>
                                <textarea ng-model="model.Note" placeholder="{{'EDMSWM_CURD_TXT_NOTE' | translate}}" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt20">
                        <div class="border-qrcode">
                            <div class="text-center">
                                <div class="img-thumbnail">
                                    <!--<img data-ng-src="data:image/png;base64,{{QR_Code}}" class="h-50" />-->
                                    <img data-ng-src="data:image/png;base64,{{QR_Code}}" ng-class="QR_Code==''?'opacityQrCode':'' " onerror="this.src='/images/default/qrCode.png'" class="h-80" />
                                    <label><span class="fa fa-qrcode"></span> {{'EDMSWM_CURD_LBL_QR_CODE' | translate}}</label>
                                </div>
                                <!--<a class="btn btn-print-qrCode" ng-click="print(QR_Code)">
                                    <b><i class="fas fa-print"></i>&nbsp; Print</b>
                                </a>-->
                                <div class="text-center " ng-click="print(QR_Code)">
                                    <a class="btn btn-icon-only btn-circle btn-outline red-custom">
                                        <span><i class="fas fa-print"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'EDMSWM_BTN_PRINT_QR_CODE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer" style="background-color:transparent">
    <!--<a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr5" href="javascript:;">
        {{'COM_BTN_EDIT' | translate}}
    </button>-->
    <div class="btn-group pull-right actions d-flex mr25">
        <div class="pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>


