<style>
    /*.modal-header {
        background: #f1f1f1;
        color: black;
    }*/

    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #documentType .tags {
        max-height: 73px;
        height: 73px;
    }

    tags-input .tags {
        max-height: 50px;
        height: 50px;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .border-qrcode {
        border-radius: 4px;
        border: 1px solid #ddd;
        height: auto;
    }

        .border-qrcode .img-thumbnail {
            border: none;
        }

    #box .table_body .file {
        height: 170px;
    }

    .pb1 {
        padding-bottom: 1px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title " id="modal-title">{{'EDMSWM_TITLE_EDIT_FLOOR' | translate}}</span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="editform" method="post" ng-validate="validationOptions">
            <div class="form-body pt10">
                <div class="col-md-12">
                    <label class="label-red"> {{'EDMSWM_CURD_LBL_QRCODE_FLOOR' | translate}}</label>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_FLOOR_CODE' | translate}}</label>
                                    <input class="form-control" ng-model="model.FloorCode" placeholder="{{'EDMSWM_CURD_TXT_FLOOR_CODE' | translate}}..." readonly />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_FLOOR_NAME' | translate}}</label>
                                    <input class="form-control" ng-blur="changeFloorName(model.FloorName)" ng-model="model.FloorName" name="FloorName" placeholder="{{'EDMSWM_CURD_TXT_FLOOR_NAME' | translate}}..." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_CNT_LINE' | translate}}</label>
                                    <input type="number"  min="1"  class="form-control" ng-model="model.CNT_Line" name="CNT_Line" placeholder="{{'EDMSWM_CURD_TXT_CNT_LINE' | translate}}..." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_AREA_SQUARE' | translate}} (m2)</label>
                                    <input class="form-control remove-zero" ng-model="model.AreaSquare" num-thousand='true' awnum num-int='21' name="AreaSquare" placeholder="{{'EDMSWM_CURD_TXT_AREA_SQUARE' | translate}}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_WHS_CODE' | translate}}</label>
                                    <ui-select tagging ng-model="model.WHS_Code" theme="bootstrap" ng-disabled="true">
                                        <ui-select-match placeholder="{{'EDMSWM_CURD_TXT_WHS_CODE' | translate}}">{{$select.selected.WHS_Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.WHS_Code as x in listWareHouse | filter:$select.search">
                                            {{x.WHS_Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_STATUS' | translate}}</label>
                                    <ui-select tagging ng-model="model.Status" theme="bootstrap">
                                        <ui-select-match placeholder="{{'EDMSWM_CURD_TXT_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Value as x in StatusFloor">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">{{'EDMSWM_CURD_LBL_TEMPERTURE' | translate}}</label>
                                    <input type="text" class="form-control" ng-model="model.Temperature" name="Temperature" placeholder="{{'EDMSWM_CURD_TXT_TEMPERTURE' | translate}}..." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">{{'EDMSWM_CURD_LBL_HUMIDITY' | translate}}</label>
                                    <input type="text" class="form-control" ng-model="model.Humidity" name="Humidity" placeholder="{{'EDMSWM_CURD_TXT_HUMIDITY' | translate}}..." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="require">{{'EDMSWM_CURD_LBL_MANAGER_ID' | translate}}</label>
                                    <ui-select tagging ng-model="model.ManagerId" theme="bootstrap">
                                        <ui-select-match placeholder="{{'EDMSWM_CURD_TXT_MANAGER_ID' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listManager">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'EDMSWM_CURD_LBL_NOTE' | translate}}</label>
                                    <textarea placeholder="{{'EDMSWM_CURD_TXT_NOTE' | translate}}" ng-model="model.Note" rows="8" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt20">
                        <div class="col-md-12 border-qrcode p-0">
                            <div class="text-center">
                                <div class="img-thumbnail">
                                    <!--<img data-ng-src="data:image/png;base64,{{QR_Code}}" class="h-50" />-->
                                    <img data-ng-src="data:image/png;base64,{{QR_Code}}" ng-class="QR_Code==''?'opacityQrCode':'' " onerror="this.src='/images/default/qrCode.png'" class="h-50" />
                                    <label><span class="fa fa-qrcode"></span>{{'EDMSWM_CURD_LBL_QR_CODE' | translate}}</label>
                                </div>
                                <!--<a class="btn btn-print-qrCode" ng-click="print(QR_Code)">
                                    <b><i class="fas fa-print"></i>&nbsp; Print</b>
                                </a>-->
                                <div class="text-center " ng-click="print(QR_Code)">
                                    <a class="btn btn-icon-only btn-circle btn-outline red-custom">
                                        <span><i class="fas fa-print"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'EDMSWM_BTN_PRINT_QR_CODE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 pt10">
                            <div class="thumbnail text-center pt10 m-0" style="box-shadow: none;background:none">
                                <a class="bold" ng-click="viewImage()"><span class="fa fa-eye"></span> {{'EDMSWM_CURD_LBL_VIEW_IMAGE' | translate}}</a>
                                <input id="mapDesgin" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="mapDesginId"  src="{{model.MapDesgin}}" onerror="this.src='../../../images/default/no_image.png'" ng-click="uploadImageMapDesgin()" class="image-upload" style="height: 100px; width: 100px;cursor: pointer" />
                                <label class="pt10"><span class="fa fa-file-image-o"></span> {{'EDMSWM_CURD_LBL_MAP_DESIGN' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 pt5">
                            <div class="thumbnail text-center pt10 pb1" style="box-shadow: none;background:none">
                                <input id="imageFloor" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="imageFloorId"  src="{{model.Image}}" onerror="this.src='../../../images/default/no_image.png'" ng-click="uploadImageFloor()" class="image-upload" style="height: 100px; width: 100px;cursor: pointer" />
                                <label class="pt10"><span class="fa fa-file-image-o"></span> {{'EDMSWM_CURD_LBL_IMG_FLOOR' | translate}}</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="background-color:transparent">
    <div class="btn-group pull-right actions d-flex mr25">
        <div class="pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
