<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-lg-4 ">
            <h1 class="bold mb-0">{{'CI_LBL_CALENDAR_INTERVIEW' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'CI_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Admin/CalendarInterview">{{'CI_LINK_CALENDAR_INTERVIEW' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-lg-2 col-md-3">
            <label>{{'CI_LBL_SEARCH_FROM_DATE' | translate}}</label>
            <div class='input-group date'>
                <input ng-model="model.FromDate" type='text' class="form-control" placeholder="{{'CI_TXT_SEARCH_FROM_DATE' | translate}}" id="datefrom" autocomplete="off" />
                <span class="input-group-addon start-date" ng-click="model.FromDate = ''">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <label>{{'CI_LBL_SEARCH_TO_DATE' | translate}}</label>
            <div class='input-group date'>
                <input ng-model="model.ToDate" type='text' class="form-control" placeholder="{{'CI_TXT_SEARCH_TO_DATE' | translate}}" id="dateto" autocomplete="off" />
                <span class="input-group-addon end-date" ng-click="model.ToDate = ''">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-group pt20 actions d-flex">
                <div class="text-center pr10">
                    <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="registrationInterview()">
                        <span><i class="fa fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="index-calendar">
    <div class="calendar-wrap">
        <div id="calendar-interview"></div>
    </div>
</div>