<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'CI_CURD_LBL_CANDIDATE_CODE' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-user"></i>
                        <label class="control-label">{{'CI_CURD_COMBO_CANDIDATE_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <ui-select ng-model="interview.CandidateCode" theme="bootstrap" style="width: 100%;">
                                <ui-select-match placeholder="{{'CI_CURD_COMBO_CANDIDATE_CODE' | translate}}...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listCandidate |  filter:$select.search">
                                    {{x.Name}}<span class="badge badge-success ml10" ng-show="x.IsNew">Mới </span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="interview.CandidateCode='';" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="far fa-calendar-alt"></i>
                        <label class="control-label">{{'CI_CURD_TXT_INTERVIEW_DATE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <input placeholder="{{'CI_CURD_TXT_INTERVIEW_DATE' | translate}}..." ng-model="interview.InterviewDate" type='text' class="form-control interview-date" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="interview.InterviewDate='';" class="btn btn-default no-shadow end-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()" href="javascript:;">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
