<!--<div class="portlet-body" style="padding:10px">
    <div class="table-toolbar">
                <div class="row"  style="padding-bottom:15px" >

                    <div class="col-md-3" style="padding-left:0">
                        <label> Email</label>
                            <div class="bs-component">
                                <div class="input-group date pick-date" id="">
                                    <input type="text" class="form-control" ng-model="model.Name" name="Title" placeholder="Nhập email">

                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.Name = ''" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>

                            </div>
                    </div>
                    <div class="col-md-2" style="padding-left:0">
                        <button class="btn btn-primary" style="margin-top: 26px; border-radius:5px !important;"  ng-click="reload()"><i class="fa fa-search"></i> Tìm kiếm </button>

                    </div>


                    <div class="col-md-7" style="padding-right:0">
                        <div class="btn-group pull-right actions" style="margin-top:25px">
                            <a class="btn btn-primary" ng-click="detail()"><i class="glyphicon glyphicon-repeat"></i> Lịch sử request</a>

                            <a class="btn btn-danger" ng-click="add()"><i class="fa fa-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                </div>

    </div>
    <div class="col-md-12" style="padding:10px; background:white">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblResourceData"></table>
    </div>

</div>-->

<div class="table-toolbar">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="bold mb-0">{{'RMJT_CURD_TITLE_GG_TOOKEN' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'RMJT_CURD_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Admin/RMDriver">{{'RMJT_CURD_LINK_GG_TOOKEN' | translate}} </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <span class=""><i class="fa fa-search"></i>{{'COM_BTN_SEARCH' | translate}}</span>
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <span class=""><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</span>
                </a>
                <a ng-click="detail()" class="btn btn-export">
                    <span class=""><i class="glyphicon glyphicon-repeat"></i> {{'RMJT_BTN_HR' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search hidden mb5">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 pb0">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'RMJT_CURD_LBL_SEACH_EMAIL'| translate}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="model.Name" name="Title" placeholder="{{'RMJT_CURD_TXT_SEACH_EMAIL'| translate}}">
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Name=''" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2" style="padding-top:23px">
                    <div class="btn-group">
                        <a class="btn btn-accent" ng-click="reload()">
                            <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>