<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-60 {
            width: 80%;
        }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .modal-60 {
            width: 75%;
        }
    }

    @media (min-width:1400px) {
        .modal-60 {
            width: 65%;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'JCOBJTYPE_MODIFY_TYPE_OBJECT' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label require">{{'JCOBJTYPE_CODE_OBJECT' | translate}}</label>
                                <input class="form-control" name="ObjTypeCode" ng-model="model.ObjTypeCode" type="text" placeholder="{{'JCOBJTYPE_CODE_TYPE_OBJECT' | translate}}..." ng-readonly="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">{{'JCOBJTYPE_NAME_TYPE_OBJECT' | translate}}</label>
                                <input class="form-control" name="ObjTypeName" ng-model="model.ObjTypeName" type="text" placeholder="{{'JCOBJTYPE_NAME_TYPE_OBJECT' | translate}}..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <i class="fa fa-asterisk"></i>
                                    <label class="control-label">{{'JCOBJTYPE_LBL_LINQ' | translate}} </label>
                                </div>
                                
                                <textarea style="height: 70px" name="Address" id="note" class="form-control" ng-model="model.ScriptLINQ" type="text" placeholder="{{'JCOBJTYPE_LBL_LINQ' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="fa fa-calendar"></i>
                                <label class="control-label">{{'JCOBJTYPE_LBL_SQL' | translate}} </label>
                                <textarea style="height: 70px" name="Address" id="note" class="form-control" ng-model="model.ScriptSQL" type="text" placeholder="{{'JCOBJTYPE_LBL_SQL' | translate}}..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-11">
                                <i class="fa fa-comments"></i>
                                <label class="control-label">{{'JCOBJTYPE_NOTE' | translate}} </label>
                                <textarea style="height: 70px" name="Address" id="note" class="form-control" ng-model="model.Note" type="text" placeholder="{{'JCOBJTYPE_NOTE' | translate}}..."></textarea>
                            </div>
                            <div class="col-md-1 pt-3">
                                <div class="pull-right">
                                    <div class="btn-group actions d-flex">
                                        <div class="text-center" ng-click="submit()">
                                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                                <span><i class="fa fa-save"></i></span>
                                            </a>
                                            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

