<a class="go2top ">
    <i class="far fa-arrow-alt-circle-up"></i>
</a>
<footer id="footer-page" class="footer footer-static footer-light navbar-border">
    <p class="clearfix text-muted text-sm-center mb-0 px-2 fs15"><span class="float-md-left d-xs-block d-md-inline-block" style="font-size:13px;">Copyright  &copy; 2018 <a href="http://3i.com.vn/" target="_blank" class="text-bold-800 grey darken-2">3i.com.vn </a>.</span><span class="float-md-right d-xs-block d-md-inline-block" style="font-size:13px;">outsourceinvietnam@gmail.com <i class="icon-heart5 pink"></i></span></p>
</footer>

<!-- HTML popup -->
<div id="modal-panel-m" class="popup-basic mfp-with-anim mfp-hide"></div>
<div id="modal-panel-sm" class="popup-basic popup-sm mfp-with-anim mfp-hide"></div>
<div id="modal-panel-lg" class="popup-basic popup-lg mfp-with-anim mfp-hide"></div>
<div id="modal-panel-xl" class="popup-basic popup-xl mfp-with-anim mfp-hide"></div>
<div id="modal-panel-full" class="popup-basic popup-full mfp-with-anim mfp-hide"></div>