
@using ESEIM.Utils
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IParameterService ParameterService
@inject IHttpContextAccessor HttpContextAccessor
@inject ILanguageService LanguageService
@inject IViewLocalizer Localizer
@{
    int notification = ParameterService.GetCountNotification();
    int countCandidateInterview = ParameterService.GetCountCandidateInterview();
    int countCalendarCandidate = ParameterService.GetCountCalendarCandidate();
    int countWarning = ParameterService.GetCountWarning();
}
@{
    //var session = HttpContextAccessor.HttpContext.GetSessionUser();
}
@*<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<style>
    .btnSearchAll {
        right: 0px;
        top: 200px;
        background: #01566f;
        height: 100px;
        text-align: center;
        width: 37px;
        padding-top: 20px;
        border-radius: 25px 0px 0px 25px;
        position: fixed;
        transition: 0.3s background-color;
    }
</style>
<div class="btnSearchAll" onclick="common.SearchPageAll()">
    <a >
        <span><i style="zoom: 1.5;color: white;margin-top: 2px;" class="fa fa-search"></i></span>
    </a>
    <p class="text-underline fs9" style="color: white;margin-top: 5px;"> @Localizer["SHARED_SEARCH_ALL"]</p>
</div>