<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-clock pt5 "></i>
    <span class="modal-title" id="modal-title">{{'PROJECT_LIST_COL_PROJECT_PROGRESS' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-md-12">
                        <div id="projectGanttProgress" dhx-gantt style='height:600px;'></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

