<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title  " id="modal-title"> {{'PROJECT_CURD_TAB_SUPPLIER_ADD' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode"></i>
                        <label class="control-label require">{{'PROJECT_CURD_TAB_SUPPLIER_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="Code" ng-model="model.ext_code" placeholder="{{'PROJECT_CURD_TAB_SUPPLIER_EXIT_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-code"></i>
                        <label class="control-label require">{{'PROJECT_CURD_TAB_SUPPLIER_LEVEL' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="Value" ng-model="model.ext_value" placeholder="{{'PROJECT_CURD_TAB_SUPPLIER_VALUE | translate}}..." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right pt10 actions d-flex">
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>