<div ng-controller="projectTabAttribute">
    <div class="row">
        <form name="addformprojectnote" method="post">
            <div class="col">
                <div class="col-md-3">
                    <div class="form-group mb5">
                        <div class="input-group">
                            <input ng-model="model.AttrCode" class="form-control" type="text" placeholder="{{'PROJECT_CURD_PROJECT_ATTR_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AttrCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb5">
                        <div class="input-group">
                            <!--<input ng-model="model.AttrValue" class="form-control" type="text" placeholder="Tên thuộc tính..." ng-keydown="($event.keyCode == 13) && reload()" />-->
                            <input ng-model="model.AttrValue" class="form-control" type="text" placeholder="{{'PROJECT_CURD_PROJECT_ATTR_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AttrValue=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 " style="bottom:5px;">
                    <button ng-click="search()" class="btn btn-accent">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                </div>
                <div class="col-md-2" style="bottom:5px;">
                    <div class="form-group mb5">
                        <button ng-click="add()" type="submit" class="btn btn-green">
                            <i class="fa fa-plus"></i>
                            {{'COM_BTN_ADD' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttributeProject"></table>
</div>