<div id="contact-main" ng-controller="projectTabSupplier">
    <div class="table-toolbar">
        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="mt-action-5">
                <div class="col-md-2  form-group mr5 ">
                    <label class="control-label">{{'PROJECT_CURD_TAB_SUPPLIER_CONTACT_NAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.ContactName" class="form-control" type="text" placeholder="{{'PROJECT_CURD_TAB_SUPPLIER_CONTACT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Code=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 form-group mr5">
                    <label class="control-label">{{'PROJECT_CURD_TAB_SUPPLIER_FROM_DATE' | translate}}</label>
                    <div class='input-group date' id='datefrom'>
                        <input type='text' class="form-control input-date" ng-model="model.FromDate" placeholder="{{'PROJECT_CURD_TAB_SUPPLIER_FROM_DATE' | translate}}..." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 form-group mr5">
                    <label class="control-label">{{'PROJECT_CURD_TAB_SUPPLIER_TO_DATE' | translate}}</label>
                    <div class='input-group date' id='dateto'>
                        <input type='text' class="form-control input-date" ng-model="model.ToDate" placeholder="{{'PROJECT_CURD_TAB_SUPPLIER_TO_DATE' | translate}}..." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="btn-group pt10 actions d-flex">
                        <div class="text-center pr10">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataSupplierProject"></table>
</div>

