<div ng-controller="projectTabContractPo">
    <div class="table-toolbar">
        <form name="searchform" method="post" ng-validate="validationOptionsContractPo">
            <div class="col-md-3 form-group" ng-class="{ 'has-error': errorObjCode}">
                <label class="control-label require">{{'PROJECT_TAB_CONTRACT_PO' | translate}}</label>
                <div class="input-group">
                    <ui-select ng-model="model.ObjCode" theme="bootstrap" ng-disabled="model.Id!=0" on-select="changleSelect('ObjCode')">
                        <ui-select-match placeholder="{{'PROJECT_TAB_CONTRACT_PO' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Code as x in listContractBuy | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ObjCode=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
                <span ng-show="errorObjCode" class="label-color validation-message">
                    {{'PROJECT_VALIDATE_CONTRACT_PO' | translate}}!
                </span>
            </div>
            <div class="col-md-3 form-group" ng-class="{ 'has-error': errorObjRelative}">
                <label class="control-label require">{{'PROJECT_LBL_RELA' | translate}}</label>
                <div class="input-group">
                    <ui-select ng-model="model.ObjRelative" theme="bootstrap" on-select="changleSelect('ObjRelative')">
                        <ui-select-match placeholder="{{'PROJECT_LBL_RELA' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Code as x in listRelative | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ObjRelative=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
                <span ng-show="errorObjRelative" class="label-color validation-message">
                    {{'PROJECT_VALIDATE_RELA' | translate}}!
                </span>
            </div>
            <div class="col-md-4">
                <label class="control-label">{{'PROJECT_CURD_TAB_NOTE_CURD_LBL_NOTE' | translate}}</label>
                <div class="input-group">
                    <div class="input-group">
                        <input ng-model="model.ObjNote" class="form-control" type="text" placeholder="{{'PROJECT_CURD_TAB_NOTE_CURD_LBL_NOTE' | translate}}.." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ObjNote=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="btn-group pt20">
                    <div class="mr10 pr-0" ng-if="model.Id==0">
                        <button class="btn green-custom custom-width-button" ng-click="add()" style="border-radius: 0px !important">
                            <i class="fa fa-plus"></i>
                            {{'COM_BTN_ADD' | translate}}
                        </button>
                    </div>
                    <div class="mr10 pr-0" ng-if="model.Id !=0">
                        <button class="btn green-custom custom-width-button" ng-click="update()" style="border-radius: 0px !important">
                            <i class="fa fa-save"></i>
                            {{'COM_BTN_SAVE' | translate}}
                        </button>
                    </div>

                    <!--<div class="text-center" ng-if="model.Id==0">
                        <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                    <div class="text-center" ng-if="model.Id!=0">
                        <a ng-click="update()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-save"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-12">

            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataProjectContractPo"></table>
</div>