<style>
    @media (min-width:992px) and (max-width:1200px) {
        .modal-30 {
            width: 35%;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-tags pt10" style="color: #5cb85c; font-size: 25px"></i>
    <span class="modal-title" id="modal-title">{{'PROJECT_CURD_TAB_NOTE_TITLE_ADD_NOTE' | translate}}</span><span class="black bold">{{model.ContractCode}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validateOptionProjectNote">
            <div class="form-body" style="padding-top:0px">
                <div class="form-group">
                    <div class="col-lg-4">
                        <i class="glyphicon glyphicon-tag"></i>
                        <label class="control-label require">{{'PROJECT_CURD_TAB_NOTE_CURD_LBL_TITLE' | translate}}</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Title" ng-model="model.Title" placeholder="{{'PROJECT_CURD_TAB_NOTE_CURD_TXT_TITLE' | translate}}..." />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <i class="fa fa-pencil"></i>
                        <label class="control-label require">{{'PROJECT_CURD_TAB_NOTE_CURD_LBL_NOTE' | translate}}</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Note" ng-model="model.Note" placeholder="{{'PROJECT_CURD_TAB_NOTE_CURD_TXT_NOTE' | translate}}..." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right pt10 actions d-flex">
        <div class="text-center pr10">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>



