<form method="post" name="forms.advancedForm" class="form-horizontal" ng-validate="validationOptionsAdvanced">
    <div class="form-body">
        <div class="row">
            <style>
                .tags {
                    height: 70px !important;
                    max-height: 70px;
                }
            </style>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_MAIN_SKILL' | translate}}</label>
                    <tags-input add-on-enter="true" use-strings="true" placeholder="{{'CM_CURD_TXT_CM_MAIN_SKILL ' | translate}}..." ng-model="modelInfoMore.MainSkill"></tags-input>
                </div>
                <div class="form-group">
                    <label class="require">{{'CM_CURD_LBL_CM_MAIN_PRACTICE_TIME' | translate}}({{'CM_CURD_VALIDATE_INTERNSHIP_TIME' | translate}})</label>
                    <input type="text" name="MainPracticeTime" id="MainPracticeTime" class="form-control" ng-model="modelInfoMore.MainPracticeTime" placeholder="{{'CM_CURD_TXT_CM_MAIN_PRACTICE_TIME' | translate}}...">
                </div>
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_LAPTOP_INFO' | translate}}</label>
                    <textarea type="text" name="LaptopInfo" class="form-control" ng-model="modelInfoMore.LaptopInfo" placeholder="{{'CM_CURD_TXT_CM_LAPTOP_INFO' | translate}}..."></textarea>
                </div>
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_ABILITY' | translate}}</label>
                    <div class="form-group br4" style="border: 1px solid #d4d4d4;padding: 8px;">
                        <div class="col-md-6 row" ng-repeat="x in listSkill">
                            <label class="mt-checkbox mt-checkbox-outline fs12 fw600" style="margin: 0px 0px 5px 15px!important ;">
                                <input type="checkbox" ng-model="x.Check"> {{x.Name}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_SUB_SKILL' | translate}}</label>
                    <tags-input add-on-enter="true" use-strings="true" min-length="0" placeholder="{{'CM_CURD_TXT_CM_SUB_SKILL' | translate}}" ng-model="modelInfoMore.SubSkill"></tags-input>
                </div>
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_WORKPLACE' | translate}}</label>
                    <input type="text" name="workplace" class="form-control" ng-model="modelInfoMore.WorkPlace" placeholder="{{'CM_CURD_TXT_CM_WORKPLACE' | translate}}...">
                </div>
                <div class="form-group">
                    <label>{{'CM_CURD_LBL_CM_SMARTPHONE_INFO' | translate}}</label>
                    <textarea type="text" name="SmartphoneInfo" class="form-control" ng-model="modelInfoMore.SmartphoneInfo" placeholder="{{'CM_CURD_TXT_CM_SMARTPHONE_INFO' | translate}}..."></textarea>
                </div>
                <div class="form-group">
                    <label class="require">{{'CM_CURD_LBL_CM_SALARY_HOPE' | translate}}</label>
                    <input ng-model="modelInfoMore.SalaryHope" class="form-control" name="SalaryHope" placeholder="{{'CM_CURD_TXT_CM_SALARY_HOPE' | translate}}..." num-thousand='true' awnum num-int='21'>
                </div>
                <div class="form-group">
                    <label class="require">{{'CM_CURD_LBL_CM_CANJOINDATE' | translate}}</label>
                    <div class='input-group date' id="can-join-date" data-provide="datepicker">
                        <input ng-model="modelInfoMore.CanJoinDate" name="CanJoinDate" type='text' class="form-control" placeholder="{{'CM_CURD_TXT_CM_CANJOINDATE' | translate}}" />
                        <span class="input-group-addon" style="border: 1px solid #ccc; border-left: 0px">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{'Vị trí ứng tuyển' | translate}}</label>
                    <input ng-model="modelInfoMore.LanguageUse" class="form-control" name="SalaryHope" placeholder="{{'Vị trí ứng tuyển' | translate}}...">
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn-group pull-right actions row">
                    <div class="col-md-8">
                        <div class="text-center pr10">
                            <div class="btn-group pull-right actions">
                                <a ng-click="submitNextTab(2)" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-save"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center ">
                            <div class="btn-group pull-right actions">
                                <a ng-click="submitPrevTab()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                    <span><i class="fa fa-arrow-left"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_BACK' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


