<style>
    .pos .ui-select-bootstrap .ui-select-toggle {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        padding-left: 5px !important
    }

    .ui-select-bootstrap .ui-select-toggle {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    #user .tags {
        max-height: 200px;
        height: 140px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        max-height: 100px;
        height: 100px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
        overflow: auto
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    #box-documentType .tags {
        max-height: 200px;
        height: 140px;
    }

    #documentType .tags {
        max-height: 90px;
        height: 90px;
    }

    #box .file-body {
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        margin-left: 25px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    #tblFileRequest tbody tr td {
        max-width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (min-width:768px) and (max-width:1200px) {
        .modal-70 {
            width: 80% !important;
        }
    }

    @media (min-width:1200px) and (max-width:1500px) {
        .modal-70 {
            width: 70% !important;
        }
    }
</style>

<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'SCP_TITLE_ADD' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row mtn20 form-group">
                    <div class="col-md-2">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'SCP_CURD_LBL_TITLE' | translate}}</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder="{{'SCP_CURD_TXT_TITLE' | translate}}..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pt5">
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <label class="control-label text-left require"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{'SCP_CURD_LBL_SEFFECTIVE_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input id='EffectiveDate' type="text" class="form-control" ng-model="model.sEffectiveDate" name="EffectiveDate" placeholder="{{'SCP_CURD_TXT_SEFFECTIVE_DATE' | translate}}" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label">{{'SCP_CURD_LBL_RESPONSIBLE_USER' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.ResponsibleUser" theme="bootstrap" on-select="changleSelect('ResponsibleUser', $item)">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_RESPONSIBLE_USER' | translate}}..">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listResponsibleUser | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="far fa-sticky-note" aria-hidden="true"></i>
                                <label class="control-label">{{'SCP_CURD_LBL_NOTE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <textarea rows="4" type="text" class="form-control" ng-model="model.Note" name="Note" placeholder="{{'SCP_CURD_TXT_NOTE' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt5">
                        <div class="form-group">
                            <div class="col-md-4 pr-0 pl-0">
                                <label class="control-label require"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{'SCP_CURD_LBL_SEXPIRY_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input id="ExpiryDate" type="text" class="form-control input-date" ng-model="model.sExpiryDate" name="ExpiryDate" placeholder="{{'SCP_CURD_TXT_SEXPIRY_DATE' | translate}}" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0 pl-0">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label class="control-label">{{'SCP_CURD_LBL_GIVEN_NAME' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.GivenName" name="GivenName" placeholder="{{'SCP_CURD_TXT_GIVEN_NAME' | translate}}" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0 pl-0">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                                <label class="control-label">{{'SCP_CURD_LBL_STATUS' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.Status" theme="bootstrap" on-select="changleSelect('Status', $item)">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listStatus | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group actions d-flex pull-right">
                                <div class="text-center pr10">
                                    <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-toolbar">
                    <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label">{{'SCP_CURD_LBL_SERVICE_CAT_CODE' | translate}}</label>
                                <div class="input-group">
                                    <ui-select tagging ng-model="modelChild.ServiceCatCode" theme="bootstrap" on-select="changleSelect('ServiceCode', $item)" ng-disabled="isEdit">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_SERVICE_CAT_CODE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listService | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-5 pl-0">
                                <label class="control-label">{{'SCP_CURD_LBL_OBJ_CODE' | translate}}</label>
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelChild.ObjectCode" theme="bootstrap" on-select="changleSelect('ObjectCode', $item)" ng-disabled="isDisableObjectCode || isEdit">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_OBJ_CODE' | translate}}..">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listCondition | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addCommonSettingObjectCode()" class="btn no-shadow  green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 pl-0 ">
                                <label class="control-label">{{'SCP_CURD_LBL_SERVICE_UNIT' | translate}}</label>
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelChild.ServiceUnit" theme="bootstrap" on-select="changleSelect('ServiceUnit',$item)">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_SERVICE_UNIT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listUnit | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addCommonSettingServiceUnit()" class="btn no-shadow  green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pl-0 pr-0" ng-if="formText">
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_FROM_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input type='text' ng-model="modelChild.ObjFromValue" class="form-control" placeholder="{{'SCP_CURD_TXT_OBJ_FROM_VALUE' | translate}}..." ng-disabled="isDisableFromValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjFromValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_TO_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input type='text' ng-model="modelChild.ObjToValue" class="form-control" placeholder="{{'SCP_CURD_TXT_OBJ_TO_VALUE' | translate}}.." ng-disabled="isDisableToValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjToValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 pl-0 pr-0" ng-if="formNumber">
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_FROM_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input type='number' ng-model="modelChild.ObjFromValue" class="form-control bold" placeholder="{{'SCP_CURD_TXT_OBJ_FROM_VALUE' | translate}}..." ng-disabled="isDisableFromValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjFromValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_TO_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input type='number' ng-model="modelChild.ObjToValue" class="form-control bold" placeholder="{{'SCP_CURD_TXT_OBJ_TO_VALUE' | translate}}.." ng-disabled="isDisableToValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjToValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 pl-0 pr-0" ng-if="formMoney" style="width: 35%;">
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_FROM_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input num-thousand='true' awnum num-int='21' ng-model="modelChild.ObjFromValue" class="form-control bold" placeholder="{{'SCP_CURD_TXT_OBJ_FROM_VALUE' | translate}}..." ng-disabled="isDisableFromValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjFromValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_TO_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input num-thousand='true' awnum num-int='21' ng-model="modelChild.ObjToValue" class="form-control bold" placeholder="{{'SCP_CURD_TXT_OBJ_TO_VALUE' | translate}}.." ng-disabled="isDisableToValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="modelChild.ObjToValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 pl-0 pr-0" ng-if="formDateTime" style="width: 35%;">
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_FROM_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input id="ObjFromDate" type='text' name="ObjFromDate" ng-model="modelChild.ObjFromValue" class="form-control" placeholder="{{'SCP_CURD_TXT_OBJ_FROM_VALUE' | translate}}.." ng-disabled="isDisableFromValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.ObjFromValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">{{'SCP_CURD_LBL_OBJ_TO_VALUE' | translate}}</label>
                                    <div class='input-group'>
                                        <input id="ObjToDate" type='text' name="ObjToDate" ng-model="modelChild.ObjToValue" class="form-control" placeholder="{{'SCP_CURD_TXT_OBJ_TO_VALUE' | translate}}.." ng-disabled="isDisableToValue" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="model.ObjToValue=''" class="btn btn-default no-shadow">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pl-0" style="width: 12%;">
                                <label class="control-label">{{'SCP_CURD_TXT_UNIT' | translate}}</label>
                                <div class="input-group">
                                    <ui-select class="ui-select-bootstrap-right-radius" ng-model="modelChild.Unit" theme="bootstrap" on-select="changleSelect('Unit',$item)" ng-disabled="isDisableUnit">
                                        <ui-select-match placeholder="{{'SCP_CURD_TXT_UNIT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listUnitValue | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addCommonSettingUnit()" class="btn no-shadow  green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 pl-0" style="width: 12%;">
                                <label class="control-label">{{'SCP_CURD_TXT_PRICE' | translate}}</label>
                                <div class='input-group bold'>
                                    <input num-thousand='true' awnum num-int='21' class="br4 form-control input-date" ng-model="modelChild.Price" placeholder="{{'SCP_CURD_TXT_PRICE' | translate}}..." ng-disabled="isDisablePrice" />
                                </div>
                            </div>
                            <div class="col-md-1 pl-0">
                                <label class="control-label">{{'SCP_CURD_TXT_CURRENCY' | translate}}</label>
                                <div class="input-group bold">
                                    <ui-select tagging ng-model="modelChild.Currency" theme="bootstrap" on-select="changleSelect('Currency',$item)" ng-disabled="isDisableCurrency">
                                        <ui-select-match class="bold" placeholder="{{'SCP_CURD_TXT_CURRENCY' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices class="bold" repeat="x.Code as x in listCurrency | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-1 pl-0">
                                <label class="control-label">{{'SCP_CURD_TXT_RATE' | translate}}</label>
                                <input type="text" num-thousand='true' awnum num-int='21' class="form-control bold" ng-model="modelChild.Rate" ng-disabled="isDisableRate" ng-blur="changeRate()" name="Rate" />
                            </div>
                            <div class="btn-group actions pull-right pt20 d-flex ml-2">
                                <div class="mr10 pr-0" ng-if="isEdit==false">
                                    <button class="btn green-custom custom-width-button" ng-click="add()" style="border-radius: 0px !important">
                                        <i class="fa fa-plus"></i>
                                        {{'COM_BTN_ADD' | translate}}
                                    </button>
                                </div>
                                <div class="mr10 pr-0" ng-if="isEdit==true">
                                    <button class="btn green-custom " ng-click="save()" style="border-radius: 0px !important">
                                        <i class="fa fa-save"></i>
                                        {{'COM_BTN_SAVE' | translate}}
                                    </button>
                                    <button class="btn red-custom ml5" ng-click="close()" style="border-radius: 0px !important">
                                        <i class="fa fa-close"></i>
                                        {{'COM_BTN_CANCEL' | translate}}
                                    </button>
                                </div>

                                <!--<div class="text-center pt10" ng-if="isEdit==false">
                                    <a ng-click="add()" ng-disabled="model.HeaderCode==''" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                        <span><i class="fa fa-plus"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                                </div>-->
                                <!--<div class="text-center pt10" ng-if="isEdit==true">
                                    <a ng-click="close()" class="btn btn-icon-only btn-circle btn-outline red-custom ">
                                        <span><i class="fa fa-close"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                                </div>-->
                                <!--<div class="text-center pr10 pt10" ng-if="isEdit==true">
                                    <a ng-click="save()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                        <span><i class="fa fa-save"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                </div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>