<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text-underline" style="color:black;" href="#">{{'COM_MENU_MANAGE_SERVICE' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="LotProduct#">{{'SCP_LINK_SCP' | translate}}</a>
                </li>
            </ul>
            <div class="btn-group actions pt5 pb-1 pull-right d-flex">
                <div class="pr-2" ng-show="!isSearch" ng-click="showSearch()">
                    <button class="btn gold-custom br4">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH'| translate}}
                    </button>
                </div>
                <div class="" ng-if="PERMISSION_SERVICE_CATEGORY_PRICE.Insert">
                    <button class="btn green-custom br4" ng-click="add()">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'SCP_LBL_TITLE' | translate}}</label>
                    <div class='input-group '>
                        <input ng-model="model.Title" class="form-control" type="text" placeholder="{{'SCP_TXT_TITLE' | translate}}.." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Title=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'SCP_LBL_STATUS' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Status" theme="bootstrap" on-select="changleSelect('unit')">
                            <ui-select-match placeholder="{{'SCP_TXT_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group actions pt20 d-flex">
                        <div class="text-center pr10">
                            <a ng-click="reload()" class=" btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptionsServiceCatPrice"
       dt-columns="dtColumnsServiceCatPrice"
       dt-instance="dt.dtInstanceServiceCatPrice"
       id="tblDataServiceCatPrice"></table>

