<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-detail"></i>
    <span class="modal-title " id="modal-title">Danh sách người thực hiện</span>
</div>
<div class="modal-body mt10" id="modal-body">
    <div class="portlet-body form">
        <div class="clearfix form-group">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped ">
                    <thead class="title" style="background-color:#b0bed9">
                        <tr class="bold">
                            <th class="text-center col-md-2">{{'EDMSTER_COL_NO' | translate}}</th>
                            <th class="text-center col-md-2">{{'EDMSTER_COL_NAME' | translate}}</th>
                            <th class="text-center col-md-2">{{'EDMSTER_COL_BRANCH' | translate}}</th>
                            <!--<th class="text-center col-md-2">Phòng ban</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in model.ListData">
                            <td class="text-center">
                                <label>{{x.No}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.Name}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.Branch}}</label>
                            </td>
                            <!--<td class="text-center">
                                <label>{{x.Department}}</label>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer pr30" style="margin-top: -40px !important">
    <a data-dismiss="modal" class="btn btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
</div>

