<script>
    $(".modal").modal({ backdrop: "static" });
</script>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="fa fa-info-circle"></i> Thông tin chi tiết Romooc</h3>
</div>
<div class="modal-body no-space" id="modal-body">

    <div class="portlet-body form">

        <table class="table" style="width: 95%; margin-left: 10px;">
            <thead style="background:white; color:black;">
                <tr>
                    <th>Thông số kỹ thuật</th>
                    <th></th>
            
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-2">Romooc Id</td>
                    <td style="font-weight:500;color:forestgreen" class="col-md-4">{{model.Id}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Romooc Code</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Code}}</td>

                </tr>
                <tr>
                    <td class="col-md-2">Tên romooc</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Title}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Hình ảnh</td>
                    <td class="col-md-4"><img src="{{model.Image}}" style="height:80px;width:auto"  onerror="this.src='/images/default/no_image.png'"/> </td>
                </tr>

                <tr>
                    <td class="col-md-2">Romooc Barcode</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Barcode}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Ngày nhập</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Date_of_entry}}</td>
                </tr>

                <tr>
                    <td class="col-md-2">Ngày sử dụng</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Date_of_use}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Xuất xứ</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Origin}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Thương hiệu</td>
                    <td class="col-md-4" style="font-weight:500">{{model.Generic}}</td>
                </tr>
                <tr>
                    <td class="col-md-2">Ngày cập nhật</td>
                    <td class="col-md-4" style="font-weight:500">{{model.CreateDate}}</td>
                </tr>


            </tbody>
        </table>


    </div>
</div>
<div class="modal-footer" style="padding-bottom:10px">

    <button type="submit" class="btn btn-default" style="border-radius: 4px !important;margin-right:20px;" ng-click="cancel()">Đóng</button>

</div>
