
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title" style="text-align:center;     font-size: 20px;"> DANH SÁCH ROMOOC ĐANG HOẠT ĐỘNG </h3>
</div>
<div class="modal-body" id="modal-body" style="padding:5px;">
    <table style="padding-top:0px" class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>
<div class="modal-footer">
   <!-- <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;" ng-click="submit()"><i class="fa fa-plus"></i>Thêm mới</button>-->
    <button type="submit" class="btn btn-primary" style="border-radius: 4px !important" ng-click="cancel()"><i class="fa fa-trash-o"></i>Hủy</button>
</div>
