<script>
    $(".modal").modal({ backdrop: "static" });
</script>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title">Lịch sử Romooc</h3>
</div>
<div class="modal-body no-space" id="modal-body">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="btn-group pull-right actions">
                        <a class="btn btn-circle btn-icon-only btn-default blue" ng-click="add()"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-warning" ng-click="edit()"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-success" ng-click="deactive()"><i class="fa fa-user-times"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-danger" ng-click="active()"><i class="fa fa-unlock"></i></a>
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="reload()"><i class="fa fa-refresh"></i></a>
                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row" style="margin-top: 20px">

                            <!--<div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Code ..." ng-model="model.Code" name="Name" ng-change="reload()"/>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.Code = '';reload(); " class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>-->

                        </div>
                        <div class="row" style="margin-top: 20px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table dataTable table-bordered table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblResourceData"></table>
    </div>
</div>
<div class="modal-footer">
   
    <button type="submit" class="btn btn-primary" style="border-radius: 4px !important;  margin-top:10px;margin-right:20px;" ng-click="cancel()"><i class="fa fa-trash-o"></i> Đóng</button>
   
</div>






