<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-history icon-edit "></i>
    <span class="modal-title " id="modal-title">{{'SRIP_LBL_TRACKING_RQ_SUPP' | translate}}</span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="addform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row form-group">
                    <div class="col-md-2 pr-0">
                        <i class="fas fa-sticky-note"></i>
                        <label class="control-label ">{{'SRIP_LBL_REPORTER' | translate}}</label>
                    </div>
                    <div class="col-md-8 pl-0 pr-0">
                        <textarea rows="1" class="form-control" ng-model="model.Confirm" type="text" placeholder="{{'SRIP_TXT_REPORT' | translate}}..." />
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group actions d-flex">
                            <div class="text-center" ng-if="!isEdit">
                                <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-plus"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                            </div>
                            <div class="text-center" ng-if="isEdit">
                                <a ng-click="close()" class="btn btn-icon-only btn-circle btn-outline red-custom ">
                                    <span><i class="fa fa-close"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                            </div>
                            <div class="text-center pl10" ng-if="isEdit">
                                <a ng-click="save()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-save"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt5">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'EDMSSRP_CURD_LIST_COL_STT' | translate}}</th>
                                    <th class="col-md-3 text-center fw600 text-underline">{{'SRIP_LBL_REPORTER' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'SRIP_LIST_COL_REPORTER' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'SRIP_LIST_COL_CREATE_TIME1' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'COM_LIST_COL_ACTION' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listLogConfirm">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center text-primary bold">
                                        {{x.Body}}
                                    </td>
                                    <td class="text-center">
                                        {{x.UserName}}
                                    </td>
                                    <td class="text-center">
                                        {{x.CreateTime}}
                                    </td>
                                    <td class="text-center">
                                        <button title="Sửa" ng-click="editItem($index)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(85,168,253,0.45)" class="btn btn-icon-only btn-circle btn-outline blue"><i class="fa fa-edit"></i></button>
                                        <button title="Xoá" ng-click="removeItem($index)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(230,60,95,0.45)" class="btn btn-icon-only btn-circle btn-outline red"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
