<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert white"></i>
    <span class="modal-title  white" id="modal-title">{{'MS_TITTLE_DETAILS' | translate}} </span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr class="h-40">
                            <td class="bold fs17 lh40">{{IsMapCustomer ? 'Mã khách hàng' : IsMapSupplier ?  'Mã nhà cung cấp' : 'Mã kho'}} : </td>
                            <td class="bold fs17 lh40" colspan="3">{{model.Code}}</td>
                        </tr>
                        <tr class="h-40">
                            <td class="bold fs17 lh40">{{IsMapCustomer ? 'Tên khách hàng' : IsMapSupplier ?  'Tên nhà cung cấp' : 'Tên kho'}}: </td>
                            <td class="bold fs17 lh40" colspan="3"><span class="text-success">{{model.Name}}</span></td>
                        </tr>
                        <tr class="h-40">
                            <td class="lh40">
                                <img src="{{model.Image}}" onerror='this.src="../../../images/default/no_image.png"' style="width:100px; height:100px" />
                            </td>
                            <td colspan="3">
                                <table class="table mt20 w200 br0">
                                    <tbody>
                                        <tr class="h-30">
                                            <td class="no-border bold lh30">{{'MS_LBL_REGION' | translate}}: </td>
                                            <td colspan="3" class="no-border  green lh30">
                                                <span ng-class="{'text-danger':model.AreaTxt==''}">{{model.AreaTxt != '' ? model.AreaTxt:''}}</span>
                                            </td>
                                        </tr>
                                        <tr class="h-30">
                                            <td class="no-border bold lh30">{{'MS_LBL_GROUP' | translate}}: </td>
                                            <td colspan="3" class="no-border  green lh30">
                                                <span ng-class="{'text-danger':model.GroupTxt==''}">{{model.GroupTxt != '' ? model.GroupTxt:''}}</span>
                                            </td>
                                        </tr>
                                        <tr class="h-30">
                                            <td class="no-border bold lh30">{{'MS_LBL_ROLE' | translate}}: </td>
                                            <td colspan="3" class="no-border green lh30">
                                                <span ng-class="{'text-danger':model.RoleTxt==''}">{{model.RoleTxt != '' ? model.RoleTxt:''}}</span>
                                            </td>
                                        </tr>
                                        <tr class="h-30">
                                            <td class="no-border bold lh30">{{'MS_LBL_TYPE' | translate}}: </td>
                                            <td colspan="3" class="no-border lh30 green">
                                                <span ng-class="{'text-danger':model.TypeTxt==''}">{{model.TypeTxt != '' ? model.TypeTxt:''}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-footer">
    <div class="pull-right mr15 user-mt">
        <div class="btn-group pull-right actions d-flex">
            <div class="text-center ">
                <a ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                    <span><i class="fa fa-close"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
            </div>
        </div>
    </div>
</div>-->
