<link href="../../css/message-box/style.css" rel="stylesheet" />

<div class="message-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <div class="message-title" id="message-title">{{'COM_BTN_CONFIRM' | translate}}</div>
</div>
<div class="message-body">
    <div class="col-md-2">
        <img src="../../images/message/update.png" class="h-40" />
    </div>
    <div class="col-md-9">
        <span>{{message}}</span>
    </div>
</div>
<div class="message-footer pt-0">
    <div class="pr10">
        <a ng-click="ok()" class="btn btn-icon-only btn-circle btn-outline blue-custom" style="margin-right:8px;">
            <span><i class="fa fa-check"></i></span>
        </a>
        <p class="text-underline fs12 mb5 pt3">{{'COM_BTN_CONFIRM' | translate}}</p>
    </div>
</div>

