<div class="tab-pane active " id="urenco1">
    <div class="table-toolbar-uren">
        <div id="divstyle">
            <form class="form-horizontal">
                <div class="form-group">
                    <button class="w-5 btn btn-default no-shadow start-date ml15 p5 inputHours">
                        <span class="fa fa-trash"></span>
                    </button>
                    <input type="text" class="col-md-10 form-control  inputHours inputHeight" placeholder="Mã thùng rác" ng-model="model.datetimepicker3" id="hoursTo">
                    <button class="w-5 btn btn-default no-shadow start-date p5 flr inputHours">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" class="form-control inputHours inputHeight" placeholder="Tất cả" ng-model="model.datetimepicker3" id="hoursTo">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control inputHours inputHeight" placeholder="Trạng thái" ng-model="model.HoursFrom" data-format="hh:mm:ss" id="hoursFrom">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-default no-shadow start-date ml15 p5 inputHours ListCar" style="color: #c1190e;font-weight: bold;">
                            DANH SÁCH THÙNG RÁC
                        </button>
                    </div>
                    <button type="button" ng-click="model.ActiveTime=''" class="btn btn-default no-shadow start-date p5 mr15 flr">
                        <span class="fa fa-question"></span>
                    </button>
                    <button type="button" ng-click="model.ActiveTime=''" class="btn btn-default no-shadow start-date p5 mr5 flr">
                        <span class="fa fa-trash"></span>
                    </button>
                    <button type="button" ng-click="model.ActiveTime=''" class="btn btn-default no-shadow start-date p5 mr5 flr">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
                <div class="form-group viewTable">
                    <table id="tblVehicleList" class="table-bordered table font_tahoma_11px font_textAlign_center">
                        <thead>
                            <tr class="bold" style="height: 40px;">
                                <td>
                                    Mã thùng
                                </td>
                                <td>
                                    Thể tích
                                </td>
                                <td>
                                    Trạng thái
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr_301291" vh_online="BHU7_30S5120" class="colorOut"><td><div class="float_left"><img id="301291_icon" src="/icons/Vehicle/tank/Gray0.png" alt="" width="20px" height="20px"></div><div id="301291_plate" class="float_left">BHU7_30S5120</div></td><td id="301291_velocity">0</td><td id="301291_time">15:41</td></tr>
                            <tr id="tr_311962" vh_online="CE10U1_29C13597" class="colorOut"><td><div class="float_left"><img id="311962_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="311962_plate" class="float_left">CE10U1_29C13597</div></td><td id="311962_velocity">0</td><td id="311962_time">15:41</td></tr>
                            <tr id="tr_308873" vh_online="CE10U1_29C22895" class="colorOut"><td><div class="float_left"><img id="308873_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308873_plate" class="float_left">CE10U1_29C22895</div></td><td id="308873_velocity">0</td><td id="308873_time">15:41</td></tr>
                            <tr id="tr_308349" vh_online="CE10U1_29C44543" class="colorOut"><td><div class="float_left"><img id="308349_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308349_plate" class="float_left">CE10U1_29C44543</div></td><td id="308349_velocity">0</td><td id="308349_time">15:38</td></tr>
                            <tr id="tr_308875" vh_online="CE10U1_29C54984" class="colorOut"><td><div class="float_left"><img id="308875_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308875_plate" class="float_left">CE10U1_29C54984</div></td><td id="308875_velocity">0</td><td id="308875_time">15:39</td></tr>
                            <tr id="tr_307993" vh_online="CE10U1_29T2658" class="colorOut"><td><div class="float_left"><img id="307993_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="307993_plate" class="float_left">CE10U1_29T2658</div></td><td id="307993_velocity">0</td><td id="307993_time">15:41</td></tr>
                            <tr id="tr_308403" vh_online="CE10U1_29T2668"><td><div class="float_left"><img id="308403_icon" src="/icons/Vehicle/arrowCars/Blue0.png" alt="" width="20px" height="20px"></div><div id="308403_plate" class="float_left">CE10U1_29T2668</div></td><td id="308403_velocity">1</td><td id="308403_time">15:42</td></tr>
                            <tr id="tr_303532" vh_online="CE10U1_29T2829"><td><div class="float_left"><img id="303532_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303532_plate" class="float_left">CE10U1_29T2829</div></td><td id="303532_velocity">0</td><td id="303532_time">15:38</td></tr>
                            <tr id="tr_303414" vh_online="CE10U1_29T2838"><td><div class="float_left"><img id="303414_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303414_plate" class="float_left">CE10U1_29T2838</div></td><td id="303414_velocity">0</td><td id="303414_time">15:42</td></tr>
                            <tr id="tr_307975" vh_online="CE10U15_29T2659"><td><div class="float_left"><img id="307975_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="307975_plate" class="float_left">CE10U15_29T2659</div></td><td id="307975_velocity">0</td><td id="307975_time">15:41</td></tr>
                            <tr id="tr_303221" vh_online="CE10U15_29T2813"><td><div class="float_left"><img id="303221_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303221_plate" class="float_left">CE10U15_29T2813</div></td><td id="303221_velocity">0</td><td id="303221_time">15:42</td></tr>
                            <tr id="tr_307944" vh_online="CE10U2_29T2830"><td><div class="float_left"><img id="307944_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="307944_plate" class="float_left">CE10U2_29T2830</div></td><td id="307944_velocity">0</td><td id="307944_time">15:38</td></tr>
                            <tr id="tr_303266" vh_online="CE10U3_29T2667"><td><div class="float_left"><img id="303266_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303266_plate" class="float_left">CE10U3_29T2667</div></td><td id="303266_velocity">0</td><td id="303266_time">15:38</td></tr>
                            <tr id="tr_303228" vh_online="CE10U3_29T2680"><td><div class="float_left"><img id="303228_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303228_plate" class="float_left">CE10U3_29T2680</div></td><td id="303228_velocity">0</td><td id="303228_time">15:40</td></tr>
                            <tr id="tr_303241" vh_online="CE10U3_29T2685"><td><div class="float_left"><img id="303241_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303241_plate" class="float_left">CE10U3_29T2685</div></td><td id="303241_velocity">0</td><td id="303241_time">15:39</td></tr>
                            <tr id="tr_303383" vh_online="CE10U3_29T2811"><td><div class="float_left"><img id="303383_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303383_plate" class="float_left">CE10U3_29T2811</div></td><td id="303383_velocity">0</td><td id="303383_time">15:42</td></tr>
                            <tr id="tr_303254" vh_online="CE10U3_29T2821"><td><div class="float_left"><img id="303254_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="303254_plate" class="float_left">CE10U3_29T2821</div></td><td id="303254_velocity">0</td><td id="303254_time">15:40</td></tr>
                            <tr id="tr_308222" vh_online="CE10U4_29C02032"><td><div class="float_left"><img id="308222_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308222_plate" class="float_left">CE10U4_29C02032</div></td><td id="308222_velocity">0</td><td id="308222_time">15:41</td></tr>
                            <tr id="tr_308227" vh_online="CE10U4_29C22418"><td><div class="float_left"><img id="308227_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308227_plate" class="float_left">CE10U4_29C22418</div></td><td id="308227_velocity">0</td><td id="308227_time">15:41</td></tr>
                            <tr id="tr_308246" vh_online="CE10U4_29C44419"><td><div class="float_left"><img id="308246_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308246_plate" class="float_left">CE10U4_29C44419</div></td><td id="308246_velocity">0</td><td id="308246_time">15:39</td></tr>
                            <tr id="tr_308370" vh_online="CE10U4_29C54936"><td><div class="float_left"><img id="308370_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308370_plate" class="float_left">CE10U4_29C54936</div></td><td id="308370_velocity">0</td><td id="308370_time">15:40</td></tr>
                            <tr id="tr_308007" vh_online="CE10U4_29T2671"><td><div class="float_left"><img id="308007_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308007_plate" class="float_left">CE10U4_29T2671</div></td><td id="308007_velocity">0</td><td id="308007_time">15:40</td></tr>
                            <tr id="tr_308281" vh_online="CE10U4_29T2681"><td><div class="float_left"><img id="308281_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308281_plate" class="float_left">CE10U4_29T2681</div></td><td id="308281_velocity">0</td><td id="308281_time">15:40</td></tr>
                            <tr id="tr_308508" vh_online="CE10U4_29T2841"><td><div class="float_left"><img id="308508_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="308508_plate" class="float_left">CE10U4_29T2841</div></td><td id="308508_velocity">0</td><td id="308508_time">15:40</td></tr>
                            <tr id="tr_372390" vh_online="CE11.5U1_29H22207"><td><div class="float_left"><img id="372390_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="372390_plate" class="float_left">CE11.5U1_29H22207</div></td><td id="372390_velocity">0</td><td id="372390_time">15:39</td></tr>
                            <tr id="tr_372424" vh_online="CE12U1_29H22235"><td><div class="float_left"><img id="372424_icon" src="/icons/Vehicle/arrowCars/Blue0.png" alt="" width="20px" height="20px"></div><div id="372424_plate" class="float_left">CE12U1_29H22235</div></td><td id="372424_velocity">0</td><td id="372424_time">15:28</td></tr>
                            <tr id="tr_372413" vh_online="CE12U3_29H22007"><td><div class="float_left"><img id="372413_icon" src="/icons/Vehicle/arrowCars/Gray0.png" alt="" width="20px" height="20px"></div><div id="372413_plate" class="float_left">CE12U3_29H22007</div></td><td id="372413_velocity">0</td><td id="372413_time">15:40</td></tr>
                            <tr id="tr_372410" vh_online="CE12U3_29H22096"><td><div class="float_left"><img id="372410_icon" src="/icons/Vehicle/arrowCars/Blue0.png" alt="" width="20px" height="20px"></div><div id="372410_plate" class="float_left">CE12U3_29H22096</div></td><td id="372410_velocity">0</td><td id="372410_time">15:42</td></tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>