<style>
    .nav1 .nav-link {
        font-size: 10px !important;
        height: 25px;
        padding: 7px !important;
        background: white !important;
        color : black !important;
    }
    .dataTables_info{
        font-size:10px !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        zoom: 0.7;
    }
    /*.nav-tabs1 > li.active > a {
        color: green !important;
        text-decoration: underline;
        border: 0px;
    }
    .nav-tabs1 > li.active > a:hover {
        color: black !important;
        text-decoration: underline;
        border: 0px;
    }
    .nav-tabs1 > li > a:hover {
        color: black !important;
    }*/
</style>
<div class="tab-pane active " id="urencoGarbage">
    <uib-tabset active="1">
        <uib-tab class="mt5 nav1 nav-tabs1" index="1" heading="Danh sách">
            <div class="" ng-include="'../views/admin/urencoMap/urencoSearchGarbage.html'"></div>
        </uib-tab>
        <uib-tab class="mt5 nav1 nav-tabs1" index="2" heading="Thêm mới">
            <div ng-include="'../views/admin/urencoMap/urencoAddGarbage.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>