
.edit-tag a {
    /*text-decoration: underline;*/
}

.edit-tag i {
    color: gray;
}

.modal .modal-content::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
}

.modal-content {
    border-radius: 5px;
}

.header {
    font-size: 20px;
    color: black !important;
}

.description {
    border-radius: 5px !important;
    background-color: #e6e8e8
}

/*.comment {
    border-radius: 5px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: 0 !important;
}*/
#WeightNum::-webkit-input-placeholder {
    font-weight: bold;
    color: #333;
}

.clearfix button {
    width: 100%;
    border-radius: 2px;
    /*background-color: #f1f1f1;*/
    /*background: linear-gradient(to bottom,#f2eee6,#FBFCFC );*/
    /*margin-top: 7px;*/
    text-align: left;
    /*font-weight: bold;*/
}

    .clearfix button:hover {
        background-color: #cdd2d4;
    }

.clearfix i {
    color: #696767;
    margin-left: 10px;
}

.card-detail div {
    display: inline-block;
}

.avatar {
    display: inline-block;
}

    .avatar img {
        border-radius: 25em;
        width: 30px;
        height: 30px;
    }

    .avatar button {
        text-align: center;
        padding: 0px !important;
        width: 30px;
        height: 30px;
        background-color: #e6e8e8;
    }

.color button {
    width: 40px;
    height: 30px;
    margin-right: 5px;
}

.active:hover {
    background-color: #d6dadc;
    cursor: pointer;
}

.active-title {
    background-color: #d6dadc;
    border-radius: 25em;
    color: #444;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.active-show-more a {
    color: #8c8c8c;
    text-decoration: underline;
}

.close {
    background-image: none !important;
}

.list-color .color {
    display: inline;
}

.category-detail-header {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*24-10-1028*/


.btn.btn-close {
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
}

    .btn.btn-close:hover {
        background-color: #f1f1f1 !important;
    }

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

.inline {
    display: inline;
}
.card-close{
    position:absolute;
    right:0;
}

.tag-people {
    border-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    float: right !important;
    margin-right: 2px;
    width: 95%;
}

    .tag-people div {
        padding: 5px 5px;
    }

.edit-check-item {
    width: 95%;
}

.labelbodergroup {
    margin-left: 24px;
    margin-top: -12px;
    position: absolute;
    background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
    border: 1px solid #e9dada;
    border-radius: 4px;
    font-size: 11px;
    padding: 3px 10px !important;
}

.table_toolbar {
    background: linear-gradient(to bottom,#f2eee600,#FBFCFC );
    border-radius: 4px !important;
    border: 1px solid #e9dada69;
    padding-top: 10px;
    box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
    padding-bottom: 10px;
}

.strikethrough {
    position: absolute;
    bottom: 0;
    padding-left: 5px;
}
/*.b-w {
        background: #fff !important;
    }*/
/*.c-w {
        color: #fff;
    }*/
/*thead {
        border: 1px solid #CCC;
        border-collapse: collapse;
    }*/
/*table.dataTable thead th {
        border-bottom: 1px solid #ccc !important;
    }*/
/*th.sorting_disabled {
        padding: 0px !important;
        border-bottom: 1px solid #ccc !important;
    }*/
/*table.dataTable thead tr th {
        font-weight: bold;
        text-decoration: underline;
    }*/
/*.ui-select-container {
        width: 100%;
        height: 35px;
    }

        .ui-select-container .ui-select-match {
            width: 100%;
        }

    .ui-select-choices-row {
        width: 100%;
    }*/
.row.header {
    background-color: #f1f1f1;
}

/*.pen body {
        padding-top: 50px;
    }*/

/* MODAL FADE LEFT RIGHT BOTTOM */
/*.modal.fade:not(.in).left .modal-dialog {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
    }

    .modal.fade:not(.in).right .modal-dialog {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }

    .modal.fade:not(.in).bottom .modal-dialog {
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
    }*/

/*.modal.right .modal-dialog {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }*/

/*.modal.left .modal-dialog {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }*/

/*.modal.left .modal-dialog.modal-sm {
            max-width: 300px;
        }

    .modal.left .modal-content, .modal.right .modal-content {
        border: 0;
    }*/

/*#sidebar-left .modal-content {
        height: 400px;
    }*/

/*.readonly {
        opacity: 0.2;
        pointer-events: none;
    }*/
.category-title {
    color: white;
    border: 0 !important;
    width: 100%;
    font-weight: bold;
    background-color: transparent;
}

    .category-title:focus {
        border: 1px;
        border-radius: 5px;
        background-color: #FFFFFF;
        color: black;
    }