.list-menu {
    background: #e2e4e6;
    border-radius: 5px;
}

.list-header {
    padding: 8px 0px 10px 8px;
}

.list-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.list-body::-webkit-scrollbar {
    width: 10px;
    background-color: #c4c9cc;
}

.list-body::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
}

.list-body {
    /*overflow-x: hidden;
    overflow-y: visible;
    max-height: 400px;
    min-height: 10px;*/
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
     padding: 0 4px; 
     z-index: 1; 
    min-height: 0;
}

    .list-body .textarea {
        width: 100%;
        border: none;
    }

        .list-body .textarea:focus {
            outline: none;
        }

    .list-body .hover:hover {
        background-color: #edeff0;
    }

.list-footer {
    cursor: pointer;
    color: #8c8c8c;
}

    .list-footer span:hover {
        color: #000000;
        text-decoration: underline;
    }

    .list-footer button {
        font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
        border-radius: 3px !important;
        font-weight: 700;
        opacity: 0.9;
        background: #5aac44;
        box-shadow: 0 1px 0 #519839;
        color: #fff;
        transition: background .3s ease;
    }

        .list-footer button:hover {
            color: white;
            background: #519839 100%
        }

        .list-footer button:focus {
            color: white;
        }

    .list-footer a {
        font-size: 10px !important;
        box-shadow: none !important;
        color: #999;
    }

.list-color-round {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 9px;
    margin-bottom: 4px;
    position: relative;
    vertical-align: middle;
}

.list-color-check {
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px!important;
}
.percent-list {
    position: absolute;
    display: inline-block;
    right: -5px;
}
.category-title {
    color: white;
    border: 0 !important;
    width: 100%;
    font-weight: bold;
    background-color: transparent;
}

    .category-title:focus {
        border: 1px;
        border-radius: 5px;
        background-color: #FFFFFF;
        color: black;
    }
