#mySidenav {
    background-color: white;
}

    #mySidenav .nav-footer {
        position: fixed;
        bottom: 0%
    }

.sidenav {
    width: 0px;
    /*height: 100%;*/
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 55px;
    /*overflow-y: auto;*/
    overflow-y: auto;
    transition: 0.2s;
}

.team-option {
    position: absolute;
    margin-top: -19px;
    margin-left: 245px;
}

.listboard-toggle:hover {
    background-color: #ccc !important;
}
