/*.modal-header {
    border-bottom: 0px !important;
    border-radius: 5px;
}*/

/*.p0 {
    padding: 0px !important;
}*/

.close-icon {
    color: #000000;
    margin-right: 4px;
}

.control-label {
    color: #bdc3c7;
}

.ui-select-match-close {
    background-image: none;
}

/*.board-title {
    border: 0 !important;
}

    .board-title:focus {
        background: #ecf0f1;
    }

    .board-title[placeholder] {
        font-weight: bold;
    }*/
