<div ng-controller="tabAssetAllocateTicket">
    <!--<div class="row">

        <div class="col-md-2">
            <div class="form-group mb5">
                <div class="input-group">
                    <input type="text" name="ItemCode" class="form-control" ng-model="model.ItemCode" placeholder="ASSET_ALLO_SEARCH..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ItemCode=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group mb5">
                <div class="input-group">
                    <input type="text" name="ItemName" class="form-control" ng-model="model.ItemName" placeholder="ASSET_ALLO_SEARCH..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ItemName=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb5">
                <button ng-click="reload()" type="submit" class="btn btn-accent">
                    <i class="fa fa-search"></i>
                    ASSET_ALLO_SEARCH
                </button>
                <button ng-click="add()" type="submit" class="btn btn-green ml25">
                    <i class="fa fa-plus"></i>
                    ASSET_ALLO_ADD
                </button>
            </div>
        </div>

    </div>-->
    <table class="table dataTable table-hover table-striped" 
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataDetail"></table>
</div>