<div ng-controller="trashCarTabFile">
    <div class="table-toolbar" style="margin-top:-10px;">
        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="col-md-3" style="margin-left: -12px;">
                <label class="control-label  fs9 " style="font-size:11px !important">{{'TRC_CURD_LBL_FILE_NAME' | translate}}</label>
                <div class="input-group">
                    <ui-select ng-disabled="isAdd==false" ng-model="model.ProductCode" theme="bootstrap">
                        <ui-select-match placeholder="TRC_CURD_TXT_FILE_NAME">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Id as x in products | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button ng-disabled="isAdd==false" type="button" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3  form-group mr5 mb5">
                <label class="control-label">{{'TRC_CURD_LBL_FROM_DATE' | translate}}</label>
                <div class='input-group date'>
                    <input type='text' ng-model="model.FromDate" class="form-control" placeholder="{{'TRC_CURD_TXT_FROM_DATE' | translate}}..." id='FromTo' />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3  form-group mr5 mb5">
                <label class="control-label">{{"TRC_CURD_LBL_TO_DATE" | translate}}</label>
                <div class='input-group date'>
                    <input type='text' ng-model="model.ToDate" class="form-control" placeholder="{{'TRC_CURD_TXT_TO_DATE' | translate}}.." id='DateTo' />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class=col-md-3 pt15">
                <div class="btn-group pt10 actions d-flex flr">
                    <div class="text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline blue-custom" ng-click="share()">
                            <span><i class="fa fa-link"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SHARE' | translate}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataFile"></table>
</div>