<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title " id="modal-title">{{'Tồn kho theo cuộn/thùng' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <div class="row ">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblListCoil">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 text-center fw600 text-underline">{{'IN_TXT_NO' | translate}}</th>
                                        <th class="col-md-2 text-center fw600 text-underline">{{'IN_TXT_RULE_BOX' | translate}}</th>
                                        <th class="col-md-1 text-center fw600 text-underline">{{'IN_TXT_VALUE_OUT' | translate}}</th>
                                        <th class="col-md-1 text-center fw600 text-underline">{{'IN_LIST_QUANTITY' | translate}}</th>
                                        <th class="col-md-1 text-center fw600 text-underline">{{'IN_LIST_COL_UNIT' | translate}}</th>
                                        <th class="col-md-1 text-center fw600 text-underline">{{'IN_TXT_INVENTORY_NAME' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in listCoil">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-center">{{x.RuleCoil}}</td>
                                        <td class="text-center">{{x.QuantityExp}}</td>
                                        <td class="text-center">{{x.Remain}}</td>
                                        <td class="text-center">{{x.UnitCoil}}</td>
                                        <td class="text-center">{{x.StoreName}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-center "><span class="text-danger fw600 bold">{{'IN_TXT_SUM' | translate}}</span></th>
                                        <th colspan="1" class="text-center"><span class="text-danger fw600 bold">{{QuantityExpTotal}}</span></th>
                                        <th colspan="1" class="text-center"><span class="text-danger fw600 bold">{{RemainTotal}}</span></th>
                                        <th colspan="1" class="text-center fw600"></th>
                                        <th colspan="1" class="text-center fw600"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
