<style>
    @media(max-width:992px) {
        .modal-50 {
            width: 75% !important;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-50 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-50 {
            width: 60% !important;
        }
    }

    @media (min-width:1501px) {
        .modal-50 {
            width: 50% !important;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title " id="modal-title"> {{'UCC_TITLE_EDIT_CATEGORY' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-5">
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                                <label class="control-label require custom-title-code-bold">{{'UCC_CURD_LBL_SERVICE_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control custom-title-code-bold" ng-model="model.ServiceCode" name="ServiceCode" id="ServiceCode" placeholder="{{'UCC_CURD_TXT_SERVICE_CODE' | translate}}..." readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <i class="fas fa-info-circle" aria-hidden="true"></i>
                                <label class="control-label require custom-title-code-bold">{{'UCC_CURD_LBL_SERVICE_NAME' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control custom-title-code-bold" ng-model="model.ServiceName" name="ServiceName" placeholder="{{'UCC_CURD_TXT_SERVICE_NAME' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <i class="fas fa-project-diagram" aria-hidden="true"></i>
                                <label class="control-label">{{'UCC_CURD_LBL_SERVICE_PARENT' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.ServiceParent" theme="bootstrap" on-select="changleSelect('ServiceGroup')">
                                        <ui-select-match placeholder="{{'UCC_CURD_TXT_SERVICE_PARENT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in UrencoCostCategoryParent | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ServiceParent=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': errorServiceType}">
                            <div class="col-md-5">
                                <i class="fas fa-cubes" aria-hidden="true"></i>
                                <label class="control-label require">{{'UCC_CURD_LBL_SERVICE_TYPE' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.ServiceType" theme="bootstrap" on-select="changleSelect('ServiceType')">
                                        <ui-select-match placeholder="{{'UCC_CURD_TXT_SERVICE_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in UrencoCostCategoryType  | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ServiceType=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorServiceType" class="label-color validation-message">
                                    {{'UCC_MSG_NOT_TYPE' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorServiceGroup}">
                            <div class="col-md-5">
                                <i class="fas fa-cubes" aria-hidden="true"></i>
                                <label class="control-label require">{{'UCC_CURE_LBL_GROUP' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.ServiceGroup" theme="bootstrap" on-select="changleSelect('ServiceGroup')">
                                        <ui-select-match placeholder="{{'UCC_CURE_TXT_GROUP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in UrencoCostCategoryGroup | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ServiceGroup=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorServiceGroup" class="label-color validation-message">
                                    {{'UCC_MSG_NOT_GROUP' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorUnit}">
                            <div class="col-md-5">
                                <i class="far fa-money-bill-alt" aria-hidden="true"></i>
                                <label class="control-label">{{'UCC_CURE_LBL_UNIT' | translate}}</label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.Unit" theme="bootstrap" on-select="changleSelect('Unit')">
                                        <ui-select-match placeholder="{{'UCC_CURE_TXT_UNIT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in ServiceUnitData | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="addCommonSettingUnit()" class="btn no-shadow  green-custom" style="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorUnit" class="label-color validation-message">
                                    {{'UCC_MSG_NOT_UNIT' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row ">
            <div class="col-md-12">
                <uib-tabset active="active">
                    <uib-tab class="mt5" index="0" heading="{{'UCC_CURD_TAB_NOTE' | translate}}">
                        <textarea ng-model="model.Note" ui-tinymce="tinymceOptions" class="mb15"></textarea>
                    </uib-tab>
                    <!--<uib-tab index="1" heading="Sản phẩm con">
                        <div ng-include="'../views/admin/materialProduct/more.html'"></div>
                    </uib-tab>
                    <uib-tab index="2" heading="{{'SUP_CURD_TAB_FILE' | translate}}">
                        <div ng-include="'../views/admin/materialProduct/file.html'"></div>
                    </uib-tab>-->
                    <uib-tab class="mt5" index="1" heading="{{'UCC_CURD_TAB_ATTRIBUTE' | translate}}">
                        <div ng-include="'../views/admin/urencoCostCategory/tabAttribute.html'"></div>
                    </uib-tab>
                    <div class=" pull-right">
                        <div class="btn-group actions d-flex">
                            <div class="text-center pr10" ng-click="cancel()">
                                <div class="btn btn-icon-only btn-circle btn-outline red-custom">
                                    <span><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                                <p class="text-underline fs9 mb-0 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                            </div>
                            <div class="text-center" ng-click="submit()">
                                <div class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-save"></i></span>
                                </div>
                                <p class="text-underline fs9 mb-0  pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>
                        <!--<div class="btn-group actions d-flex">
                            <div class="text-center pl20" ng-click="submit()">
                                <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                    <span><i class="fa fa-save"></i></span>
                                </a>
                                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                            </div>
                        </div>-->
                        <!--<div class="pr10">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                        <div class="pr10">
                            <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                        </div>-->
                    </div>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
