<div ng-controller="cmRemove" style="margin-top: -5px;">
    <div class="table-toolbar">
        <div class="row pt5 mb5">
            <div class="col-md-3">
                <label class="fw600 text-underline">{{'EDMSR_TAB_CM_REMOVE_LBL_NAME' | translate}}</label>
                <div class="input-group">
                    <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'EDMSR_TAB_CM_REMOVE_TXT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Name='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <!--<div class="col-md-2">
                <label class="fw600 text-underline">Nghiệp vụ</label>
                <div class="input-group">
                    <input ng-model="model.Business" class="form-control" type="text" placeholder="Nghiệp vụ..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Business='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>-->
            <div class="col-md-3">
                <label class="fw600 text-underline">{{'EDMSR_TAB_CM_REMOVE_LBL_FROMDATE' | translate}}</label>
                <div class="input-group">
                    <input ng-model="model.FromDate" class="form-control" type="text" placeholder="{{'EDMSR_TAB_CM_REMOVE_TXT_FROMDATE' | translate}}..." id='FromTo' ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label class="fw600 text-underline">{{'EDMSR_TAB_CM_REMOVE_LBL_TODATE' | translate}}</label>
                <div class="input-group">
                    <input ng-model="model.ToDate" class="form-control" type="text" placeholder="{{'EDMSR_TAB_CM_REMOVE_LBL_TODATE' | translate}}..." id='DateTo' ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label class="fw600 text-underline">{{'EDMSR_TAB_CM_REMOVE_LBL_PERSON_PROCESSOR' | translate}}</label>
                <div class="input-group">
                    <ui-select tagging ng-model="model.PersonProcessor" theme="bootstrap" on-select="reload()">
                        <ui-select-match placeholder="{{'EDMSR_TAB_CM_REMOVE_TXT_PERSON_PROCESSOR' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Code as x in ListPersonProcessor | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.PersonProcessor='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label class="fw600 text-underline">{{'EDMSR_TAB_CM_REMOVE_LBL_STATUS' | translate}}</label>
                <div class="input-group">
                    <ui-select tagging ng-model="model.Status" theme="bootstrap" on-select="reload()">
                        <ui-select-match placeholder="{{'EDMSR_TAB_CM_REMOVE_TXT_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Code as x in ListStatus | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <!--<div class="col-md-2" style="margin-top: 22px;">
                <button ng-click="search()" class="btn btn-accent">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </button>
            </div>-->
            <div class="col-md-2">
                <div class="btn-group actions d-flex pt10">
                    <div class="text-center">
                        <a ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"> <label class="text-danger">{{'COM_MSG_LIST_GUIDE' | translate}}</label></div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataCmRemove"></table>
</div>







