<style>
    .tab-content {
        padding: 15px;
        height: 100%;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .nav-pills, .nav-tabs {
        margin-bottom: 0px !important;
    }

    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .tabbable {
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    .tab-content.panel {
        border-top: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .is-expired > a {
        background-color: darkred !important;
    }
</style>
<div>
    <div class="table-toolbar">
        <div class="row">
            <div class="col-lg-6 ">
                <h1 class="bold mb-0">{{'EDMSR_TITLE_REMOVE_PROFILE' | translate}}</h1>
                <ul class="breadcrumb-title">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="/">{{'COM_SET_LINK_HOME' | translate}}</a>
                        <span>&gt;</span>
                    </li>
                    <li>
                        <a href="EDMSRemove#" class="bold">{{'EDMSR_TITLE_REMOVE_PROFILE' | translate}}</a>
                    </li>
                </ul>
            </div>
            <!--<div class="col-lg-6 text-center" ng-show="isCmRemove">
            <div class="btn-group pull-right actions" style="margin: 2px;">-->
            <!--<a class="btn btn-accent btnSearch">
                <i class="fa fa-search"></i>Tìm kiếm
            </a>-->
            <!--<button ng-click="add()" type="submit" class="btn btn-green">
                        <i class="fa fa-plus mr5"></i>
                        {{'COM_BTN_ADD' | translate}}
                    </button>
                </div>
            </div>-->
            <!--<div class="col-lg-6" ng-show="isCmRemove">
                <div class="btn-group pull-right actions d-flex">
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="tabbable pt10">
        <uib-tabset active="active">
            <uib-tab index="0" heading="{{'EDMSR_TAB_CM_REMOVE2' | translate}}" ng-if="isCmRemove">
                <div ng-include="'../views/admin/edmsRemove/cmRemove.html'"></div>
            </uib-tab>
            <uib-tab index="1" heading="{{'EDMSR_TAB_BOX_REMOVE' | translate}}" ng-if="isBoxRemove">
                <div ng-include="'../views/admin/edmsRemove/boxRemove.html'"></div>
            </uib-tab>
            <uib-tab index="2" heading="{{'EDMSR_TAB_BOX_EXPIRED﻿' | translate}}" ng-if="isBoxExpired" class="is-expired">
                <div ng-include="'../views/admin/edmsRemove/boxExpired.html'"></div>
            </uib-tab>
            <div class="col-lg-6" ng-show="isCmRemove">
                <div class="btn-group actions d-flex">
                    <div class="text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                </div>
            </div>
        </uib-tabset>
    </div>
</div>