<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-search icon-insert"></i>
    <span class="modal-title " id="modal-title">  {{"COM_BTN_SEARCH" | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addformfile" class="form-horizontal" method="post" ng-validate="validationOptionsFile">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label require"><i class="far fa-file"></i>&nbsp;{{"COM_BTN_SEARCH" | translate}}</label>
                    </div>
                    <div class="col-md-8 pl-0">
                        <input type="text" class="form-control" ng-model="model.FileName" name="FileName" placeholder="{{'COM_BTN_SEARCH' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label require"><i class="far fa-calendar-alt" aria-hidden="true"></i>&nbsp;{{"SUP_CURD_LBL_FROM_DATE" | translate}}</label>
                    </div>
                    <div class="col-md-8 pl-0">
                        <input type="text" class="form-control" ng-model="model.FromDate" name="FromDate" placeholder="{{'SUP_CURD_LBL_FROM_DATE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label require"><i class="far fa-calendar-alt" aria-hidden="true"></i>&nbsp;{{"SUP_CURD_LBL_TODATE" | translate}}</label>
                    </div>
                    <div class="col-md-8 pl-0">
                        <input type="text" class="form-control" ng-model="model.ToDate" name="ToDate" placeholder="{{'SUP_CURD_LBL_TODATE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label require"><i class="far fa-sticky-note" aria-hidden="true"></i>&nbsp;{{"SUP_CURD_TAB_FILE_CURD_TXT_NOTE" | translate}}</label>
                    </div>
                    <div class="col-md-8 pl-0">
                        <input type="text" class="form-control" ng-model="model.Desc" name="Desc" placeholder="{{'SUP_CURD_TAB_FILE_CURD_TXT_NOTE' | translate}}..." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right actions d-flex mr25">
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                <span><i class="fa fa-search"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
        </div>
    </div>
</div>