<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 20px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .text-box-important {
        background-color: #27ae60 !important;
        color: #fcfdfd !important;
        font-weight: bold;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <span class="modal-title custom-title " id="modal-title">{{'ACT_TITLE_CATEGORY_FORM_ADD'|translate}}</span>
</div>
<div class="modal-body userFormAreaHeader" id="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt5 pl-0 pr-0">
                <div class="col-md-4 pl-0">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label require bold"><i class="fa fa-barcode"></i> {{'ACT_LBL_CATEGORY_CODE'|translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" name="WorkFlowCode" class="form-control text-box-asset" data-ng-model="model.WorkFlowCode" placeholder="{{'ACT_LBL_CATEGORY_CODE'|translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <div class="form-group">
                        <div class="col-md-12">
                            <i class="fa fa-comment"></i>
                            <label class="control-label require bold">{{'ACT_LBL_CATEGORY_TITLE'|translate}}</label>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control text-box-asset" ng-model="model.Name" name="Name" placeholder="{{'ACT_LBL_CATEGORY_TITLE'|translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="col-md-11 pl-0 pr-0">
                    <div class="form-group">
                        <div class="col-md-12">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <label class="control-label bold">{{'ACT_LBL_CATEGORY_NOTE'|translate}}</label>
                        </div>
                        <div class="col-md-12 pr-0">
                            <textarea name="Note" rows="3" class="form-control" ng-model="model.Note" type="text" placeholder="{{'ACT_LBL_CATEGORY_NOTE'|translate}}..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pr-0 pull-right">
                    <div class="btn-group actions pull-right d-flex mt35 ml15">
                        <div class="text-center">
                            <a ng-click="submit()" class="btn btn-icon-only  btn-circle btn-outline green-custom">
                                <span><i class="fa fa-save"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 ">
                <uib-tabset active="active">
                    <uib-tab class="mt5" index="0" heading="{{'Hoạt động' | translate}}">
                        <div disable="tests" ng-include="'../views/admin/activity/activity.html'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <!--<div class="row pt3">
        <div class="col-md-12 pl-0 pr-0">
            <div class="tabbable">
                <div ng-include="'../views/admin/activity/activity.html'"></div>
            </div>
        </div>
    </div>-->

</div>
