<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="far fa-comment-dots " style="padding-top:8px"></i>
    <span class="modal-title " id="modal-title">{{'EDMSSRPE_TITLE_REASON_REJECT' | translate}}<span class="text-success">{{model.RqTicketCode}}</span></span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="reasonform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row ">
                    <div class="col-md-12 form-group">
                        <textarea ng-model="model.Reason" rows="5" placeholder="{{'EDMSSRPE_ENTER_REASON_REJECT' | translate}}" class="form-control" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pr10">
        <div class="text-center" >
            <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>

