<style>
    .modal-header {
        color: #fff;
        padding: 1px 3px 2px 10px;
        background-color: #308425;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .btn-print-custom {
        border-color: #15c6d8;
        color: #fff !important;
        background: #15c6d8;
    }
    .width_90 {
        width: 90px;
    }
    /*.tab-content {
        width: 100%;
        min-height: 280px;
    }*/

    .boxGreen {
        width: 20px;
        height: 20px;
        background: #2ecc71;
        margin-right: 5px;
    }

    .boxRed {
        width: 20px;
        height: 20px;
        background: #e74c3c;
        margin-right: 5px;
    }

    .boxYellow {
        width: 20px;
        height: 20px;
        background: #f1c40f;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 0px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mt23 {
        margin-top: 23px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #fff;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }

    .border-qrcode .img-thumbnail {
        border: none;
    }

    .border-qrcode .file-header {
        z-index: 1;
        margin-left: 10%;
        margin-top: 2px;
        position: absolute;
        /* background: linear-gradient(to bottom,#f1f1f1,#FBFCFC ); */
        /* border: 1px solid #cccccc; */
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .border-qrcode .file-body {
        overflow: auto;
        max-height: 120px;
        height: 120px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 25px;
        background: #fffdfd;
    }

    #box .file-body {
        overflow: auto;
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        z-index: 1;
        margin-left: 15px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    #tblFileRequest {
        max-height: 60px;
    }

        #tblFileRequest tbody tr td {
            max-width: 115px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    #tblFileBox tbody tr td {
        max-width: 115px;
        white-space: nowrap;
        overflow: auto;
        text-overflow: ellipsis;
    }

    @media(max-width:992px) {
        .modal-60 {
            width: 75% !important;
        }
    }

    @media(min-width:992px) and (max-width:1200px) {
        .modal-60 {
            width: 70% !important;
        }
    }

    @media(min-width:1201px) and (max-width:1500px) {
        .modal-60 {
            width: 60% !important;
        }
    }

    .h-60 {
        height: 60px;
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title text-limit" id="modal-title"> {{'UCM_TITLE_EDIT_FORM' | translate}} </span>
</div>
<div class="modal-body userFormAreaHeader" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt-0 pl-0 pr-0">
                <div class="row ">
                    <div class="col-lg-12 pt10">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-6 p-0">
                                    <div class="col-md-12 p-0">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        <label class="control-label require custom-title-code-bold">&nbsp;{{'Mã phiếu' | translate}}</label>
                                    </div>
                                    <div class="col-md-12 p-0">
                                        <input type="text" name="TicketCode" class="form-control text-box-asset" data-ng-model="model.TicketCode" placeholder="{{'Nhập mã phiếu' | translate}}..." ng-readonly="true" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="border-qrcode text-center">
                                        <qrcode size="60" data="{{model.TicketCode}}"></qrcode>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-comment"></i>
                                        <label class="control-label require custom-title-code-bold">&nbsp;{{'UCM_LBL_TICKET' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control text-box-asset" name="Title" ng-model="model.Title" type="text" placeholder="{{'UCM_TXT_TICKET' | translate}}..." />
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': errorBranch}">
                                    <div class="col-md-12">
                                        <i class="fa fa-th-list"></i>
                                        <label class="control-label">&nbsp;{{'UCM_LBL_BRANCH' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Branch" theme="bootstrap" ng-change="changeSelect('Branch',model.Branch)">
                                                <ui-select-match placeholder="{{'UCM_CBB_CHOOSE_BRANCH' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listBranch  | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Branch=''" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorBranch" class="label-color validation-message">
                                            {{'UCM_MSG_BRANCH_NOT_NULL' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 p-0">
                                        <div class="col-md-12">
                                            <i class="fa fa-calendar"></i>
                                            <label class="control-label">&ensp;{{'UCM_LBL_START_TIME' | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class='input-group date' id='datefrom'>
                                                <input type='text' class="form-control input-date" ng-model="model.StartTime" placeholder="{{'UCM_TXT_CHOOSE_TIME' | translate}}..." />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 p-0">
                                        <div class="col-md-12">
                                            <i class="fa fa-calendar"></i>
                                            <label class="control-label">&ensp;{{'UCM_LBL_END_TIME' | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class='input-group date' id='dateto'>
                                                <input type='text' class="form-control input-date" ng-model="model.EndTime" placeholder="{{'UCM_TXT_CHOOSE_TIME' | translate}}..." />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 p-0">
                                        <div class="col-md-12">
                                            <i class="fa fa-money"></i>
                                            <label class="control-label">&nbsp;{{'UCM_LBL_QUANTITY' | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-7 p-0">
                                                <input class="form-control text-danger" style="font-weight:bold;" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" name="TotalMoney" ng-model="model.Quantity" placeholder="{{'UCM_TXT_QUANTITY' | translate}}..." num-thousand='true' awnum num-int='21' />
                                            </div>
                                            <div class="col-md-5 pull-right">
                                                <div class="form-group" ng-class="{ 'has-error': errorCurrency}">
                                                    <div class="input-group">
                                                        <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.Unit" theme="bootstrap" on-select="changleSelect('Currency')">
                                                            <ui-select-match placeholder="{{'UCM_LBL_UNIT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                            <ui-select-choices repeat="x.Code as x in listUnit | filter: $select.search">
                                                                {{x.Name}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <span ng-show="errorCurrency" class="label-color validation-message">
                                                        {{'UCM_MSG_UNIT_NOT_NULL' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 p-0">
                                        <div class="col-md-12">
                                            <i class="fa fa-money"></i>
                                            <label class="control-label">&nbsp;{{'UCM_LBL_CABURANT' | translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-7 p-0">
                                                <input class="form-control text-danger" style="font-weight:bold;" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" name="TotalMoney" ng-model="model.Caburant" placeholder="{{'UCM_TXT_CABURANT' | translate}}..." num-thousand='true' awnum num-int='21' />
                                            </div>
                                            <div class="col-md-5 pull-right">
                                                <div class="form-group" ng-class="{ 'has-error': errorCaburantType}">
                                                    <div class="input-group">
                                                        <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.CaburantType" theme="bootstrap" on-select="changleSelect('CaburantType')">
                                                            <ui-select-match placeholder="{{'UCM_LBL_UNIT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                                            <ui-select-choices repeat="x.Code as x in listCaburantType | filter: $select.search">
                                                                {{x.Name}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <span ng-show="errorCaburantType" class="label-color validation-message">
                                                        {{'UCM_MSG_UNIT_NOT_NULL' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 pr-0 pl-0" style="margin-top: 2%">
                                    <!--<label class="col-md-12 text-center">{{'Danh sách tệp tin' | translate}}</label>-->
                                    <div class="col-md-12 boder-box h-100-srcoll">
                                        <table class="table table-bordered" id="tblFileRequest">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-5 text-center fw600 text-underline">{{'UCM_COL_FILE_NAME' | translate}}</th>
                                                    <th class="col-md-1 text-center fw600 text-underline">{{'COM_BTN_DELETE' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in model.listFile">
                                                    <td class="text-center"><a ng-click="ReadFile(x)">{{x.Name}}</a></td>
                                                    <td class="text-center">
                                                        <i role="button" class="fa fa-minus-circle" title="{{'COM_BTN_DELETE' | translate}}" ng-click="deleteFile(x.Id)" style="color:red !important;font-size: 25px;padding-top:5px"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 pr-0 pl-0" style="margin-top: 2%">
                                    <div class="pull-right">
                                        <button class="btn btn-print-custom br4 pl10" ng-click="addFile()">
                                            <i class="fa fa-upload"></i>
                                            {{'UCM_BTN_UPLOAD_FILE'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <div class="row mt-1 table-toolbar table_body p10" style="background: #ddefff; margin-top: 0px !important;">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <i class="fa fa-flag"></i>
                                                <label class="control-label require">&ensp;{{'COM_CURD_LBL_CAT_ACT' | translate}}</label>
                                            </div>
                                            <div class="col-md-7 pl-0">
                                                <div class="input-group">
                                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.ObjActCode" theme="bootstrap" ng-disabled="true">
                                                        <ui-select-match placeholder="{{'COM_CURD_LBL_CAT_ACT' | translate}}...">{{$select.selected.CatName}}</ui-select-match>
                                                        <ui-select-choices repeat=" x.Code as x in listCatObjActivity | filter: $select.search">
                                                            {{x.CatName}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': errorActCode}">
                                            <div class="col-md-5">
                                                <i class="fa fa-flag"></i>
                                                <label class="control-label require">&nbsp;{{'COM_ACTIVITY' | translate}}</label>
                                            </div>
                                            <div class="col-md-7 pl-0">
                                                <div class="input-group">
                                                    <ui-select class="ui-select-bootstrap-right-radius" tagging ng-model="model.ActCode" theme="bootstrap" on-select="changleSelect('ActCode')" ng-click="checkRole()" ng-disabled="isDisabled">
                                                        <ui-select-match placeholder="{{'COM_ACTIVITY' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat=" x.Code as x in listCatActivity | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>

                                                </div>
                                                <span ng-show="errorActCode" class="label-color validation-message">
                                                    {{'UCM_MSG_ACTIVITY_NOT_NULL' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 pr-0">
                                            <div class="btn-group actions d-flex pull-right">
                                                <div class="btn-group pull-right actions d-flex">
                                                    <div class="text-center pr10">
                                                        <p class="text-underline fs9 mb5 pt3" style="font-size: 12px !important;color: #1219ea;" ng-click="statusObjAct()"> {{'UCM_TXT_STATUS_OBJ_ACT' | translate}}</p>
                                                    </div>
                                                </div>
                                                <div class="btn-group pull-right actions d-flex">
                                                    <div class="text-center pr10">
                                                        <p class="text-underline fs9 mb5 pt3" style="font-size: 12px !important;color: #1219ea;" ng-click="resultActivity()"> {{'COM_CURD_BTN_ADD_DATA' | translate}}</p>
                                                    </div>
                                                </div>
                                                <div class="btn-group pull-right actions d-flex">
                                                    <div class="text-center">
                                                        <p class="text-underline fs9 mb5 pt3" style="font-size: 12px !important;color: #1219ea;" ng-click="tableActivity()"> {{'COM_CURD_BTN_HISTORY' | translate}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <div class="form-group" ng-class="{ 'has-error': errorCarPlate}">
                                            <div class="col-md-12">
                                                <i class="fa fa-barcode"></i>
                                                <label class="control-label require custom-title-code-bold">&nbsp;{{'UCM_LBL_CAR_PLATE' | translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <ui-select ng-model="model.CarPlate" theme="bootstrap" ng-change="changleSelect('CarPlate')">
                                                        <ui-select-match placeholder="{{'UCM_CBB_CHOOSE_CAR' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="x.Code as x in listCar  | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="model.CarPlate=''" class="btn btn-default no-shadow" style="">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorCarPlate" class="label-color validation-message">
                                                    {{'UCM_MSG_CAR_NOT_NULL' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-0">
                                        <div class="form-group" ng-class="{ 'has-error': errorDriver}">
                                            <div class="col-md-12">
                                                <i class="fa fa-th-list"></i>
                                                <label class="control-label">&nbsp;{{'UCM_TXT_CAR_PLATE' | translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <ui-select ng-model="model.Driver" theme="bootstrap" ng-change="changeSelect('Driver',model.Driver)">
                                                        <ui-select-match placeholder="{{'UCM_CBB_CAR_PLATE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="x.Code as x in listDriver  | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="model.Driver=''" class="btn btn-default no-shadow" style="">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorDriver" class="label-color validation-message">
                                                    {{'UCM_MSG_DRIVER_NOT_NULL' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9">
                                        <div class="form-group" ng-class="{ 'has-error': errorRouter}">
                                            <div class="col-md-12">
                                                <i class="fa fa-th-list"></i>
                                                <label class="control-label">&nbsp;{{'UCM_LBL_ROUTE' | translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <ui-select class="" ng-model="model.Router" theme="bootstrap" ng-change="changeSelect('Router',model.Router)">
                                                        <ui-select-match placeholder="{{'UCM_CBB_ROUTE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="x.Code as x in listRoute  | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="model.Router=''" class="btn btn-default no-shadow" style="">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span ng-show="errorRouter" class="label-color validation-message">
                                                    {{'UCM_MSG_ROUTE_NOT_NULL' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 p-0">
                                        <div class="col-md-12 pl-0">
                                            <i class="fa fa-comment"></i>
                                            <label class="control-label">&nbsp;{{'UCM_TXT_NUM_KM' | translate}}</label>
                                        </div>
                                        <div class="col-md-12 pl-0">
                                            <input class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" ng-model="model.KmRun" placeholder="{{'UCM_TXT_NUM_KM' | translate}}..." num-thousand='true' awnum num-int='21' />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <i class="fa fa-th-list"></i>
                                                <label class="control-label">&nbsp;{{'UCM_TXT_SHIFT' | translate}}</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <ui-select class="" ng-model="model.Shift" theme="bootstrap" ng-change="changeSelect('Shift',model.Shift)">
                                                        <ui-select-match placeholder="{{'UCM_CBB_SHIFT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="x.Code as x in listShif  | filter: $select.search">
                                                            {{x.Name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="model.Shift=''" class="btn btn-default no-shadow" style="">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 p-0">
                                        <div class="col-md-12 pl-0">
                                            <i class="fa fa-comment"></i>
                                            <label class="control-label">&nbsp;{{'UCM_TXT_MACHINE_RUN' | translate}}</label>
                                        </div>
                                        <div class="col-md-12 pl-0">
                                            <input class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" ng-model="model.MachineRunCNT" placeholder="{{'UCM_TXT_MACHINE_RUN' | translate}}..." num-thousand='true' awnum num-int='21' />
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group actions d-flex pull-right">
                                    <div class="pl10">
                                        <button class="btn red-custom br4 " ng-click="submit()">
                                            <i class="fa fa-close"></i>
                                            {{'COM_BTN_CANCEL'| translate}}
                                        </button>
                                    </div>
                                    <div class="pl10">
                                        <button class="btn green-custom br4 pl10" ng-click="submit()">
                                            <i class="fa fa-save"></i>
                                            {{'COM_BTN_SAVE'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



