<script src="../../lib/assets/global/plugins/angularjs-datatable/js/polyline.js"></script>
<link href="../../lib/assets/global/plugins/angularjs-datatable/css/ol.css" rel="stylesheet" />
<script src="../../lib/assets/global/plugins/angularjs-datatable/js/render_view_ol3.js"></script>
<script>

</script>
<style>
    .pac-container {
        z-index: 10000 !important;
    }

    .hidden {
        display: none;
    }

    #map {
        max-height: 500px;
    }
</style>
<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title" style="    margin-top: 7px;"> <i class="fa fa-map-marker" style="color: red; font-size: 27px"></i> Bản đồ</h3>
</div>

<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <div class="row" style="background-color: white; border-radius: 5px; padding: 5px">
           
            <div class="col-md-12">
                <div class="col-md-12">
                    <!--<input id="startPlace" style="margin-top: 12px; max-width: 50%" ng-model="model.Start_name" type="text" class="form-control pac-container">-->
                    <div id="map" class="map" tabindex="0"></div>
                </div>
            </div>

        </div>
    </div>
</div>


