<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-detail" aria-hidden="true"></i>
    <span class="modal-title black" id="modal-title">{{'ADM_ROLE_TITLE_INFO_ROLE' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <span class="col-md-4 text-right" style="color:darkgray"><i class="fa fa-barcode" aria-hidden="true"></i>{{'ADM_ROLE_CURD_LBL_ROLE_CODE' | translate}}:</span>
                    <div class="col-md-8">M01</div>
                </div>
                <div class="form-group">
                    <span class="col-md-4 text-right" style="color:darkgray"><i class="fa fa-info-circle" aria-hidden="true"></i>{{'ADM_ROLE_CURD_LBL_ROLE_NAME' | translate}}:</span>
                    <div class="col-md-8">{{ADM_ROLE_TITLE_MANAGE'' | translate}}</div>
                </div>
                <div class="form-group">
                    <span class="col-md-4 text-right" style="color:darkgray"><i class="fa fa-comment" aria-hidden="true"></i>>{{'ADM_ROLE_CURD_LBL_ROLE_DESCIPTION' | translate}}:</span>
                    <div class="col-md-8">{{'ADM_ROLE_TITLE_MANAGER_TTKD' | translate}}</div>
                </div>
                <div class="form-group">
                    <span class="col-md-4 text-right" style="color:darkgray"><i class="fa fa-info-circle" aria-hidden="true"></i>{{'ADM_ROLE_CURD_LBL_ROLE_STATUS' | translate}}:</span>
                    <div class="col-md-8">{{'COM_ACTIVITY' | translate}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default no-boxshadow" href="javascript:;" style="border-radius:5px" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
</div>
