<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <span class="modal-title" id="modal-title"> {{'ADM_ROLE_CURD_TITLE_EDIT_ROLE' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require custom-title-code-bold">{{'ADM_ROLE_CURD_LBL_ROLE_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control custom-title-code-bold" ng-model="model.Code" name="Code" placeholder="{{'ADM_ROLE_CURD_TXT_ROLE_CODE' | translate}}..." readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require custom-title-code-bold">{{'ADM_ROLE_CURD_LBL_ROLE_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control custom-title-code-bold" ng-model="model.Title" name="Title" placeholder="{{'ADM_ROLE_CURD_TXT_ROLE_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_ROLE_CURD_LBL_ROLE_DESCIPTION' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" ng-model="model.Description" rows="3" placeholder="{{'ADM_ROLE_CURD_TXT_ROLE_DESCIPTION' | translate}}..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_ROLE_CURD_LBL_ROLE_STATUS' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Status" ng-value="true" ng-checked="true" value="true"> {{'ADM_ROLE_CURD_LBL_ROLE_ACTIVE' | translate}}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="model.Status" ng-value="false" value="false"> {{'ADM_ROLE_CURD_LBL_ROLE_INACTIVE' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="background-color:transparent">
    <div class="btn-group pull-right actions d-flex">
        <div class="text-center pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
    </div>
</div>
