<div class="table-toolbar">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="bold mb-0">Phân nhóm hồ sơ</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">Trang chủ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">Quản lý hồ sơ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>Phân nhóm hồ sơ</div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="btn-group pull-right actions">
                <a ng-click="add()" class="btn btn-red br4">
                    <span class=""><i class="fa fa-plus"></i> Thêm mới</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-md-3">
            <label class="control-label">Mã nhóm hồ sơ</label>
            <div class="input-group">
                <input ng-model="Modelsearch.Number" id="DocumentNumber" class="form-control" type="text" placeholder="Mã nhóm hồ sơ..." ng-keydown="($event.keyCode == 13) && reload()" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Number=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Tên nhóm hồ sơ</label>
            <div class="input-group">
                <input ng-model="Modelsearch.FromDate" class="form-control" type="text" placeholder="Tên nhóm hồ sơ..." ng-keydown="($event.keyCode == 13) && reload()" id="FromTo" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.FromDate=''" class="btn btn-default no-shadow start-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3" style="padding-top:24px">
            <a ng-click="search()" class="btn btn-accent br4">
                <span class=""><i class="fa fa-search"></i> Tìm kiếm</span>
            </a>
        </div>
    </div>
</div>
<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
        border-radius: 5px;
        box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
    }

    .table-scrollable .dataTable .mt-checkbox {
        padding-left: 0px !important;
    }

    .table-scrollable .dataTable {
        padding: 10px;
    }

        .table-scrollable .dataTable th {
            text-align: center;
        }
</style>
<table class="table dataTable  table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
