<div class="row">
    <div class="col-md-12">
        <div class="row et-page-header">
            <span class="et-main-label ng-binding">
                <strong>Sơ đồ kho dữ liệu</strong>
            </span>
        </div>
        <div class="row et-train-list">
            <div class="et-col-md-1 et-train-block" ng-repeat="x in listFloor">
                <div id="floor{{x.id}}" class="et-train-head di" ng-class="{'et-train-head-selected':x.selected}">
                    <div class="row center-block" style="width: 40%; margin-bottom: 3px">
                        <div class="et-train-lamp text-center ng-binding">{{x.floor_code}}</div>
                    </div>
                    <div class="et-train-head-info">
                        <div class="row et-no-margin">
                            <span class="pull-left et-bold ng-binding">{{'EDMS_DIAGRAM_LBL_FLOOR_NAME'| translate}}: </span>
                            <span class="pull-left"></span>
                            <span class="pull-left ng-binding">{{x.floor_name}} </span>
                        </div>
                        <div class="row et-no-margin">
                            <span class="pull-left et-bold ng-binding">{{'EDMS_DIAGRAM_LBL_AREA_SQUARE'| translate}}: </span>
                            <span class="pull-left ng-binding">{{x.area_square}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row line_item"></div>
        <!--<div class="listLine pt10">
            <div class="row">
                <div id="gadient" class="col-md-3" style="width:400px; height:200px; background:#000"></div>
                <canvas id="circle"  class="col-md-3" style="width:auto; height:auto"></canvas>
                <canvas id="rectangle"  class="col-md-3" style="width:auto; height:auto"></canvas>
            </div>
        </div>-->
        <div class="listLine pt10 hideLine">
            <div class="row">
                <div class="text-center pb10">
                    <h6 class="title-header">
                        {{'EDMS_DIAGRAM_LBL_NUMBER_FLOOR'| translate}} <span class="numberFloor"></span>
                    </h6>
                </div>
                <div id="listLine_floor1" class="line et-col-90">
                    <div class="row et-car-floor p50">
                        <div class="col-md-2 text-center line-horizontal-200 ml80" ng-repeat="y in listLine| filter:{floor_code:1}">
                            <span class="line-horizontal-name">{{y.l_text}}</span>
                            <div id="{{y.id}}" class="rack-item rack-horizontal-180 custom-tooltip" ng-class="{'rack-horizontal-180-emty':z.r_status=='Emty'}" ng-repeat="z in y.listRack[0]">
                                <div>
                                    <span>{{z.rack_name}}</span>
                                    <div class="custom-tooltiptext fs10">
                                        <div>{{'EDMS_DIAGRAM_LBL_RACKCODE'| translate}}: {{z.rack_code}}<br /></div>
                                        <div>{{'EDMS_DIAGRAM_LBL_RACKNAME'| translate}}: {{z.rack_name}}<br /></div>
                                        <div>{{'EDMS_DIAGRAM_LBL_CNT_BOX'| translate}}: {{z.cnt_box}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listBox hideBox">
                <div class="row">
                    <div class="text-center">
                        <h6 class="title-header">
                            {{'EDMS_DIAGRAM_LBL_NUMBER_RACK'| translate}}<span class="numberRack"></span>
                        </h6>
                    </div>
                    <div class="et-col-90 pt10">
                        <div class="row boder-box">
                            <div class="col-md-12 pb30">
                                <div class="box-70" ng-repeat="x in listBox| filter:{rack_code:'K1'}">
                                    <div class="et-bed-left">
                                        <div class="et-bed-outer">
                                            <div id="c_diAnLT23" class="et-bed custom-tooltip text-center" ng-class="{'box-emty':x.status_box=='Emty', 'box-full':x.status_box=='Full'}">
                                                <div class="et-sit-no">
                                                    <span>{{x.id}}</span>
                                                    <div class="custom-tooltiptext fs10">
                                                        <div>{{'EDMS_DIAGRAM_LBL_BOX_CODE'| translate}}: {{x.box_code}}<br /></div>
                                                        <div>{{'EDMS_DIAGRAM_LBL_NUM_BOXT'| translate}}: {{x.num_boxth}}<br /></div>
                                                        <div>{{'EDMS_DIAGRAM_LBL_TYPE_PROFILE'| translate}}: {{x.type_profile}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-bottom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

