<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-history icon-edit "></i>
    <span class="modal-title " id="modal-title">{{'SRWP_TITLE_TRACKING_STATUS' | translate}}</span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="addform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'SRWP_LIST_COL_INDEX' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'SRWP_COL_STATUS' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'SRWP_LIST_COL_REPORTER' | translate}}</th>
                                    <th class="col-md-5 text-center fw600 text-underline">{{'SRWP_LIST_COL_REPORT' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'SRWP_LIST_COL_TIME' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listActivity">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center">
                                        {{x.Status}}
                                    </td>
                                    <td class="text-center">
                                        {{x.CreatedBy}}
                                    </td>
                                    <td class="text-center">
                                        {{x.Reason}}
                                    </td>
                                    <td class="text-center">
                                        {{x.CreatedTime | date:'dd/MM/yyyy'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
