<style>
    @media(max-width:992px) {
        .modal-50 {
            width: 75% !important;
        }
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-50 {
            width: 70% !important;
        }
    }

    @media (min-width:1201px) and (max-width:1500px) {
        .modal-50 {
            width: 60% !important;
        }
    }

    @media (min-width:1501px) {
        .modal-50 {
            width: 50% !important;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-history icon-insert "></i>
    <span class="modal-title" id="modal-title"> {{'COM_TITLE_HISTORY_FILE' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12">
                <table class="table dataTable table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblDataContractFile"></table>
            </div>
        </div>
    </div>
</div>

