<link rel="stylesheet" type="text/css" href="http://117.6.131.222:4011/assets/admin-tools/admin-forms/css/admin-forms.min.css">
<style type="text/css">
    .ui-select-match-close {
        background-image: none;
    }

    .fileupload .uneditable-input {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text;
    }

    .fileupload .thumbnail {
        cursor: pointer;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
        outline: #d9d9d9 dashed 2px;
        border: 0;
        background: 0 0;
    }

        .fileupload .thumbnail > img {
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
        }

    .fileupload .btn {
        vertical-align: middle;
    }

    .fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
        display: none !important;
    }

    .fileupload-inline .fileupload-controls {
        display: inline;
    }

    .fileupload-new .input-group .btn-file {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

    .thumbnail-borderless .thumbnail {
        cursor: pointer;
        border: none;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .fileupload-new.thumbnail-borderless .thumbnail {
        border: 1px solid #ddd;
    }

    .control-group.warning .fileupload .uneditable-input {
        color: #a47e3c;
        border-color: #a47e3c;
    }

    .control-group.warning .fileupload .fileupload-preview {
        color: #a47e3c;
    }

    .control-group.warning .fileupload .thumbnail {
        border-color: #a47e3c;
    }

    .control-group.error .fileupload .uneditable-input {
        color: #b94a48;
        border-color: #b94a48;
    }

    .control-group.error .fileupload .fileupload-preview {
        color: #b94a48;
    }

    .control-group.error .fileupload .thumbnail {
        border-color: #b94a48;
    }

    .control-group.success .fileupload .uneditable-input {
        color: #468847;
        border-color: #468847;
    }

    .control-group.success .fileupload .fileupload-preview {
        color: #468847;
    }

    .control-group.success .fileupload .thumbnail {
        border-color: #468847;
    }

    .btn-system {
        color: #fff;
        background-color: #37bc9b;
    }

    .btn {
        vertical-align: middle;
    }

    .btn-file {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

    .btn-block {
        display: block;
        width: 100%;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'Sửa banner'| translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label require">{{'CMSMB_LBL_TITLE'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <input class="form-control pTip-top-left-alt" ng-model="model.title" data-val="true" data-val-required="{{'CMSMGUL_MSG_TXT_NOT_EMPTY'| translate}}" id="Title" name="Title" placeholder="{{'CMSMB_TXT_TITLE'| translate}}..." type="text">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label require">{{'CMSMB_LBL_LINK_REF'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <textarea type="text" class="form-control" ng-model="model.linkRef" rows="4" name="LinkRef" placeholder="{{'CMSMB_TXT_LINK_REF'| translate}}..." />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label">{{'CMSMB_LBL_DES'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <textarea type="text" class="form-control" ng-model="model.description" rows="4" name="Description" placeholder="{{'CMSMB_TXT_DES'| translate}}.." />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="thumbnail " style="border: 0; box-shadow: none;background:none">
                        <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                        <img id="imageId" ng-click="loadImage()" style="height: 200px; width: 200px;cursor: pointer" src="/images/default/uploadimg.png" alt="Hình ảnh" />
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">{{'CMSMB_LBL_IMG'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <div class="col-xs-6">
                                <input class="btn btn-system btn-block" type="button" id="browseButton" value="{{'CMSMB_BTN_IMG'| translate}}" ng-click="loadImage()">
                            </div>
                            <div class="col-xs-6 hidden">
                                <a href="javascript:void(0);"
                                   data-href="#modal-panel-frame"
                                   class="btn btn-system btn-block"
                                   data-event="popup-modal"
                                   data-iframe-href="/assets/vendor/filemanager/dialog.php?type=1"
                                   data-iframe-title="Responsive Filemanager"
                                   data-iframe-height="500">
                                    Browse server...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label require">{{'CMSMB_LBL_ORDERING'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <input class="form-control" ng-model="model.ordering" name="Ordering" placeholder="{{'CMSMB_TXT_ORDERING'| translate}}..." onkeypress="return (event.charCode == 8 || event.charCode == 0 ) ? null : event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label require">{{'CMSMB_LBL_BLOCK'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group' ng-class="{ 'has-error': errorBlock}">
                            <ui-select tagging ng-model="model.block" theme="bootstrap" ng-change="changeSelect('block')">
                                <ui-select-match placeholder="{{'CMSMB_TXT_BLOCK' | translate}}">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in listBlock | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <span ng-show="errorBlock" class="label-color validation-message">
                            {{'CMSMGUL_LOCAL_SHOW_NOT_EMPTY' | translate}}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label class="control-label">{{'CMSMB_LBL_PUBLISH'| translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <input type="checkbox" name="publish" ng-model="model.publish" ng-checked="model.publish" class="ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pl20">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()" href="javascript:;">
                <span><i class="fa fa-plus"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
        </div>
        <div class="text-center pl20">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
    </div>
</div>
