<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <!--<h1 class="bold mb-0">{{'RSPS_TITLE_RSPS' | translate}}</h1>-->
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home " style="color:black;"></i>
                    <a class=" bold text text-underline" style="color:black;" href="/Admin/DashBoard">{{'COM_BREAD_CRUMB_STATISTICAL' | translate}}</a>
                    <span class="" style="color:black;">&gt;</span>
                </li>
                <li>
                    <a class=" bold text-underline" style="color:black;" href="/Admin/ReportStaticsPoSup">{{'RSPS_LICK_RSPS' | translate}}</a>
                </li>
            </ul>
            <div class="pr-0 pull-right" ng-show="!isSearch" ng-click="showSearch()">
                <button class="btn gold-custom br4">
                    <i class="fa fa-search"></i>
                    {{'COM_BTN_SEARCH'| translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5" ng-show="isSearch">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline"> {{'RSPS_CURD_SEARCH_LBL_PRODUCT' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.ProductCode" theme="bootstrap" on-select="changleSelect('ProductCode',$item)">
                            <ui-select-match placeholder="{{'RSPS_CURD_SEARCH_TXT_PRODUCT' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in ListProduct | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="removeSelect('ProductCode')" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'MLP_CURD_LBL_CODE_PRODUCT' | translate}}</label>
        <div class="input-group">
            <input ng-model="model.Code" class="form-control" type="text" placeholder="{{'MLP_CURD_LBL_CODE_PRODUCT' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
            <span class="input-group-btn">
                <button type="button" ng-click="model.Code='';" class="btn btn-default no-shadow">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <label class="fw600 text-underline">{{'MLP_CURD_LBL_NAME_PRODUCT' | translate}}</label>
        <div class="input-group">
            <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'MLP_CURD_LBL_NAME_PRODUCT' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
            <span class="input-group-btn">
                <button type="button" ng-click="model.Name='';" class="btn btn-default no-shadow">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'MLP_CURD_LBL_GROUP_PRODUCT' | translate}}</label>
        <div class="input-group">
            <ui-select tagging ng-model="model.Group" theme="bootstrap">
                <ui-select-match placeholder="{{'MLP_CURD_LBL_GROUP_PRODUCT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in productGroups | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
                <button type="button" ng-click="model.Group=''" class="btn btn-default no-shadow" style="">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->

                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'RSPS_CURD_LBL_SUPPLIES_CREATEDAY' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.FromTo" autocomplete="off" class="form-control" type="text" placeholder="{{'RSPS_CURD_LBL_SUPPLIES_CREATEDAY' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='FromTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromTo='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'RSPS_CURD_LBL_SUPPLIES_ENDDAY' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.DateTo" autocomplete="off" class="form-control" type="text" placeholder="{{'RSPS_CURD_LBL_SUPPLIES_ENDDAY' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='DateTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.DateTo='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'RSPS_CURD_SEARCH_LBL_PURCHASE_ORDER_SUPPLIER' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.PoSupCode" theme="bootstrap" on-select="changleSelect('PoSupCode',$item)">
                            <ui-select-match placeholder="{{'RSPS_CURD_SEARCH_TXT_PURCHASE_ORDER_SUPPLIER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in poSups | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.PoSupCode=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'Khách hàng' | translate}}</label>
        <div class="input-group">
            <ui-select tagging ng-model="model.CusCode" theme="bootstrap">
                <ui-select-match placeholder="{{'Chọn Khách hàng' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in customers | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
                <button type="button" ng-click="model.CusCode=''" class="btn btn-default no-shadow">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <div class="col-md-2">
                    <label class="fw600 text-underline">{{'RSPS_CURD_SEARCH_LBL_SUPPLIER' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.SupCode" theme="bootstrap" on-select="changleSelect('SupCode',$item)">
                            <ui-select-match placeholder="{{'RSPS_CURD_SEARCH_TXT_SUPPLIER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in suppliers | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.SupCode=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-2">
        <label class="fw600 text-underline">{{'Loại' | translate}}</label>
        <div class="input-group">
            <ui-select tagging ng-model="model.Type" theme="bootstrap">
                <ui-select-match placeholder="{{'Loại' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in listTypes | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
                <button type="button" ng-click="model.Type=''" class="btn btn-default no-shadow" style="">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <div class="col-md-1 ">
                    <div class="btn-group pt20 d-flex">
                        <div class="text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                    </div>
                </div>
                <i ng-click="showSearch()" class="fas fa-angle-up pull-right h28 w28 close-input-search hide-search-more-line" role="button" title="Ẩn tìm kiếm" style="margin-right: 20px !important;"></i>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped" 
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData">
    <tfoot>
        <tr>
            <th colspan="1" class=""></th>
            <th colspan="1" class=""></th>
            <th colspan="1" class=""></th>
            <th colspan="1" class=""></th>
            <th colspan="2" class="text-danger">{{'RSPS_TITLE_TOTAL' | translate}}</th>
            <th colspan="1" class=""><span class="text-success">{{costTotal | number : fractionSize}}</span></th>
            <th colspan="1" class=""><span class="text-success">{{total | number : fractionSize}}</span></th>
            <th colspan="1" class=""></th>
        </tr>
    </tfoot>
</table>