<div class="modal-header">
    <img class="icon-remove" title="Đóng" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-chart-line fs17" style="padding-top:8px"></i>
    <span class="modal-title" id="modal-title">{{'STS_SALARY_LBL_CHART'|translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="card" style="padding:15px">
                        <div class="card-header pb20">
                            <h4 class="card-title">{{'STS_LBL_HOUR' | translate}}</h4>
                            <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                            <div class="heading-elements">
                                <div class="text-center">
                                    <a ng-click="searchStatistical()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                        <span><i class="fa fa-search" style="color:white"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body p15">
                                <canvas id="lineWorkTime" class="chart chart-line" chart-data="WorkTime.data"
                                        chart-labels="WorkTime.labels" chart-series="WorkTime.series" chart-options="optionsWorkTime"
                                        chart-dataset-override="datasetOverride"></canvas>
                                <div class="text-center">
                                    <h2>
                                        <b>{{'STS_SALARY_TITLE_CHART'|translate}} <span class="text-danger">{{WorkTime.user}}</span></b>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
